@import '../../../mixins/media';
@import '../../../utils/variables.scss';

section.productlist__additionaltips {
  padding: 70px 0;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  @include media-forHEADER {
    @include media-tablet {
      padding: 40px 4%;
    }
  }
  .productlist__posibilities-wrap {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // flex-flow: row wrap;
    max-width: $mediaMAXWIDTH;
    margin: 0 auto;
    // width: 100%;
    width: 94%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    @include media-forHEADER {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      @include media-tablet {
        // width: 100%;
      }
    }

    .productlist__additionaltips-list-element {
      // flex: 0 1 calc(21% + 20px);
      // margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      @include media-tablet {
        // flex: 0 1 calc(36% + 20px);
      }
      img {
        height: 100px;
        width: 100px;
        // border-radius: 100px;
        opacity: 1;
        // max-width:100px;
        margin-bottom: 33px;
        @include media-tablet {
          margin-bottom: 10px;
          height: 80px;
          width: 80px;
        }
      }
      .productlist__additionaltips-list-element-text {
        h3 {
          text-align: center;
          font: normal normal bold 22px/28px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #28373b;
          opacity: 1;
          margin-bottom: 5px;
          @include media-tablet {
            font: normal normal bold 16px/20px 'Mulish', sans-serif;
          }
        }
        p {
          text-align: center;
          font: normal normal 300 16px/20px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #28373b;
          opacity: 1;
          @include media-tablet {
            font: normal normal 300 10px/13px 'Mulish', sans-serif;
          }
        }
      }
    }
  }
}
