@import '../../../mixins/media';
// @include media-tablet {
//     // padding: 0 10px;
//     width: 90%;
//     margin: 0 auto 40px;
//   }
.page404 {
  position: relative;
}
.page404__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.page404__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //HEADER
  min-height: calc(100vh - 97px - 114px);
  @include media-tablet {
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 58px);
    @media screen and (max-height: 450px) {
      margin-top: 80px;
      justify-content: flex-start;
    }
  }
  p {
    font: normal normal normal 18px/23px Muli;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-bottom: 20px;
    @include media-tablet {
      margin-bottom: 15px;
      font: normal normal normal 15px/10px Muli;
    }
  }
  h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font: normal normal 800 30px/23px Muli;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 30px;
    span {
      margin-top: 6px;
      text-align: center;
      font: italic normal bold 18px/23px Muli;
      letter-spacing: 0px;
      color: #333333;
      @include media-tablet {
        margin-top: 5px;
        font: italic normal bold 15px/20px Muli;
      }
    }
    @include media-tablet {
      font: normal normal 800 22px/30px Muli;
    }
  }
  .page404__container__btn {
    text-align: center;
    cursor: pointer;
    font: normal normal bold 18px/23px Muli;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
    padding: 14px 30px;
    background: #2ec9ad 0% 0% no-repeat padding-box;
    border: 1px solid #2ec9ad;
    border-radius: 40px;
    opacity: 1;
    @include media-tablet {
      font: normal normal bold 15px/19px Muli;
    }
  }
}
