/* @font-face {
    font-family: 'Mulish';
    src: local('Mulish Light'), local('Mulish-Light'), url('../webfonts/Mulishlight.woff2') format('woff2'), url('../webfonts/Mulishlight.woff') format('woff'), url('../webfonts/Mulishlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Regular'), local('Mulish-Regular'), url('../webfonts/Mulishregular.woff2') format('woff2'), url('../webfonts/Mulishregular.woff') format('woff'), url('../webfonts/Mulishregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish SemiBold'), local('Mulish-SemiBold'), url('../webfonts/Mulishsemibold.woff2') format('woff2'), url('../webfonts/Mulishsemibold.woff') format('woff'), url('../webfonts/Mulishsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Italic'), local('Mulish-Italic'), url('../webfonts/Mulishitalic.woff2') format('woff2'), url('../webfonts/Mulishitalic.woff') format('woff'), url('../webfonts/Mulishitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish ExtraLight Italic'), local('Mulish-ExtraLightItalic'), url('../webfonts/Mulishextralightitalic.woff2') format('woff2'), url('../webfonts/Mulishextralightitalic.woff') format('woff'), url('../webfonts/Mulishextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish ExtraBold Italic'), local('Mulish-ExtraBoldItalic'), url('../webfonts/Mulishextrabolditalic.woff2') format('woff2'), url('../webfonts/Mulishextrabolditalic.woff') format('woff'), url('../webfonts/Mulishextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish ExtraBold'), local('Mulish-ExtraBold'), url('../webfonts/Mulishextrabold.woff2') format('woff2'), url('../webfonts/Mulishextrabold.woff') format('woff'), url('../webfonts/Mulishextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Light Italic'), local('Mulish-LightItalic'), url('../webfonts/Mulishlightitalic.woff2') format('woff2'), url('../webfonts/Mulishlightitalic.woff') format('woff'), url('../webfonts/Mulishlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Black'), local('Mulish-Black'), url('../webfonts/Mulishblack.woff2') format('woff2'), url('../webfonts/Mulishblack.woff') format('woff'), url('../webfonts/Mulishblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish ExtraLight'), local('Mulish-ExtraLight'), url('../webfonts/Mulishextralight.woff2') format('woff2'), url('../webfonts/Mulishextralight.woff') format('woff'), url('../webfonts/Mulishextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Bold Italic'), local('Mulish-BoldItalic'), url('../webfonts/Mulishbolditalic.woff2') format('woff2'), url('../webfonts/Mulishbolditalic.woff') format('woff'), url('../webfonts/Mulishbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish SemiBold Italic'), local('Mulish-SemiBoldItalic'), url('../webfonts/Mulishsemibolditalic.woff2') format('woff2'), url('../webfonts/Mulishsemibolditalic.woff') format('woff'), url('../webfonts/Mulishsemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Bold'), local('Mulish-Bold'), url('../webfonts/Mulishbold.woff2') format('woff2'), url('../webfonts/Mulishbold.woff') format('woff'), url('../webfonts/Mulishbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: local('Mulish Black Italic'), local('Mulish-BlackItalic'), url('../webfonts/Mulishblackitalic.woff2') format('woff2'), url('../webfonts/Mulishblackitalic.woff') format('woff'), url('../webfonts/Mulishblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
} */
