@import '../../../mixins/media';
@import '../../../mixins/text';
section.page_gabarit__blockwithbigimg {
  margin-bottom: 0;
  padding-bottom: 80px;
  &.blue {
    background: #005b9d 0% 0% no-repeat padding-box;
    .page_gabarit__blockwithbigimg__wrap {
      .productpage__textblockvariations-textimgheader__text {
        @include hblock('h3', 26px, normal, 33px) {
          color: white;
        }
        p {
          color: white;
        }
      }
    }
  }
  .page_gabarit__blockwithbigimg__wrap {
    ul {
      padding-left: 20px;
      li {
        list-style: inherit;
        font: normal normal 300 18px/23px Muli;
        letter-spacing: 0;
        color: #333;
        opacity: 1;
        margin-bottom: 2px;
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &.img-left {
      .productpage__textblockvariations-textimgheader__img {
        padding: 0 25px 0 0px;
        // padding: 40px 40px 40px 0;
        flex: 1 1 7%;
        @include media-tablet {
          margin-bottom: 24.5px;
          padding: 0;
          flex: 1;
        }
      }
      .productpage__textblockvariations-textimgheader__text {
        padding: 0 0 0 25px;
        @include media-tablet {
          padding: 0;
        }
      }
    }
    &.img-right {
      .productpage__textblockvariations-textimgheader__img {
        // padding: 40px 0 40px 40px;
        flex: 1 1 7%;
        @include media-tablet {
          padding: 0;
          flex: 1;
        }
      }
    }
  }
}
