section.productpage__productslinked.productlist__products
    .productlist__products__wrap.main
        h2 The products
        .productlist__products-container
            each val,index in [1,2,3]
                .productlist__products-container-element
                    .productlist__products-container-element-imgcontainer
                        img(src="https://wallpapercave.com/wp/wp3850825.jpg", alt="")
                    .productlist__products-container-element-controller
                        .productlist__products-container-element-text
                            h3 Product name on two lines
                            p Short description on one line
                        .productlist__products-container-element-controllers
                            .productlist__products-container-element-controllers-price
                                span.price.price-disqount 89
                                    sup €99
                                span.price 89
                                    sup €99
                            .productlist__products-container-element-controllers-manipulator
                                .productlist__products-container-element-controllers-counter
                                    button(class="minus" disabled="disabled"): i(class="fas fa-minus")
                                    span 1
                                    button.plus: i(class="fas fa-plus")
                                .productlist__products-container-element-controllers-shop
                                    button.buy-button 
                                        i(class="fas fa-shopping-basket")
                                .productlist__products-container-element-controllers-successbuying
                                    p 
                                        span.mobile +1
                                        i(class="fas fa-check")
                                        span.desktop 1 new added to cart
                                    .template(style='display: none') 1 ; new added to cart
                .productlist__products-container-element.with-disqount
                    .productlist__products-container-element-imgcontainer
                        img(src="https://wallpapercave.com/wp/wp3850825.jpg", alt="")
                    span.productlist__products-container-element-disqount -50%
                    .productlist__products-container-element-controller
                        .productlist__products-container-element-text
                            h3 Product name on two lines
                            p Short description on one line Short description on one line
                        .productlist__products-container-element-controllers
                            .productlist__products-container-element-controllers-price
                                span.price 89
                                    sup €99
                            .productlist__products-container-element-controllers-manipulator
                                .productlist__products-container-element-controllers-counter
                                    button(class="minus" disabled="disabled"): i(class="fas fa-minus")
                                    span 5
                                    button.plus: i(class="fas fa-plus")
                                .productlist__products-container-element-controllers-shop
                                    button.buy-button 
                                        i(class="fas fa-shopping-basket")
                                .productlist__products-container-element-controllers-successbuying
                                    p 
                                        span.mobile +1
                                        i(class="fas fa-check")
                                        span.desktop 1 new added to cart
                                    .template(style='display: none') 1 ; new added to cart

