section.use_case__usecases-last
    h3 Last use cases added
    .use_case__usecases-last
        a(href="").use_case__usecases-last__element.active-element
            .use_case__usecases-last__element-img
                img(src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="")
            .use_case__usecases-last__element-text
                h3 Category of this use case
                p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
                span 10 octobre 2020 - 16:01
        each val, index in [1,2,3]
            a(href="").use_case__usecases-last__element
                .use_case__usecases-last__element-img
                    img(src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="")
                .use_case__usecases-last__element-text
                    h3 Category of this use case
                    p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
                    span 10 octobre 2020 - 16:01