//- tipscard
section.usecase_details__tipscard.productlist__additionaltips
   .productlist__posibilities-wrap
    each val, index in [1,2,3,4]
        .productlist__additionaltips-list-element
            img(src="https://cdn.vox-cdn.com/thumbor/HOBzegwV2CJRJDWJyh71nYq8gEE=/0x0:2625x1907/1200x800/filters:focal(1103x744:1523x1164)/cdn.vox-cdn.com/uploads/chorus_image/image/52187575/jbareham_160418_0931_0086_FINAL_NO_BUFFER_5MB_02.0.0.jpeg", alt="")
            .productlist__additionaltips-list-element-text
                h3 Free shipping
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
