<svg class="spec" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50.304" height="43.878" viewBox="0 0 50.304 43.878">
  <defs>
    <clipPath id="clip-path">
      <path id="Контур_24842" data-name="Контур 24842" d="M0,10.369H50.3V-33.509H0Z" transform="translate(0 33.509)" fill="#46c5b0"/>
    </clipPath>
  </defs>
  <g id="Сгруппировать_2871" data-name="Сгруппировать 2871" transform="translate(-397 20.509)">
    <g id="Сгруппировать_2870" data-name="Сгруппировать 2870" transform="translate(397 -20.509)" clip-path="url(#clip-path)">
      <g id="Сгруппировать_2859" data-name="Сгруппировать 2859" transform="translate(11.65 5.056)">
        <path class="color" id="Контур_24831" data-name="Контур 24831" d="M1.223,4.61a24.544,24.544,0,0,1,15.526,0A6.483,6.483,0,0,1,21.924-1.7v-.131A12.938,12.938,0,0,0,9.118-14.9,12.938,12.938,0,0,0-3.952-2.092c0,.086,0,.174,0,.261V-1.7A6.482,6.482,0,0,1,1.223,4.61" transform="translate(3.953 14.898)" fill="#fff"/>
      </g>
      <g id="Сгруппировать_2860" data-name="Сгруппировать 2860" transform="translate(6.474 20.609)">
        <path class="color" id="Контур_24832" data-name="Контур 24832" d="M7.644.024A3.882,3.882,0,0,0,3.762,3.905V7.786a22,22,0,0,0-20.7,0V3.905A3.883,3.883,0,0,0-20.719-.076,3.881,3.881,0,0,0-24.7,3.7c0,.067,0,.135,0,.2v7.764a3.881,3.881,0,0,0,3.881,3.881h1.294v5.176h5.17V15.55H1.178v5.176H6.352V15.55H7.644a3.882,3.882,0,0,0,3.881-3.881V3.905A3.883,3.883,0,0,0,7.644.024" transform="translate(24.701 0.077)" fill="#fff"/>
      </g>
      <g id="Сгруппировать_2861" data-name="Сгруппировать 2861" transform="translate(9.733 0)">
        <path id="Контур_24833" data-name="Контур 24833" d="M.348,2.3a.1.1,0,0,0,.045-.085V-5.543A1.889,1.889,0,0,1,2.281-7.431,1.889,1.889,0,0,1,4.169-5.543V2.214a.1.1,0,0,0,.045.085,3.405,3.405,0,1,1-3.867,0ZM2.28-6.415a1.047,1.047,0,0,0-1.04,1.04V-.4H3.327V-5.375A1.048,1.048,0,0,0,2.28-6.415" transform="translate(1.125 7.431)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2862" data-name="Сгруппировать 2862" transform="translate(6.681 0.906)">
        <path id="Контур_24834" data-name="Контур 24834" d="M.614.179h-2.22a.38.38,0,0,1-.38-.38.38.38,0,0,1,.38-.38H.621A.38.38,0,0,1,1-.2a.38.38,0,0,1-.38.38Z" transform="translate(1.985 0.58)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2863" data-name="Сгруппировать 2863" transform="translate(7.647 2.797)">
        <path id="Контур_24835" data-name="Контур 24835" d="M.386.179H-.867a.38.38,0,0,1-.38-.38.38.38,0,0,1,.38-.38H.39A.38.38,0,0,1,.77-.2a.38.38,0,0,1-.38.38Z" transform="translate(1.247 0.58)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2864" data-name="Сгруппировать 2864" transform="translate(6.681 4.687)">
        <path id="Контур_24836" data-name="Контур 24836" d="M.09,0H2.316a.38.38,0,1,1,0,.759H.09A.38.38,0,1,1,.09,0" transform="translate(0.29 0)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2865" data-name="Сгруппировать 2865" transform="translate(7.647 6.577)">
        <path id="Контур_24837" data-name="Контур 24837" d="M.386.179H-.867a.38.38,0,0,1-.38-.38.38.38,0,0,1,.38-.38H.39A.38.38,0,0,1,.77-.2a.38.38,0,0,1-.38.38Z" transform="translate(1.247 0.58)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2866" data-name="Сгруппировать 2866" transform="translate(6.681 8.468)">
        <path id="Контур_24838" data-name="Контур 24838" d="M.09,0H2.316a.38.38,0,1,1,0,.759H.09A.38.38,0,1,1,.09,0" transform="translate(0.29 0)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2867" data-name="Сгруппировать 2867" transform="translate(4.01 39.877)">
        <path id="Контур_24839" data-name="Контур 24839" d="M.259,0a1.1,1.1,0,1,0,1.1,1.1A1.1,1.1,0,0,0,.259,0" transform="translate(0.837)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2868" data-name="Сгруппировать 2868" transform="translate(0 33.683)">
        <path id="Контур_24840" data-name="Контур 24840" d="M1.2,0A5.1,5.1,0,1,0,6.3,5.1,5.1,5.1,0,0,0,1.2,0m0,2a.917.917,0,1,1-.917.917A.916.916,0,0,1,1.2,2h.007Zm0,7.486A2.192,2.192,0,1,1,1.2,5.1h0A2.192,2.192,0,0,0,1.2.714a4.387,4.387,0,1,1,0,8.773Z" transform="translate(3.893)" fill="#46c5b0"/>
      </g>
      <g id="Сгруппировать_2869" data-name="Сгруппировать 2869" transform="translate(37.434 5.579)">
        <path id="Контур_24841" data-name="Контур 24841" d="M2.958.871-7.081-2.781a.524.524,0,0,0-.676.3c0,.005,0,.01-.005.014L-9.525,2.381a.525.525,0,0,0,.3.677l.016.005,2.045.744L-8.019,5.5a.169.169,0,0,0,.056.232.165.165,0,0,0,.131.02L-4.4,4.811l5.234,1.9a.525.525,0,0,0,.677-.3A.074.074,0,0,1,1.514,6.4L3.276,1.553a.524.524,0,0,0-.3-.677L2.958.871m-9.889.444a.345.345,0,0,1-.443.207.345.345,0,0,1-.207-.443h0l.471-1.3a.345.345,0,0,1,.443-.207.346.346,0,0,1,.208.443h0Zm1.062,1.122a.345.345,0,0,1-.443.207A.345.345,0,0,1-6.518,2.2l.944-2.6A.345.345,0,0,1-5.132-.6a.346.346,0,0,1,.207.444h0Zm1.535-.177a.345.345,0,0,1-.443.207.347.347,0,0,1-.207-.444l.473-1.3A.345.345,0,0,1-4.068.519a.347.347,0,0,1,.207.444h0Zm1.062,1.122a.345.345,0,0,1-.443.207.348.348,0,0,1-.207-.444l.944-2.6A.347.347,0,0,1-2.534.344a.345.345,0,0,1,.207.443h0ZM-2.213,4.5a.347.347,0,0,1-.444.207.345.345,0,0,1-.207-.443h0l1.418-3.9A.345.345,0,0,1-1,.165.345.345,0,0,1-.8.608Zm1.535-.177a.347.347,0,0,1-.444.206.346.346,0,0,1-.207-.443l.945-2.6a.346.346,0,0,1,.443-.207.347.347,0,0,1,.207.444h0ZM.86,4.15a.345.345,0,1,1-.649-.236h0l.471-1.3a.346.346,0,0,1,.651.236h0Z" transform="translate(9.559 2.815)" fill="#46c5b0"/>
      </g>
    </g>
  </g>
</svg>
