<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="239" height="208.472" viewBox="0 0 239 208.472">
  <defs>
    <clipPath id="clip-path">
      <path id="Контур_24842" data-name="Контур 24842" d="M0,174.963H239V-33.509H0Z" transform="translate(0 33.509)" fill="#46c5b0"/>
    </clipPath>
  </defs>
  <g id="Сгруппировать_2870" data-name="Сгруппировать 2870" clip-path="url(#clip-path)">
    <g class="changecolor" id="Сгруппировать_2859" data-name="Сгруппировать 2859" transform="translate(55.353 24.024)">
      <path id="Контур_24831" data-name="Контур 24831" d="M20.639,77.785a116.614,116.614,0,0,1,73.767,0,30.8,30.8,0,0,1,24.587-29.962V47.2A61.473,61.473,0,0,0-3.948,45.945c-.006.411-.006.827,0,1.238V47.8A30.8,30.8,0,0,1,20.639,77.785" transform="translate(3.953 14.898)" fill="#005b9d"/>
    </g>
    <g class="changecolor" id="Сгруппировать_2860" data-name="Сгруппировать 2860" transform="translate(30.76 97.918)">
      <path id="Контур_24832" data-name="Контур 24832" d="M128.972.4a18.444,18.444,0,0,0-18.44,18.44v18.44a104.507,104.507,0,0,0-98.36,0V18.842A18.447,18.447,0,0,0-5.783-.071,18.44,18.44,0,0,0-24.7,17.884c-.006.317-.006.641,0,.958V55.729a18.44,18.44,0,0,0,18.44,18.44H-.109V98.762H24.453V74.169h73.8V98.762h24.587V74.169h6.134a18.444,18.444,0,0,0,18.44-18.44V18.842A18.448,18.448,0,0,0,128.972.4" transform="translate(24.701 0.077)" fill="#005b9d"/>
    </g>
    <g id="Сгруппировать_2861" data-name="Сгруппировать 2861" transform="translate(46.244 0)">
      <path id="Контур_24833" data-name="Контур 24833" d="M5.873,38.8a.5.5,0,0,0,.212-.4V1.54a8.971,8.971,0,0,1,17.942,0V38.4a.482.482,0,0,0,.212.4,16.178,16.178,0,1,1-18.372,0ZM15.05-2.6a4.976,4.976,0,0,0-4.94,4.94V25.978h9.917V2.337A4.98,4.98,0,0,0,15.05-2.6" transform="translate(1.125 7.431)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2862" data-name="Сгруппировать 2862" transform="translate(31.741 4.305)">
      <path id="Контур_24834" data-name="Контур 24834" d="M10.364,3.028H-.181a1.805,1.805,0,0,1-1.8-1.8,1.805,1.805,0,0,1,1.8-1.8H10.4a1.8,1.8,0,0,1,0,3.608Z" transform="translate(1.985 0.58)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2863" data-name="Сгруппировать 2863" transform="translate(36.333 13.289)">
      <path id="Контур_24835" data-name="Контур 24835" d="M6.511,3.028H.557a1.8,1.8,0,1,1,0-3.608H6.53a1.8,1.8,0,1,1,0,3.608Z" transform="translate(1.247 0.58)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2864" data-name="Сгруппировать 2864" transform="translate(31.741 22.266)">
      <path id="Контур_24836" data-name="Контур 24836" d="M1.514,0H12.091a1.8,1.8,0,1,1,0,3.608H1.514A1.8,1.8,0,1,1,1.514,0" transform="translate(0.29 0)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2865" data-name="Сгруппировать 2865" transform="translate(36.333 31.25)">
      <path id="Контур_24837" data-name="Контур 24837" d="M6.511,3.028H.557a1.8,1.8,0,1,1,0-3.608H6.53a1.8,1.8,0,1,1,0,3.608Z" transform="translate(1.247 0.58)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2866" data-name="Сгруппировать 2866" transform="translate(31.741 40.234)">
      <path id="Контур_24838" data-name="Контур 24838" d="M1.514,0H12.091a1.8,1.8,0,1,1,0,3.608H1.514A1.8,1.8,0,1,1,1.514,0" transform="translate(0.29 0)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2867" data-name="Сгруппировать 2867" transform="translate(19.05 189.459)">
      <path id="Контур_24839" data-name="Контур 24839" d="M4.37,0A5.207,5.207,0,1,0,9.578,5.207,5.209,5.209,0,0,0,4.37,0" transform="translate(0.837)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2868" data-name="Сгруппировать 2868" transform="translate(0 160.032)">
      <path id="Контур_24840" data-name="Контур 24840" d="M20.327,0a24.22,24.22,0,1,0,24.22,24.22A24.22,24.22,0,0,0,20.327,0m0,9.481a4.355,4.355,0,1,1-4.355,4.355,4.352,4.352,0,0,1,4.355-4.355h.031Zm0,35.568a10.415,10.415,0,1,1-.012-20.829h.012a10.415,10.415,0,0,0,0-20.829,20.842,20.842,0,1,1,0,41.683Z" transform="translate(3.893)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2869" data-name="Сгруппировать 2869" transform="translate(177.855 26.508)">
      <path id="Контур_24841" data-name="Контур 24841" d="M49.913,14.7,2.214-2.651A2.488,2.488,0,0,0-1-1.214c-.006.025-.019.05-.025.068L-9.395,21.874A2.493,2.493,0,0,0-7.958,25.09a.351.351,0,0,1,.075.025l9.718,3.534L-2.24,36.674a.8.8,0,0,0,.268,1.1.783.783,0,0,0,.622.093l16.294-4.448L39.81,42.466a2.493,2.493,0,0,0,3.216-1.437.351.351,0,0,1,.025-.075l8.374-23.013a2.491,2.491,0,0,0-1.443-3.216c-.019-.006-.044-.019-.068-.025M2.93,16.81A1.641,1.641,0,1,1-.156,15.69h0l2.24-6.165a1.644,1.644,0,0,1,3.092,1.12v.006Zm5.046,5.332a1.641,1.641,0,1,1-3.086-1.12L9.375,8.684a1.642,1.642,0,1,1,3.086,1.126h0Zm7.291-.84a1.642,1.642,0,1,1-3.086-1.126l2.246-6.159a1.641,1.641,0,1,1,3.086,1.12h0Zm5.046,5.332a1.642,1.642,0,1,1-3.086-1.126l4.486-12.331A1.644,1.644,0,0,1,24.8,14.3h0Zm5.033,5.332a1.644,1.644,0,0,1-3.092-1.12v-.006l6.738-18.515a1.642,1.642,0,0,1,3.086,1.126Zm7.291-.84A1.645,1.645,0,0,1,29.545,30l4.492-12.343a1.642,1.642,0,1,1,3.086,1.126h0Zm7.31-.846a1.641,1.641,0,1,1-3.086-1.12v-.006l2.24-6.159a1.644,1.644,0,0,1,3.092,1.12h0Z" transform="translate(9.559 2.815)" fill="#46c5b0"/>
    </g>
  </g>
</svg>
