<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
  <defs>
    <clipPath id="clip-Contact_Email">
      <rect width="40" height="40"/>
    </clipPath>
  </defs>
  <g id="Contact_Email" clip-path="url(#clip-Contact_Email)">
    <g id="noun_Package_3645731" transform="translate(14.213 -1.515)">
      <path id="Path_24822" data-name="Path 24822" d="M33.207,10.417,18.484,3.055a.526.526,0,0,0-.47,0L3.291,10.417A.526.526,0,0,0,3,10.887V25.61a.526.526,0,0,0,.291.473l14.723,7.362a.526.526,0,0,0,.47,0l14.723-7.362a.526.526,0,0,0,.291-.473V10.887A.526.526,0,0,0,33.207,10.417Z" transform="translate(-3 -3)" fill="none"/>
    </g>
    <g id="noun_Email_3623421" transform="translate(-1 -1.513)">
      <g id="Group_3115" data-name="Group 3115" transform="translate(2 2.513)">
        <path id="Path_25665" data-name="Path 25665" d="M39.743,16.378l.006-.009-4.183-3.2V7.3a.636.636,0,0,0-.633-.639H27.058L22.151,2.9a1.887,1.887,0,0,0-2.3,0l-4.91,3.753H7.067a.636.636,0,0,0-.633.639v5.872l-4.18,3.2.006.009a.627.627,0,0,0-.26.5v23a.636.636,0,0,0,.633.639H39.367A.636.636,0,0,0,40,39.874v-23a.627.627,0,0,0-.257-.5ZM35.567,14.77l2.78,2.127-2.78,2.322ZM20.62,3.919a.62.62,0,0,1,.766,0l3.576,2.738H17.038ZM7.7,7.935H34.3V20.276l-8.708,7.27L22.217,24.73a1.878,1.878,0,0,0-2.431,0l-3.378,2.816L7.7,20.276ZM3.653,16.9l2.78-2.13v4.447Zm-.386,1.336L15.415,28.376,3.267,38.516Zm1.125,21L20.6,25.71a.624.624,0,0,1,.81,0l16.2,13.523Zm34.341-.719L26.585,28.376,38.733,18.235Z" transform="translate(-2 -2.513)" fill="#005b9d" stroke="#005b9d" stroke-width="1"/>
        <path id="Path_25666" data-name="Path 25666" d="M28.7,26.5h3.167a.639.639,0,0,0,0-1.278H28.7a4.472,4.472,0,0,1,0-8.943h1.267a3.184,3.184,0,0,1,3.167,3.194v2.555a.633.633,0,1,1-1.267,0V19.472a1.908,1.908,0,0,0-1.9-1.916H28.7A3.171,3.171,0,0,0,25.638,19.9a3.206,3.206,0,0,0,1.439,3.6,3.146,3.146,0,0,0,3.818-.455,1.889,1.889,0,0,0,2.132.826A1.91,1.91,0,0,0,34.4,22.027V19.472A4.458,4.458,0,0,0,29.967,15H28.7a5.749,5.749,0,0,0,0,11.5Zm0-3.833a1.916,1.916,0,0,1,0-3.833h1.267a.636.636,0,0,1,.633.639v1.278A1.908,1.908,0,0,1,28.7,22.666Z" transform="translate(-9.7 -7.024)" fill="#005b9d"/>
      </g>
    </g>
  </g>
</svg>