section.productpage__posibletodowithdevice
    .productpage__posibletodowithdevice__header
        h2 What is possible to do with this device
        button.productpage__posibletodowithdevice__header-btn Discover all use cases
    .productpage__posibletodowithdevice__content
        each val in [1,2,3]
            .productpage__posibletodowithdevice__content-element
                img(src="https://images.fineartamerica.com/images-medium-large-5/mountant-dean-liu.jpg", alt="alt")
                .productpage__posibletodowithdevice__content-element-text
                    p Category of this use case
                    h3 Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
                    span 10 octobre 2020 - 16:01
    .productpage__posibletodowithdevice__header.productpage__posibletodowithdevice__bottom
        button.productpage__posibletodowithdevice__header-btn Discover all use cases