section.contact__container
    .contact__container__texthead
        h3 Contact us by phone
        p We welcome you by phone at the following times: Monday to Friday 9 a.m. to 6 p.m.
    .contact__container__phonecontainer
        a(href="tel:+33930088008").phone-container
            i.fas.fa-phone-alt
            .phone-container__text
                span.number +339 8008 3008
                span.text (number not surcharged)
    .contact__container__texthead
        h3 Email
        p In the hope that you can resolve your concern / your request as soon as possible, maybe one of these frequently asked questions will help you?