# Файлы и папки операционной системы
.DS_Store
Thumbs.db
build

# Файлы редактора
.idea
*.sublime*
.vscode
build.rar
src.rar
# Вспомогательные файлы
*.log*
node_modules/
reports/

# Папка с собранными файлами проекта
# build/
