.table-container(role='table' aria-label='Destinations')
    .flex-table.header(role='rowgroup')
        .flex-row.first(role='columnheader') Order number
        .flex-row(role='columnheader') Date
        .flex-row(role='columnheader') State
        .flex-row(role='columnheader') Total
        .flex-row.first.toolbar-header(role='columnheader') 
            i.fas.fa-tools
    each val in [1,2,3]
        .flex-table.row(role='rowgroup')
            .flex-row.first.order-number-cell(role='cell')
                p.flex-row-description Order number:
                a.link.flag-icon.flag-icon-gb #35478
            .flex-row.date-cell(role='cell') 
                p.flex-row-description Date:
                p 01/01/<span class='decade'>20</span>20
            .flex-row.state-cell(role='cell') 
                p.flex-row-description State:
                p Shipping
            .flex-row.total-cell(role='cell') 
                p.flex-row-description Total:
                p 49<sup>€99</sup> - 4 items
            .flex-row.first.toolbar-cell(role='cell')
                p.flex-row-description Actions:
                a.toolbar-icon-wrapper
                    i.fas.fa-eye
                a.toolbar-icon-wrapper
                    i.fas.fa-file-invoice-dollar
    //- .flex-table.row(role='rowgroup')
    //-     .flex-row.rowspan.first
    //-         span.flag-icon.flag-icon-us
    //-         |  United States
    //-     .column
    //-         .flex-row
    //-             .flex-cell(role='cell') Napa and Sonoma Wine Country Tour
    //-             .flex-cell(role='cell') 5 Sep, 9p.m.
    //-             .flex-cell(role='cell') US$600
    //-             .flex-cell(role='cell') US$600
    //-         .flex-row(role='rowgroup')
    //-             .flex-cell(role='cell') Day Trip to Martha&apos;s Vineyard
    //-             .flex-cell(role='cell') 12 Sep, 5p.m.
    //-             .flex-cell(role='cell') US$600
    //-             .flex-cell(role='cell') US$600
    //-         .flex-row(role='rowgroup')
    //-             .flex-cell(role='cell') Grand Canyon West Rim and Hoover Dam Tour
    //-             .flex-cell(role='cell') 5 Sep, 2p.m.
    //-             .flex-cell(role='cell') US$550
    //-             .flex-cell(role='cell') US$600
    