section.page_garbit__textblockwithlogo
    .page_garbarit__textblockwithlogo-wrap.main
        .page_garbit__textblockwithlogo__text
            h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vitae lorem dolor. Donec facilisis magna ac nunc placerat laoreet eu vitae mauris. Curabitur vestibulum dui in blandit consequat. Integer eu dignissim sem. Fusce quis ex ac elit pellentesque aliquet. Praesent lacinia ante massa, vitae ultrices ipsum porttitor eget.
        .page_garbit__textblockwithlogo__logos
            each val in ["img/shield.png","img/lamp.png","img/sofa.png","img/cristal.png"]
                .page_garbit__textblockwithlogo__logos__element
                    .page_garbit__textblockwithlogo__logos__element__img
                        img(src=val, alt="")
                    .page_garbit__textblockwithlogo__logos__element__text
                        h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.