section.productpage__posibletodowithdevice.use_case__posibletodowithdevice
    .productpage__posibletodowithdevice__header
        h3 Discover others use cases
        button.productpage__posibletodowithdevice__header-btn Discover all use cases
    .productpage__posibletodowithdevice__content
        each val in [1,2,3]
            .productpage__posibletodowithdevice__content-element
                img(src="https://images.all-free-download.com/images/graphicthumb/beautiful_scenery_02_hd_picture_166319.jpg", alt="alt")
                .productpage__posibletodowithdevice__content-element-text
                    h3 Category of this use case
                    p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
                    span 10 octobre 2020 - 16:01
    .productpage__posibletodowithdevice__header.productpage__posibletodowithdevice__bottom
        button.productpage__posibletodowithdevice__header-btn Discover all use cases