section.productpage__posibletodowithdevice.use_case__posibletodowithdevice
    .productpage__posibletodowithdevice__header
        h2 Discover others use cases
        button.productpage__posibletodowithdevice__header-btn Discover all use cases
    .productpage__posibletodowithdevice__content
        each val in [1,2,3]
            .productpage__posibletodowithdevice__content-element
                img(src="https://nexter.org/wp-content/uploads/2019/12/smart-house-devices-pic.jpg", alt="alt")
                .productpage__posibletodowithdevice__content-element-text
                    h3 Category of this use case
                    p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
                    span 10 octobre 2020 - 16:01
    .productpage__posibletodowithdevice__header.productpage__posibletodowithdevice__bottom
        button.productpage__posibletodowithdevice__header-btn Discover all use cases