section.loginpage__container
    h2 SIGN IN
    form.loginpage__container__block
        h3 Already member
        .loginpage__container__block__manipulator
            input(type="email" placeholder="EMAIL")
            input(type="password" placeholder="PASSWORD")
            a(href="") Forgot your password ?
        .loginpage__container__block__email
            button(type="submit") SIGN IN
        .loginpage__container__block__createaccount
            p New customer ?
            a(href="") CREATE AN ACCOUNT