section.page404__container
    h1 Error 404 - PAGE NOT FOUND
    h2 
        |Woooops ! Looks like this page doesn’t exist yet.
    h3 But look how magical our planet is…
    a(href="").page404__container__btn BACK TO THE HOMEPAGE