section.page404__container
    p Error 404 - PAGE NOT FOUND
    h3 
        |Woooops ! Looks like this page doesn’t exist yet.
        span But look how magical our planet is…
    a(href="").page404__container__btn BACK TO THE HOMEPAGE