@import '../../../mixins/media';
section.page_gabarit__headermoreover {
  padding: 0 !important;
  background: #f2f2f2 0% 0% no-repeat padding-box;

  @include media-forHEADER {
    padding: 10px 0 !important;
  }
  @include media-tablet {
    padding: 0 !important;
  }
  .page_gabarit__headermoreover__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 3px;
    transition: max-height 0.5s ease;

    @include media-forHEADER {
      overflow-y: hidden;
      width: 94%;
      margin: 0 auto;
      grid-template-columns: repeat(1, 1fr);
      max-height: 62px;
    }
    @include media-tablet {
      width: 100%;
    }
    &.close {
      .page_gabarit__headermoreover__elem.selected {
        @include media-forHEADER {
          box-shadow: 0px 0px 0px #00000033;
        }
        i {
          @include media-forHEADER {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .page_gabarit__headermoreover__elem {
    position: relative;
    padding: 20px 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, fit-content(100%));
    gap: 10px;
    @include media-forHEADER {
      padding: 10px;
      border-bottom: 2px solid #c2c2c2;
    }
    i {
      display: none;
    }
    &:last-of-type {
      border-bottom: 2px solid transparent;
    }
    &.selected {
      background: #32c9ad 0% 0% no-repeat padding-box;
      border-radius: 10px;
      user-select: none;
      transition: box-shadow 0.5s ease;

      @include media-forHEADER {
        grid-row: 1;
        border-radius: 10px;
        grid-template-columns: 42px 1fr 25px;
        box-shadow: 0px 0px 10px #00000033;
        border-bottom: 2px solid #32c9ad;
      }
      @include media-tablet {
        border-radius: 0;
      }
      i {
        @include media-forHEADER {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          color: white;
          transform-origin: center;
          transition: transform 0.5s ease;
        }
      }
      h2 {
        color: #ffffff;
      }
      .page_gabarit__headermoreover__img {
        background: #ffffff;
        .changecolor {
          path {
            fill: #005b9d;
          }
        }
      }
      &:after {
        z-index: 1;
        bottom: -31px;
        right: 50%;
        transform: translate(50%, 0) rotate(180deg);
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        // pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #32c9ad;
        border-width: 16px;
        margin-left: -16px;
        @include media-forHEADER {
          display: none;
        }
      }
    }
    svg {
      width: 27px;
      height: 27px;
    }
    h2 {
      text-align: left;
      font: normal normal bold 16px/20px 'Mulish', sans-serif;
      letter-spacing: 0px;
      color: #28373b;
      opacity: 1;
    }
  }
  .page_gabarit__headermoreover__img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #005b9d 0% 0% no-repeat padding-box;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    .changecolor {
      path {
        fill: white;
      }
    }
  }
}
