section.page_gabarit__oneblockwithimg.gray
    .page_gabarit_oneblockwithimg-wrap.main
        h2 Want to discover a new features ?
        .page_gabarit_oneblockwithimg-block
            img(src="https://softotor.net/uploads/posts/2020-02/1582528206_53245f10f3c6.jpg", alt="")
            .page_gabarit_oneblockwithimg-text
                h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vitae lorem dolor.