@import '../../../mixins/media';
@import '../../../mixins/text';

section.usecase_details__textblockvariations {
  .productpage__textblockvariations-textimgheader {
    @include media-tablet {
      margin-bottom: 41px;
    }
    .productpage__textblockvariations-textimgheader__text {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media-tablet {
        padding: 0;
      }
    }
    .productpage__textblockvariations-textimgheader__img {
      padding: 0 0 40px 40px;
      @include media-tablet {
        padding: 0;
      }
    }
  }
}
