section.index__youtubeframe
    .index__youtubeframe__frame
        div#player-container
            //- img(src="https://thumbs.gfycat.com/GenerousColossalCurlew-size_restricted.gif", alt="")
            video.landing(width="100%"  autoplay="" loop="" muted="" preload=""  playsinline="")
                source(src="http://nearsens.urich.work/wp-content/uploads/2020/11/WHITE-iPhone-12-Unboxing-Comparison-online-video-cutter.com-1.mp4" type="video/mp4")

            //- iframe(width="“560”" height='“315"' src="“https://www.youtube.com/embed/iG9CE55wbtY?rel=0;&autoplay=1&mute=1&loop=1&playlist=iG9CE55wbtY”" frameborder='“0"' allowfullscreen="" include="")

            //- video(src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" controls="" loop="" muted="")
        //- iframe(width="560" height="315" src="https://www.youtube.com/embed/kZZ9cMZKDO8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
        //- img(src="https://www.imgworlds.com/wp-content/uploads/2015/12/18-CONTACTUS-HEADER.jpg", alt="")
    .index__youtubeframe__text
        h3 Your solution. One app.
        p The app allows the users to be alerted at any time and any place in case of events. Furthermore, it enables you to control your alarm, appliances and constantly monitor your home...
        ul
            li 
                i.fas.fa-plus 
                |Intuitive and logical
            li 
                i.fas.fa-plus 
                |Personal secured access
            li
                i.fas.fa-plus 
                |Infinitely customisable
            li
                i.fas.fa-plus 
                |Complete history
        .index__youtubeframe__text__btncontainer
            a.index__youtubeframe__text__btncontainer__btn Discover the mobile app
        .index__youtubeframe__text__download
            a(href="")
                img(src="img/GooglePlay.png", alt="")
            a(href="")
                img(src="img/AppleStore.png", alt="")