section.page_gabarit__helpsec.solutionpage__helpsec
    .solutionpage__helpsec__wrap.main
        h2 Would you like some help?
        p Not sure where to start? Don't panic. Our team is at your disposal to accompany you and answer all of your questions.
        .solutionpage__helpsec__infos 
            .solutionpage__helpsec__info
                include svg/chat
                h4  Par chat
                p Vous pouvez nous écrire en utilisant le chat en bas à droite de l’écran pendant les heures d’ouvertures des bureaux (du lundi au vendredi de 9h à 17h).
            .solutionpage__helpsec__info
                include svg/chat
                h4 Par email
                p 
                    | Vous pouvez nous écrire par email via la page   
                    a(href="") contactez-nous
                    |, nos équipes mettront tout en oeuvre pour vous répondre le plus rapidement.
            .solutionpage__helpsec__info
                i.fas.fa-phone-alt
                h4 Par téléphone
                p Nous sommes disponible au téléphone du Lundi au vendredi de 9h à 17h.
                    a.tel(href="tel:+33980083008") +33 9 8008 3008