section.productlist__scrollheader
    img(class="bg-block",src="img/productlist_bg_pg.png", alt="background")
    .productlist__scrollheader-wrapper
        .productlist__scrollheader-wrapper__text-container
            .productlist__scrollheader-wrapper__text-container__text
                h1 Our products
            .productlist__scrollheader-wrapper__text-container__picker
                h3 1 Filters
                i(class="fas fa-sliders-h")
                .productlist__scrollheader-wrapper__text-container__picker-filters
                    button All
                    button.active Protect
                    button Save Energy
                    button Daily Comfort
