@import '../../../mixins/media';
@import '../../../mixins/text';
section.page_gabarit__recomendbl {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;

  & {
    &.blue + section {
      &:not(.page_gabarit__recomendbl) {
        padding-top: 80px;
        @include media-tablet {
          padding-top: 40px;
        }
      }
      &.blue:not(.page_gabarit__recomendbl) {
        padding-top: 20px;
        @include media-tablet {
          padding-top: 10px;
        }
      }
    }
    & + section {
      &.blue:not(.page_gabarit__recomendbl) {
        padding-top: 60px;
        @include media-tablet {
          padding-top: 30px;
        }
      }
    }
  }
  &.blue {
    max-width: inherit;
    width: 100%;
    background: #005b9d 0% 0% no-repeat padding-box;
    padding-bottom: 60px;
    padding-top: 60px;
    @include media-tablet {
      padding-bottom: 30px;
      padding-top: 30px;
    }
    .page_gabarit__recomendbl__scroll {
      h3,
      i {
        color: white;
      }
    }
    .page_gabarit__recomendbl__container {
      background: white;
      h4 {
        color: black;
      }
    }
    .page_gabarit__recomendbl__link {
      border: 2px solid #2ec9ad;
      color: #2ec9ad;
      &:hover {
        color: white;
      }
    }
  }
  .page_gabarit__recomendbl__wrap {
    display: inline-block;
    @include media-forHEADER {
      width: 90%;
      margin: 0 auto;
    }
  }
  .page_gabarit__recomendbl__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    h3 {
      text-align: center;
      display: inline-block;
      font: italic normal 300 18px/23px 'Mulish', sans-serif;
      letter-spacing: 0px;
      color: #28373b;
      opacity: 1;
      margin-bottom: 7.5px;
    }
    i {
      cursor: pointer;
      font-size: 20px;
    }
  }
  .page_gabarit__recomendbl__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #005b9d 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000033;
    border-radius: 10px;
    padding: 40px 180px;
    @media screen and (max-width: 1100px) {
      padding: 40px 80px;
    }
    @include media-forHEADER {
      padding: 40px 40px;
    }
    h4 {
      grid-column: 1/-1;
      font: normal normal normal 26px/33px 'Mulish', sans-serif;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      text-align: center;
      margin-bottom: 31px;
    }
  }
  .page_gabarit__recomendbl__links {
    display: grid;
    grid-gap: 0 40px;
    grid-template-columns: repeat(2, fit-content(100%));
    @include media-tablet {
      gap: 15px;
      grid-template-columns: repeat(1, fit-content(100%));
    }
  }
  .page_gabarit__recomendbl__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font: normal normal bold 18px/23px 'Mulish', sans-serif;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    opacity: 1;
    border: 2px solid #ffffff;
    border-radius: 40px;
    padding: 14px 48px;
    transition: all 0.5s ease;
    // @include media-forHEADER {
    //   padding: 40px 40px;
    // }
    @include media-tablet {
      padding: 10px 20px;
    }
    &:hover {
      background: #2ec9ad;
      border: 2px solid #2ec9ad;
    }
  }
}
