@import '../../../mixins/media';

section.productlist__products {
  width: 100%;
  @include media-tablet {
    width: 90%;
    margin: 0 auto;
  }
  h2 {
    font: normal normal normal 32px/40px 'Mulish', sans-serif;
    letter-spacing: 0px;
    color: #28373b;
    opacity: 1;
    margin: 0 0 21px;
    @include media-tablet {
      // margin: 0 10px 21.5px;
      margin: 0 0 21.5px;
      font: normal normal normal 26px/33px 'Mulish', sans-serif;
    }
  }
  .productlist__products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    // grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: flex-start;
    margin-bottom: 80px;
    @media screen and (min-width: 1145px) {
      justify-content: space-between;
    }
    @include media-tablet {
      // display: grid;
      // grid-template-columns: repeat(1, auto);
      // grid-column-gap: 0px;
      // grid-row-gap: 20px;
      margin-bottom: 42.5px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      grid-column-gap: initial;
      grid-row-gap: initial;
    }
    .productlist__products-container-element {
      display: flex;
      flex-direction: column;
      // margin: 0 30px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 10px #0000001a;
      border-radius: 10px;
      opacity: 1;
      padding: 30px;
      // &:first-of-type {
      //   @include media-tablet {
      //     margin-top: 0;
      //   }
      // }
      // &:last-of-type {
      //   @include media-tablet {
      //     margin-bottom: 0;
      //   }
      // }
      &.amimated {
        transform: translate(0, -5px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
      .mobile {
        display: none;
        @include media-tablet {
          display: inline !important;
        }
      }
      .desktop {
        display: inline;
        @include media-tablet {
          display: none !important;
        }
      }
      @include media-tablet {
        // margin: 10px;
        padding: 10px;
        min-height: initial;
        flex: 0 1 100%;
        flex-direction: row;
        // flex: 0 1 calc(37% + 20px);
      }
      &.big-block {
        display: grid;
        grid-template-columns: 333px repeat(auto-fit, minmax(333px, 1fr));
        // grid-template-columns: 333px 1fr;
        // grid-template-columns: minmax(333px, 1fr) repeat(1, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 40px;
        grid-row-gap: 0px;
        min-height: inherit;
        grid-column: 1/-1;
        // flex-direction: row;
        // flex-wrap: wrap;

        // flex: 1 1 100%;
        @media screen and (max-width: 925px) {
          grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
          @include media-tablet {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 390px) {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              padding: 20px;
              grid-column: initial;
            }
          }
        }

        .productlist__products-container-element-imgcontainer {
          // flex: 0 1 27%;
          min-width: 333px;
          max-height: 250px;
          @media screen and (max-width: 925px) {
            min-width: inherit;
            max-height: inherit;
            height: auto;
            @include media-tablet {
              display: grid;
              grid-template-columns: minmax(160px, 1fr) 2fr;
              grid-gap: 10px;
              width: 100%;
              flex: none;
              margin-bottom: 20.5px;
              @media screen and (max-width: 390px) {
                display: inherit;
                min-width: 295px;
                max-height: 230px;
                @media screen and (max-width: 350px) {
                  min-width: 230px;
                }
              }
            }
          }
          img {
            object-fit: contain;
            margin: 0 auto;
            flex: 1 1;
            width: 100%;
            height: 100%;
            @include media-tablet {
              height: auto;
              max-height: inherit;
              margin: 0;
              min-height: 150px;
              @media screen and (max-width: 390px) {
                // max-height: 200px;
                max-width: initial;
              }
            }
            @media screen and (max-width: 1180px) {
              width: 100%;

              @media screen and (max-width: 1100px) {
                width: 100%;
                @media screen and (max-width: 1000px) {
                  width: 100%;
                }
              }
            }
          }
          .productlist__products-container-element-controller {
            display: none;
            @include media-tablet {
              display: initial;
              @media screen and (max-width: 390px) {
                display: none;
              }
            }
            .productlist__products-container-element-text {
              @include media-tablet {
                display: initial;
                @media screen and (max-width: 390px) {
                  display: none;
                }
              }
            }
          }
        }
        .productlist__products-container-element-controller {
          // padding: 2% 0 2% 2%;
          height: auto;
          // flex: 1;
          @include media-tablet {
            flex: none;
            padding: 0;
            margin: 0;
            height: auto;
          }
          .productlist__products-container-element-text {
            @include media-tablet {
              display: none;
              @media screen and (max-width: 390px) {
                display: initial;
              }
            }
            h3 {
              font: normal normal normal 26px/33px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #28373b;
              opacity: 1;
              @include media-tablet {
                margin-bottom: 9.5px;
                font: normal normal normal 16px/20px 'Mulish', sans-serif;
                letter-spacing: 0px;
                color: #28373b;
              }
            }
            p {
              font: italic normal normal 16px/20px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #6d7476;
              opacity: 1;
              @include media-tablet {
                margin-bottom: 10px;
                font: italic normal normal 14px/18px 'Mulish', sans-serif;
                letter-spacing: 0px;
                color: #6d7476;
              }
            }
          }
          .productlist__products-container-element-controllers {
            // flex-flow: wrap;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-template-rows: auto;
            grid-row-gap: 10px;
            @include media-tablet {
              display: flex;
              align-items: center;
            }
            .productlist__products-container-element-controllers-price {
              flex-direction: row-reverse;
              width: 100%;
              gap: 30px;
              justify-content: flex-end;
              .price {
                font: normal normal 300 44px/55px 'Mulish', sans-serif;
                @include media-tablet {
                  font: normal normal 300 32px/40px 'Mulish', sans-serif;
                }
                &.price-disqount {
                  // margin: 0 30px;
                  font: normal normal 300 35px/50px 'Mulish', sans-serif;
                  @include media-tablet {
                    display: none;
                  }
                  sup {
                    font: normal normal 300 25px/14px 'Mulish', sans-serif;
                  }
                }
                sup {
                  font: normal normal 300 29px/14px 'Mulish', sans-serif;
                  @include media-tablet {
                    font: normal normal 300 20px/14px 'Mulish', sans-serif;
                  }
                }
              }
            }
            .productlist__products-container-element-controllers-manipulator {
              flex: none;
              width: 100%;
              justify-content: flex-end;
              @include media-tablet {
                width: inherit;
              }
              .productlist__products-container-element-controllers-shop {
                button {
                  padding: 12px 20px;
                  font-size: 20px;
                  @include media-tablet {
                    padding: 12px 19px;
                    font-size: 24px;
                    // padding: 8px 9px;
                    // font-size: 22.21px;
                  }
                }
              }
            }
          }
        }
      }
      &.with-disqount {
        position: relative;
        .productlist__products-container-element-disqount {
          display: block;
          width: fit-content;
          width: intrinsic;
          position: absolute;
          top: 22px;
          left: 22px;
          // right: 22px;
          z-index: 0;
          padding: 5px 10px;
          font: normal normal 300 24px/30px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          background: #ffa10a 0% 0% no-repeat padding-box;
          border-radius: 10px;
          @include media-tablet {
            font: normal normal 300 16px/20px 'Mulish', sans-serif;
            left: 5px;
            top: 5px;
            right: inherit;
          }
        }
      }
      picture {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
      }
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        @media screen and (min-width: 769px) and (max-width: 1180px) {
          width: 65%;
          object-fit: contain;
          @media screen and (max-width: 1100px) {
            width: 75%;
            object-fit: contain;
            @media screen and (max-width: 1000px) {
              object-fit: contain;
              width: 80%;
            }
          }
        }
        @include media-tablet {
          object-fit: contain;
          width: 100%;
          max-height: 134px;
          max-width: 340px;
        }
      }
      .productlist__products-container-element-imgcontainer {
        position: relative;
        max-width: none;
        margin-bottom: 21px;
        // width: 333px;
        height: 250px;
        @media screen and (max-width: 1180px) {
          max-height: inherit;
          height: auto;
          @include media-tablet {
            margin-bottom: 0;
            width: 137px;
            height: 134px;

            @media screen and (max-width: 350px) {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
      .productlist__products-container-element-controller {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        @include media-tablet {
          // flex: inherit;
          width: 100%;
          height: auto;
          margin-left: 10px;
          display: flex;
          flex-direction: column;
        }
        .productlist__products-container-element-text {
          h3 {
            font: normal normal normal 26px/33px 'Mulish', sans-serif;
            letter-spacing: 0px;
            color: #28373b;
            opacity: 1;
            margin-bottom: 12px;
            @include media-tablet {
              margin-bottom: 5px;
              font: normal normal normal 14px/18px 'Mulish', sans-serif;
            }
          }
          p {
            font: italic normal normal 16px/20px 'Mulish', sans-serif;
            letter-spacing: 0px;
            color: #6d7476;
            opacity: 1;
            margin-bottom: 8px;
            // margin-bottom: 30px;
            @include media-tablet {
              // margin-bottom: 10px;
              margin-bottom: 0px;
              font: italic normal normal 12px/15px 'Mulish', sans-serif;
            }
          }
        }
        .productlist__products-container-element-controllers {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: auto;
          align-items: flex-end;
          @include media-tablet {
            align-items: center;
            justify-content: flex-end;
          }
          .productlist__products-container-element-controllers-price {
            margin-right: auto;
            display: flex;
            flex-direction: column;
            .price {
              color: #005b9d;
              @include media-tablet {
                color: #005b9d;
                font: normal normal 300 26px/33px 'Mulish', sans-serif;
              }
              &.price-disqount {
                @include media-tablet {
                  display: none;
                }
                position: relative;
                width: fit-content;
                width: intrinsic;
                color: #28373b;
                font: normal normal 300 23px/33px 'Mulish', sans-serif;
                opacity: 0.5;
                sup {
                  font: normal normal 300 18px/0px 'Mulish', sans-serif;
                  color: #28373b;
                }
                &:after {
                  content: '';
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  color: #28373b;
                  width: 100%;
                  height: 0;
                  border-bottom: 1px solid #28373b;
                  transform: rotate(-30deg);
                }
              }
              sup {
                color: #005b9d;
                @include media-tablet {
                  color: #005b9d;
                  font: normal normal 300 15px/33px 'Mulish', sans-serif;
                }
              }
            }
            span {
              text-align: left;
              font: normal normal 300 32px/40px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #005b9d;
              sup {
                font: normal normal normal 20px/28px 'Mulish', sans-serif;
              }
              @include media-tablet {
                font: normal normal 300 16px/20px 'Mulish', sans-serif;
                sup {
                  font: normal normal normal 10px/10px 'Mulish', sans-serif;
                }
              }
            }
          }
          .productlist__products-container-element-controllers-manipulator {
            display: flex;
            position: relative;
            flex: 0 1 57%;
            justify-content: flex-end;
            @include media-tablet {
              flex: none;
            }
            &.show-success {
              .productlist__products-container-element-controllers-successbuying {
                opacity: 1;
                visibility: visible;
                // width: 100%;
                width: max-content;
                // width:fit-content;
                width: intrinsic;
              }
            }
            p.outstock {
              display: flex;
              align-items: center;
              height: 55px;
              font: italic normal normal 16px/22px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #c92e2e;
              opacity: 1;
              &.mobile {
                display: none;
                @include media-tablet {
                  display: flex !important;
                }
              }
              &.desktop {
                display: flex;
                @include media-tablet {
                  display: none !important;
                }
              }
              @include media-tablet {
                font: italic normal normal 12px/18px 'Mulish', sans-serif;
              }
            }
            .productlist__products-container-element-controllers-counter {
              display: flex;
              flex-direction: row;
              align-items: center;
              button {
                display: flex;
                align-items: center;
                justify-content: center;
                font: normal normal normal 15px/28px 'Mulish', sans-serif;
                padding: 7.5px;
                border: 1px solid #28373b;
                border-radius: 10px;
                opacity: 1;
                cursor: pointer;
                background: white;
                outline: none;
                &:disabled {
                  cursor: not-allowed;
                  color: #a9afb0;
                  border: 1px solid #a9afb0;
                  // opacity: 0.4;
                  &:hover {
                    background: white;
                    cursor: not-allowed;
                    color: #a9afb0;
                    border: 1px solid #a9afb0;
                  }
                }
                &:hover {
                  border: 1px solid #2ec9ad;
                  background: #2ec9ad;
                  color: white;
                }
              }
              span {
                margin: 0 11px;
                // margin:0 22px;
                font: normal normal normal 22px/28px 'Mulish', sans-serif;
                letter-spacing: 0px;
                color: #28373b;
                opacity: 1;
              }
              @include media-tablet {
                display: none;
              }
            }
            .productlist__products-container-element-controllers-shop {
              margin-left: 20px;

              button {
                padding: 12px 20px;
                // padding: 7px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                // font-size: 24px;
                font-size: 20px;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                border: 1px solid var(--unnamed-color-2ec9ad);
                background: #2ec9ad 0% 0% no-repeat padding-box;
                border: 1px solid #2ec9ad;
                border-radius: 40px;
                opacity: 1;
                outline: none;
                cursor: pointer;
                @include media-tablet {
                  // padding: 8px 9px;
                  // font-size: 22.21px;
                  padding: 7.5px 16px;
                  font-size: 23.1px;
                }
              }
            }
            .productlist__products-container-element-controllers-successbuying {
              display: flex;
              align-items: center;
              visibility: hidden;
              opacity: 0;
              // width:fit-content;
              width: intrinsic;
              width: max-content;
              // width:60%;
              transition: visibility 0.5s linear, opacity 0.5s linear,
                width 0.5s linear;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              background: #2ec9ad 0% 0% no-repeat padding-box;
              border: 1px solid #2ec9ad;
              border-radius: 40px;
              padding: 7px 13px;
              // padding: 7px 20px;
              @include media-tablet {
                padding: 5px;
              }
              .mobile {
                display: none;
                @include media-tablet {
                  display: inline;
                }
              }
              .desktop {
                display: inline;
                @include media-tablet {
                  display: none !important;
                }
              }
              i {
                @include media-tablet {
                  margin-left: 5px;
                }
              }
              p,
              span {
                font: italic normal normal 16px/18px 'Mulish', sans-serif;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                @include media-tablet {
                  font: italic normal normal 14px/18px 'Mulish', sans-serif;
                }
              }
            }
          }
        }
      }
    }
  }
}
