footer.globalfooter
    .globalfooter__wrapper
        .globalfooter__wrapper__logo
            a(href="/"): img(class="logo-img" src="img/Logotype.png", alt="logo")
        .globalfooter__wrapper__content
            each val in [1,2,3,4]
                ul
                    li.header= val+"Lorem Ipsum"
                    each val in [1,2,3,4]
                        li 
                           a(href="") Lorem ipsum
            ul
                li.header Contact
                li 
                    a(href="") Contact us
                li 
                    a(href="") Support
                li.images
                    a(href="")
                        img(src="img/France.png", alt="language picker")
                    a(href="")
                        img(src="img/England.png", alt="language picker")
        .globalfooter__wrapper__additional
            .globalfooter__wrapper__additional__text
                h4 
                    |Copyright © 2020 Nearsens - 
                    a(href="") Privacy policy 
                    |- 
                    a(href="") About
            .globalfooter__wrapper__additional__logos
                a(href="")
                    i(class="fab fa-linkedin-in")
                a(href="")
                    i(class="fab fa-youtube")
                a(href="")
                    i(class="fab fa-instagram")
                a(href="")
                    i(class="fab fa-pinterest")
                a(href="")
                    i(class="fab fa-facebook-f")
                a(href="")
                    i(class="fab fa-twitter")
        .globalfooter__wrapper__download
            a(href="")
                img(src="img/GooglePlay.png", alt="")
            a(href="")
                img(src="img/AppleStore.png", alt="")

                




