input.oppen_nav#menu__toggle__header(type="checkbox", name="")

label.menu__btn__header(for="menu__toggle__header")
  span
header.header
  section.first-menu
    .first-block-in-menu 
      a(href="/"): img(class="logo-img" src="img/Logotype.png", alt="logo")
      .phone-information
        .logo-phone
          img(class="logo-phone" src="img/call-white.svg", alt="logo")
        .text-content
          .phone-content
            a(href="tel:+33930088008") +339 3008 8008
          .text-content
            p.second Click to call
            p.first Monday to Friday - 9 am to 7 pm         
    .second-block-in-menu
      .looking-input
        input(type="checkbox" id="btnControl")
        input(type="text" class="text-input" placeholder="What are you looking for ?" )
        label(class="checker-label" for="btnControl"): img(src="img/magnifying-glass.svg", alt="btn" id="btnLeft")
      ul.change-language-input
        li.dropup.dropup-language
          button.dropbtn 
            i(class="fas fa-globe-europe globe") 
            |EN 
            include header/svg-down
          .droupup-block
            .dropup-content.unshow
              a(href="") 
                include header/svg-down
                span FR
      //- Это блок для авторизированного пользователя
      a(href="").sign-in-user-profile
        .user-profile-avatar
          img(src="img/user_logo.svg", alt="user logo")
        .user-profile-data
          p Bonjour Mathiew
          h3 My account
      a(href="").cart-block.dropup
        img(src="img/noun_bag_95443.svg", alt="Shoping cart")
        div.counter 3
      //- Это блок для авторизации
      //- .sign-in-link
      //-   a(href="/login")
      //-      i(class="fas fa-user-circle")
      //-      |Sign In

nav.nav
  .second-menu
    .search-menu
      input(type="text" class="text-input" placeholder="What are you looking for ?" )
      label(class="checker-label" for="btnControlInNav"): img(src="img/magnifying-glass.svg", alt="btn" id="btnLeft")
    .nav-menu
      ul
        li: a(href="/" class="active-link") Home
        each val, index in [ 'Solution', 'Products', 'Use cases']
          li: a(href="/"+val.toLowerCase())=val
        li.dropup
          button.dropbtn.active-link About
            include header/svg-down
          .droupup-block
            .dropup-content.unshow
              a(href="" class="active-link")
                include header/svg-down
                span How shipping works
              a(href="")
                include header/svg-down
                span Inside Nearsens
              a(href="") 
                include header/svg-down
                span Our values
              a(href="") 
                include header/svg-down
                span The Nearsens APP
              a(href="")
                include header/svg-down
                span Installation guide
              a(href="") 
                include header/svg-down
                span About Nearsens
        li.dropup
          button.dropbtn Support 
            include header/svg-down
          .droupup-block
            .dropup-content.unshow
              a(href="") 
                include header/svg-down
                span FAQ
              a(href="") 
                include header/svg-down
                span Contact us
              a(href="") 
                include header/svg-down
                span Support request
        li.dropup.dropup-language
          button.dropbtn 
            i(class="fas fa-globe-europe globe") 
            |EN 
            include header/svg-down
          .droupup-block
            .dropup-content.unshow
              a(href="") 
                include header/svg-down
                span FR
    .shop-menu
      .build-your-solution
        a(href="") 
          img(src="img/wrench.svg", alt="Shoping cart")
          span Build your solution
      .phone-number
        a(href="tel:+33930088008") 
          img(class="logo-phone" src="img/call-white-all.svg", alt="logo") 
          span +339 3008 8008
        .text-content
          p (Monday to Friday - 9 am to 7 pm)   
      .shop-cart.dropup
        .shop-cart-logo
          img(src="img/noun_bag_95443.svg", alt="Shoping cart")
          sup.counter 3 
          p.ammount-items 3 items
        .droupup-block
          div.dropdown
            h3 LAST PRODUCTS ADDED
            .shop-content
              .shop-content-item
                img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
                p Keypad - white
                span 112
                  sup.small €90
            .shop-content
              .shop-content-item
                img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
                p Keypad - white and blue with plug and dirt and dirt and dirt ith plug and dirt and dirt and dirt
                span 112
                  sup.small €90
            .shop-content
              .shop-content-item
                img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
                p Keypad - white
                span 112
                  sup.small €90
            .shop-content-summarise
              h3 Total :
                span 68
                  sup.small €90
              p In stock. Can be shipped tomorrow.
              a(href="") GO TO CART 
                i(class="fas fa-angle-right")

        
      //- .shop-cart.dropup
      //-   .shop-cart-logo
      //-     img(src="img/noun_bag_95443.svg", alt="Shoping cart")
      //-     div.counter 3 
      //-     span.ammount-items 3 items
      //-     .droupup-block
      //-       .dropup-content
      //-         h3 LAST PRODUCTS ADDED
      //-         .shop-content
      //-           .shop-content-item
      //-             img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
      //-             p Keypad - white
      //-             span 112
      //-               sup.small €90
      //-         .shop-content
      //-           .shop-content-item
      //-             img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
      //-             p Keypad - white
      //-             span 112
      //-               sup.small €90
      //-         .shop-content
      //-           .shop-content-item
      //-             img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
      //-             p Keypad - white
      //-             span 112
      //-               sup.small €90
      //-         .shop-content-summarise
      //-           h3 Total :
      //-             span 68
      //-               sup.small €90
      //-           p In stock. Can be shipped tomorrow.
      //-           button GO TO CART 
      //-             img(src="img/button-header.svg", alt="btn" id="btnLeft")
