header.header
  section.first-menu
    .first-block-in-menu 
      a(href="/"): img(class="logo-img" src="img/Logotype.png", alt="logo")
      .phone-information
        .logo-phone
        .text-content
          .phone-content
            a(href="tel:+33930088008") +339 3008 8008
          .text-content
            p.second Click to call
            p.first Monday to Friday - 9 am to 7 pm         
    .second-block-in-menu 
      .looking-input
        input(type="checkbox" id="btnControl")
        input(type="text" class="text-input" placeholder="What are you looking for ?" )
        label(class="checker-label" for="btnControl"): img(src="img/button-header.svg", alt="btn" id="btnLeft")
      //- Это блок для авторизации
      .sign-in-link
        a(href="/login") Sign In

nav.nav
  .second-menu
    .nav-menu
      ul
        li: a(href="/" class="active-link") Home
        each val, index in [ 'Solution', 'Products', 'Use cases']
          li: a(href="/"+val.toLowerCase())=val
        li.dropup
          button.dropbtn.active-link About
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#fff" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
          .droupup-block
            .dropup-content.unshow
              a(href="" class="active-link")
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span How shipping works
              a(href="")
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
               span Inside Nearsens
              a(href="") 
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span Our values
              a(href="") 
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span The Nearsens APP
              a(href="")
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span Installation guide
              a(href="") 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span About Nearsens
        li.dropup
          button.dropbtn Support 
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#fff" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
          .droupup-block
            .dropup-content.unshow
              a(href="") 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span FAQ
              a(href="") 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span Contact us
              a(href="") 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#005b9d" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg>
                span Support request
    .shop-menu
      .build-your-solution
        p 
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#fff" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg> Build your solution
      .phone-number
        a(href="tel:+33930088008") 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="32" viewBox="0 0 16 32"><text transform="translate(0 26)" fill="#fff" font-size="24" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0"></tspan></text></svg> +339 3008 8008
        .text-content
          p (Monday to Friday - 9 am to 7 pm)   
      .shop-cart.dropup
        .shop-cart-logo
          img(src="img/noun_bag_95443.svg", alt="Shoping cart")
          div.counter 3 
          span.ammount-items 3 items
          .droupup-block
            .dropup-content
              h3 LAST PRODUCTS ADDED
              .shop-content
                .shop-content-item
                  img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
                  p Keypad - white
                  span 112€
              .shop-content
                .shop-content-item
                  img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
                  p Keypad - white
                  span 112€
              .shop-content
                .shop-content-item
                  img(src="https://d2uqfpnktc64mn.cloudfront.net/uploads/post/image/000/001/774/default_Image-Andy-Morffe-Bird-Bees-and-Banana-Flower-Ecuador.jpg", alt="")
                  p Keypad - white
                  span 112€
              .shop-content-summarise
                h3 Total :
                  span 68€
                p In stock. Can be shipped tomorrow.
                button GO TO CART 
                  img(src="img/button-header.svg", alt="btn" id="btnLeft")
