section.page_gabarit__fourblocks
    .page_gabarit__fourblocks__wrap.main
        h3 Want to discover a new features ?
        .page_gabarit__fourblocks__wrap__container
            each val in [1,2,3,4,5,6,7]
                .page_gabarit__fourblocks__wrap__elemenet
                    .page_gabarit__fourblocks__wrap__elemenet__img
                        img(src="https://img5.lalafo.com/i/posters/original/91/f6/28/0599a4b201fce2be487b8c920e.jpeg", alt="")
                    .page_gabarit__fourblocks__wrap__elemenet__text
                        h3 Lorem ipsum dolor
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet.