section.page_gabarit__fourblocks.productlist__additionaltips.block-1
    .page_gabarit__fourblocks__wrap.main
        h2 Want to discover a new features ?
        .page_gabarit__fourblocks__wrap__container.productlist__posibilities-wrap
            each val in [1]
                .page_gabarit__fourblocks__wrap__elemenet.productlist__additionaltips-list-element
                    .page_gabarit__fourblocks__wrap__elemenet__img
                        img(src="https://img5.lalafo.com/i/posters/original/91/f6/28/0599a4b201fce2be487b8c920e.jpeg", alt="")
                    .page_gabarit__fourblocks__wrap__elemenet__text.productlist__additionaltips-list-element-text
                        h3 Lorem ipsum dolor
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet.