section.index__reviews
    .index__reviews__head
        h3 * Some features also work without the app
        hr
    .index__reviews__content
        .index__reviews__content__element
            h3 Your experience is what matter the most for us.
            span
                each val in [1,2,3,4]
                    i.fas.fa-star
                i.far.fa-star
            .index__reviews__content__element__text
                p: q We have designed a complete solution that includes alarms, energy saving devices, comfort and much more... A solution that is easy to understand, install, and use, either at home or remotely with a mobile application.
                span Cyril and Mathieu, Co-founders