@import '../../../mixins/media';
@import '../../../utils/variables.scss';

section.usecase_details__blockwithbuyabbility {
  padding: 60px 0;
  background: #005b9d 0% 0% no-repeat padding-box;
  margin-bottom: 80px;
  @include media-tablet {
    padding: 31.5px 0 40px;
    margin-bottom: 44.5px;
  }
  .usecase_details__blockwithbuyabbility-wrap {
    @include media-tablet {
      width: 90%;
      margin: 0 auto;
    }
    .usecase_details__blockwithbuyabbility-wrap__head {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 71px;
      h2 {
        font: normal normal normal 32px/40px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        @include media-tablet {
          text-align: center;
          font: normal normal normal 22px/28px 'Mulish', sans-serif;
        }
      }
      img {
        right: 0;
        position: absolute;
        width: 86px;
        object-fit: cover;
        @include media-tablet {
          display: none;
        }
      }
      @include media-tablet {
        justify-content: center;
        padding-bottom: 24.5px;
      }
    }
    .usecase_details__blockwithbuyabbility-wrap__content {
      .usecase_details__blockwithbuyabbility-wrap__element {
        display: flex;
        flex-direction: row;
        padding: 31px 0;
        border-bottom: 1px solid #33709c;
        &:first-of-type {
          padding-top: 0;
        }
        @include media-tablet {
          padding: 20.5px 0;
        }
        &.product-out {
          position: relative;
          .usecase_details__blockwithbuyabbility-wrap__element-content {
            .usecase_details__blockwithbuyabbility-wrap__element-content-text {
              h4 {
                text-decoration: line-through;
              }
            }
          }
        }
        .usecase_details__blockwithbuyabbility-wrap__element-logo {
          width: 50px;
          height: 50px;
          margin-right: 30px;
          @include media-tablet {
            width: 36px;
            height: 36px;
          }
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            @include media-tablet {
              width: 36px;
              height: 36px;
            }
          }
          @include media-tablet {
            margin-right: 10px;
          }
        }
        .usecase_details__blockwithbuyabbility-wrap__element-content {
          display: flex;
          flex-flow: row wrap;
          flex: 1;
          justify-content: space-between;
          @include media-tablet {
            flex-flow: column wrap;
          }
          .usecase_details__blockwithbuyabbility-wrap__element-content-text {
            flex: 1;
            display: grid;
            grid-template-columns: fit-content(100%) fit-content(100%);
            // display: flex;
            align-items: center;
            @include media-tablet {
              margin-bottom: 20px;
            }
            h4 {
              font: normal normal normal 22px/28px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              // margin-bottom: 5px;
              flex: 1;
              @include media-tablet {
                // flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // display: inline-block;
                font: normal normal normal 16px/20px 'Mulish', sans-serif;
              }
              .disqount {
                white-space: nowrap;
                margin-left: 10px;
                background: #ffa10a 0% 0% no-repeat padding-box;
                padding: 4px 10px;
                border-radius: 5px;
                font: normal normal 600 16px/20px 'Mulish', sans-serif;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                @include media-tablet {
                  border-radius: 5px;
                  padding: 5px;
                  font: normal normal 600 12px/15px 'Mulish', sans-serif;
                }
              }
            }

            p {
              font: normal normal 300 16px/20px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              @include media-tablet {
                font: normal normal 300 12px/15px 'Mulish', sans-serif;
              }
            }
          }
          .usecase_details__blockwithbuyabbility-wrap__element-content-manipulator {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            @include media-tablet {
              padding-left: 46px;
              justify-content: flex-start;
            }
            p.outstock {
              display: flex;
              align-items: center;
              height: 55px;
              font: italic normal bold 16px/22px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: white;
              opacity: 1;
              @include media-tablet {
                height: auto;
                font: italic normal bold 12px/18px 'Mulish', sans-serif;
              }
            }
            .usecase_details__blockwithbuyabbility-wrap__element-content-manipulator-price {
              flex: 1;
              display: flex;
              justify-content: space-between;
              gap: 10px;
              @include media-tablet {
                justify-content: flex-start;
              }
              .current {
                // margin: 0 10.5px;
                font: normal normal 300 30px/38px 'Mulish', sans-serif;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                sup {
                  font-weight: 100;
                  font-size: 65%;
                }
                @include media-tablet {
                  // margin: 0 4.25px;
                  font: normal normal 300 26px/33px 'Mulish', sans-serif;
                }
                &.current-low {
                  display: flex;
                  align-items: center;
                  opacity: 0.65;
                  position: relative;
                  font: normal normal 300 22px/28px 'Mulish', sans-serif;
                  @include media-tablet {
                    font: normal normal 300 18px/23px 'Mulish', sans-serif;
                  }
                  sup {
                    font-size: 60%;
                    top: -0.3em;
                    @include media-tablet {
                      top: -0.5em;
                      font-size: 55%;
                    }
                  }
                  &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    color: #ffffff;
                    width: 100%;
                    height: 0;
                    border-bottom: 1px solid #ffffff;
                    transform: rotate(-30deg);
                  }
                }
              }
            }
            .usecase_details__blockwithbuyabbility-wrap__element-content-manipulator-buttons {
              margin-left: 40px;
              display: flex;
              flex: 1;
              // gap: 22px;
              --fgp-gap-container: calc(
                var(--fgp-gap-parent, 0px) - 22px
              ) !important;
              --fgp-gap: var(--fgp-gap-container);
              margin-top: var(--fgp-gap);
              margin-right: var(--fgp-gap);
              > * {
                --fgp-gap-parent: 22px !important;
                --fgp-gap-item: 22px !important;
                --fgp-gap: var(--fgp-gap-item) !important;
                margin-top: var(--fgp-gap);
                margin-right: var(--fgp-gap);
                @include media-tablet {
                  --fgp-gap-parent: 14px !important;
                  --fgp-gap-item: 14px !important;
                  --fgp-gap: var(--fgp-gap-item) !important;
                  margin-top: var(--fgp-gap);
                  margin-right: var(--fgp-gap);
                }
              }
              @include media-tablet {
                // gap: 14px;
                --fgp-gap-container: calc(
                  var(--fgp-gap-parent, 0px) - 14px
                ) !important;
                --fgp-gap: var(--fgp-gap-container);
                margin-top: var(--fgp-gap);
                margin-right: var(--fgp-gap);
                margin-left: 0;
                flex-direction: row;
                justify-content: flex-end;
              }
              .button {
                padding: 6px 8px;
                border: 1px solid #ffffff;
                background: transparent;
                border-radius: 10px;
                opacity: 1;
                color: white;
                font-size: 14px;
                outline: none;
                &:disabled {
                  color: #a9afb0;
                  border: 1px solid #a9afb0;
                  border-radius: 10px;
                  opacity: 1;
                }
              }
              .counter {
                // margin: 0 20px;
                font: normal normal normal 22px/28px 'Mulish', sans-serif;
                letter-spacing: 0px;
                color: #ffffff;
                opacity: 1;
                @include media-tablet {
                  // margin: 0 10px;
                }
              }
            }
          }
        }
      }
    }
    .usecase_details__blockwithbuyabbility-wrap__manipulator {
      margin: 35px 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @include media-tablet {
        margin: 20.5px 0 0;
      }
      img {
        // width: 86px;
        width: 32px;
        height: 32px;
        object-fit: cover;
        margin-right: 0;
        @include media-tablet {
          // width: 70px;
          // width: 41px;
          height: 24px;
          width: 24px;
          display: block;
          margin-right: 11px;
        }
      }
      .usecase_details__blockwithbuyabbility-wrap__manipulator__block {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include media-tablet {
          flex-direction: column;
          align-items: flex-end;
        }
        .usecase_details__blockwithbuyabbility-wrap__manipulator__block__text {
          display: flex;
        }
        &.show-success {
          .shop-cart {
            .success_block {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        p {
          font: normal normal 300 24px/30px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin: 0 30px 0 18px;
          @include media-tablet {
            margin: 0 0 20px;
            font: normal normal 300 18px/23px 'Mulish', sans-serif;
          }
        }
        .shop-cart {
          display: flex;
          position: relative;
          background: #2ec9ad 0% 0% no-repeat padding-box;
          border: 1px solid #2ec9ad;
          border-radius: 40px;
          opacity: 1;
          outline: none;
          font: normal normal bold 18px/23px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          text-transform: uppercase;
          padding: 12px 30px;
          overflow: hidden;
          i {
            margin-right: 10px;
          }
          .success_block {
            transition: opacity 0.5s ease, visibility 0.3s ease;
            opacity: 0;
            visibility: hidden;
            padding: 12px 30px;
            border-radius: 40px;
            font: italic normal normal 16px/18px 'Mulish', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #2ec9ad 0% 0% no-repeat padding-box;
            border: 1px solid #2ec9ad;
          }
        }
      }
    }
  }
}
