section.solutionpage__appblock
    .solutionpage__appblock__wrap.main
        img.smartphone-logo(src="img/Smartphone.jpg", alt="smarthpone logo")
        .solutionpage__appblock__container(data-type="first")
            .solutionpage__appblock__block(data-type="disarm")
                img(src="img/Arm_disarm.png", alt="panel")
                h3 Armer et désarmer
                p D’un simple bouton, il est possible d’armer votre alarme dans le mode de votre choix.
            .solutionpage__appblock__block(data-type="notification")
                img(src="img/Notifications.png", alt="notification icon")
                h3 Recevoir des notifications 24/7
                p Vous êtes alerté dès qu’il se passe quelque chose d’anormal.
        .solutionpage__appblock__container(data-type="second")
            .solutionpage__appblock__block(data-type="control")
                img(src="img/Control.png", alt="controler img")
                h3 Tout contrôler
                p Lumières, appareils, scénarios, portes… vous pouvez tout gérer à distance.
            .solutionpage__appblock__block(data-type="ear")
                img(src="img/See_ear.png", alt="see siren")
                h3 Voir et entendre
                p Les caméras sont vos yeux et oreilles lorsque vous n’êtes chez vous.