@import '../../../mixins/media';
@import '../../../mixins/text';
.woocomerse__myaccountdetails {
  .woocomerse__inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    gap: 20px 40px;
    margin-bottom: 10px;
    .one,
    .password-input {
      grid-column: 1/-1;
      .show-password-input {
        right: 0.7em;
        top: 20px;
      }
    }
  }
  .woocomerse__text {
    margin-bottom: 40px;
    @include hblock('h3', $font-size: 32px, $weight: normal, $line: 35px) {
      letter-spacing: 0px;
      color: #333333;
      @include media-tablet {
        font: normal normal bold 25px/25px 'Mulish', sans-serif;
      }
      span {
        font: italic normal 300 28px/35px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #333333;
        @include media-tablet {
          font: italic normal 300 20px/35px 'Mulish', sans-serif;
        }
      }
    }
    p {
      font: normal normal 300 18px/23px 'Mulish', sans-serif;
      letter-spacing: 0px;
      color: #28373b;
      opacity: 1;
    }
  }
  .woocomerse__passchange {
    margin-top: 50px;
    .woocomerse__text {
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid #707070;
    }
    .woocomerse__btncontainer {
      margin-top: 40px;
      display: flex;
      justify-content: flex-end;
      .woocomerse__savebtn {
        cursor: pointer;
        user-select: none;
        background: #2ec9ad 0% 0% no-repeat padding-box;
        border-radius: 40px;
        opacity: 1;
        padding: 14px 28px;
        font: normal normal bold 18px/22px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
    }
  }
}
