// для голубого цвета добавить класс blue в page_gabarit__blockwithbigimg
section.productpage__textblockvariations.page_gabarit__blockwithbigimg
    .productpage__textblockvariations-textimgheader.main.page_gabarit__blockwithbigimg__wrap.img-right
        .productpage__textblockvariations-textimgheader__text
            h2 Big title Lorem ipsum dolor sit amet, consectetur adipiscing.
            p
                | dsfsdfs

                em fdsfdsfs
                strong fsdpifdsfs
            blockquote 
                p fdsfpjdsfipjsp 
            p 
                |fsfsdfgohid
                a(href="") gsrdg
                | dfgfdg
            p
                ul 
                    li  Stay informed of the opening and closing of doors
                    li  Close or open the door remotely if necessary
                    li  Reassure yourself using motion sensors or cameras
                    li  Allow many to monitor and react quickly
                    li  Switch devices on or off if your loved one forgets
                    li  Possibility to act on the equipment remotely
                    li  Talk and reassure your loved one thanks to the cameras if the person
                    li  has fallen

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
        .productpage__textblockvariations-textimgheader__img
            img(src="https://img5.lalafo.com/i/posters/original/91/f6/28/0599a4b201fce2be487b8c920e.jpeg", alt="alt")
    .productpage__textblockvariations-textimgheader.main.page_gabarit__blockwithbigimg__wrap.img-left
        .productpage__textblockvariations-textimgheader__img
            img(src="https://img5.lalafo.com/i/posters/original/91/f6/28/0599a4b201fce2be487b8c920e.jpeg", alt="alt")
        .productpage__textblockvariations-textimgheader__text
            h2 Big title Lorem ipsum dolor sit amet, consectetur adipiscing.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi.