section.index__createsolution
    img.bigimg(src="img/indexbigimg.png", alt="")
    .index__createsolution__wrap.main
        p The only limit is your imagination
        h3 Create your own solution
        .index__createsolution__wrap__btncontainer
            .index__createsolution__wrap__btncontainer__btn Build your solution
            .index__createsolution__wrap__btncontainer__btn Buy our products
        .index__createsolution__wrap__discover
            p or discover our app
            i.fas.fa-chevron-down
