@import '../../../mixins/media';
@import '../../../utils/variables.scss';

section.productpage__productslinked {
  background: #005b9d 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 60px 0 80px;
  @include media-tablet {
    padding: 40px 0;
    width: 100%;
  }
  .productlist__products__wrap {
    @include media-tablet {
      width: 90%;
      margin: 0 auto;
    }
    h3 {
      color: white;
      @include media-tablet {
        margin-bottom: 24.5px;
        font: normal normal normal 22px/28px Muli;
      }
    }
    .productlist__products-container {
      margin-bottom: 0;
      @include media-tablet {
        margin-bottom: 0;
      }
      // .productlist__products-container-element{

      // }
    }
  }
}
