@import '../../../mixins/media';

section.loginpage__container {
  margin-top: 120px;
  min-height: 100vh;
  @include media-tablet {
    width: 90%;
    margin: 45px auto 0;
  }
  h2 {
    text-align: center;
    font: italic normal 300 18px/23px Muli;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-bottom: 32px;
    @include media-tablet {
      font: italic normal 300 16px/20px Muli;
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
      margin-bottom: 20px;
    }
  }
  .loginpage__container__block {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000033;
    border-radius: 10px;
    opacity: 1;
    padding: 40px 0;
    @include media-tablet {
      padding: 30px 0;
    }
    h3 {
      text-align: center;
      font: normal normal normal 26px/33px Muli;
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
      margin-bottom: 31px;
      @include media-tablet {
        font: normal normal normal 22px/28px Muli;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        margin-bottom: 10px;
      }
    }
    .loginpage__container__block__manipulator {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 125px;
      margin-bottom: 40px;
      @include media-tablet {
        padding: 0 7%;
      }
      input {
        width: 100%;
        font: normal normal 300 18px/23px Muli;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        padding: 14px 20px;
        background: #eeeeee 0% 0% no-repeat padding-box;
        border: 1px solid #bbbbbb;
        border-radius: 6px;
        opacity: 1;
        margin: 15px 0;
      }
      a {
        margin-left: auto;
        text-align: right;
        font: italic normal normal 16px/20px Muli;
        letter-spacing: 0px;
        color: #004c83;
        opacity: 1;
      }
    }
    .loginpage__container__block__email {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 125px 40px;
      @include media-tablet {
        padding: 0 7% 40px;
      }
      button {
        text-align: center;
        background: #2ec9ad 0% 0% no-repeat padding-box;
        border-radius: 40px;
        padding: 14px 30px;
        font: normal normal bold 18px/23px Muli;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        outline: none;
        border: none;
        @include media-tablet {
          padding: 11px 20px;
        }
      }
    }
    .loginpage__container__block__createaccount {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #707070;
      padding: 22px 125px 0;
      @include media-tablet {
        padding: 15px 7% 0;
      }
      p {
        align-self: center;
        font: normal normal normal 26px/33px Muli;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        margin-bottom: 10px;
        @include media-tablet {
          font: normal normal normal 22px/28px Muli;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
        }
      }
      a {
        text-align: center;
        align-self: center;
        cursor: pointer;
        background: #2ec9ad 0% 0% no-repeat padding-box;
        border-radius: 40px;
        opacity: 1;
        font: normal normal bold 18px/23px Muli;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        padding: 14px 27px;
      }
    }
  }
}
