section.use_case__pageheader
    .use-case__pageheader-content
        h1 Title use cases list page
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi. Pellentesque habitant morbi tristique senectus et netus…