section.solutionpage__smartsolution
    .solutionpage__smartsolution__wrap.main
    picture
		<source media="(max-width:735px)" srcset="img/735.png">
		<source media="(max-width:1023px)" srcset="img/1024.png">
		<img src="img/2560.png" alt="Mount" >