section.solutionpage__smartsolution
    .solutionpage__smartsolution__wrap.main
        .solutionpage__smartsolution__container
            h2 Votre vie et votre maison sont uniques, votre solution de maison connectée doit l’être aussi.
            p La solution Nearsens est basée sur la sécurité et le respect de la vie privée.
            .solutionpage__smartsolution__blocks
                .solutionpage__smartsolution__block
                    img(src="img/UniqueHouse_gdpr.png", alt="")
                    h3 Conforme à la RGPD
                    p Notre site internet, notre application et nos produits respectent les règles RGPD.
                .solutionpage__smartsolution__block
                    img(src="img/UniqueHouse_privacy.png", alt="")
                    h3 Vie privée préservée
                    p Votre vie privée reste privée et le restera dans les futures évolutions des produits.
                .solutionpage__smartsolution__block   
                    img(src="img/UniqueHouse_data.png", alt="")
                    h3 Vos données vous appartiennent
                    p Personne, ni même Nearsens, ne peut accéder à vos données et les revendre.