@import '../../../mixins/media';
@import '../../../mixins/text';

section.page_gabarit__fourblocks {
  // margin-bottom: 86px;
  padding-bottom: 43px;
  // margin-top: 87px;
  padding-top: 43px;
  background: white;
  @include media-tablet {
    width: 100%;
    padding-bottom: 20px;
    // margin-top: 40px;
    padding-top: 15px;
  }
  &.add-padding {
    padding-bottom: 86px;
    @include media-tablet {
      padding-bottom: 40px;
    }
  }
  &.blue {
    background: #005b9d 0% 0% no-repeat padding-box;
    padding-bottom: 40px;
    @include media-tablet {
      padding-bottom: 20px;
      padding-top: 15px;
    }
    @include hblock('h3', 40px, normal, 50px) {
      color: white;
      margin-bottom: 30px;
      @include media-tablet {
        margin-bottom: 15px;
      }
    }
    .page_gabarit__fourblocks__wrap {
      * {
        color: white !important;
      }
    }
  }
  .page_gabarit__fourblocks__wrap {
    display: flex;
    flex-flow: row wrap;
    @include media-tablet {
      width: 100%;
    }
    @include hblock('h3', 40px, normal, 50px) {
      margin-bottom: 30px;
      @include media-tablet {
        // margin-bottom: 15px;
        font: normal normal normal 22px/28px Muli;
      }
    }
    .page_gabarit__fourblocks__wrap__container {
      width: 100%;
      .page_gabarit__fourblocks__wrap__elemenet {
        .page_gabarit__fourblocks__wrap__elemenet__img {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
