@import '../../../mixins/media';
@import '../../../mixins/text';

section.page_gabarit__fourblocks {
  padding-top: 0;
  padding-bottom: 80px;
  background: #ffffff;
  @include media-tablet {
    padding-bottom: 40px;
  }
  & {
    &.blue + section {
      &:not(.page_gabarit__fourblocks) {
        padding-top: 80px;
        @include media-tablet {
          padding-top: 40px;
        }
      }
      &.blue:not(.page_gabarit__fourblocks) {
        padding-top: 20px;
        @include media-tablet {
          padding-top: 10px;
        }
      }
    }
    & + section {
      &.blue:not(.page_gabarit__fourblocks) {
        padding-top: 60px;
        @include media-tablet {
          padding-top: 30px;
        }
      }
    }
  }
  &.blue {
    background: #005b9d 0% 0% no-repeat padding-box;
    padding-bottom: 40px;
    @include media-tablet {
      padding-bottom: 20px;
      padding-top: 15px;
    }
    @include hblock('h2', 40px, normal, 50px) {
      color: white;
      margin-bottom: 30px;
      @include media-tablet {
        margin-bottom: 15px;
      }
    }
    .page_gabarit__fourblocks__wrap {
      * {
        color: white !important;
      }
    }
  }
  .page_gabarit__fourblocks__wrap {
    display: flex;
    flex-flow: row wrap;
    @include media-tablet {
      width: 100%;
    }
    @include hblock('h2', 40px, normal, 50px) {
      margin-bottom: 30px;
      @include media-tablet {
        // margin-bottom: 15px;
        font: normal normal normal 22px/28px 'Mulish', sans-serif;
      }
    }
    .page_gabarit__fourblocks__wrap__container {
      width: 100%;
      .page_gabarit__fourblocks__wrap__elemenet {
        .page_gabarit__fourblocks__wrap__elemenet__img {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
