@import '../../../mixins/media';
@import '../../../mixins/text';

section.page_gabarit__fourblocks {
  padding-top: 0;
  padding-bottom: 80px;
  background: #ffffff;
  @include media-tablet {
    padding-bottom: 40px;
  }
  & {
    &.blue + section {
      &:not(.page_gabarit__fourblocks) {
        padding-top: 80px;
        @include media-tablet {
          padding-top: 40px;
        }
      }
      &.blue:not(.page_gabarit__fourblocks) {
        padding-top: 20px;
        @include media-tablet {
          padding-top: 10px;
        }
      }
    }
    & + section {
      &.blue:not(.page_gabarit__fourblocks) {
        padding-top: 60px;
        @include media-tablet {
          padding-top: 30px;
        }
      }
    }
  }
  &.blue {
    background: #005b9d 0% 0% no-repeat padding-box;
    padding-top: 60px;
    @include media-tablet {
      padding-bottom: 30px;
      padding-top: 30px;
    }
    * {
      color: white !important;
    }
  }
  &.block-1 {
    .page_gabarit__fourblocks__wrap {
      .page_gabarit__fourblocks__wrap__container {
        justify-content: center;
        grid-template-columns: 334px;
        @include media-tablet {
          grid-template-columns: 280px;
        }
      }
    }
  }
  &.block-2 {
    .page_gabarit__fourblocks__wrap {
      .page_gabarit__fourblocks__wrap__container {
        grid-template-columns: repeat(2, minmax(20%, 334px));
        justify-content: center;
        gap: 20px 90px;
        @include media-forHEADER {
          gap: 20px 5%;
        }
        @include media-tablet {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  &.block-3 {
    .page_gabarit__fourblocks__wrap {
      .page_gabarit__fourblocks__wrap__container {
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
        gap: 20px 90px;
        @include media-forHEADER {
          gap: 20px 5%;
          grid-template-columns: repeat(2, 1fr);
        }
        .page_gabarit__fourblocks__wrap__elemenet {
          &:last-of-type {
            @include media-forHEADER {
              grid-column: 1/-1;
              max-width: 50% - (5%-2%);
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  &.block-4 {
    .page_gabarit__fourblocks__wrap {
      .page_gabarit__fourblocks__wrap__container {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 60px;
        @include media-tablet {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  &.block-5 {
    .page_gabarit__fourblocks__wrap {
      .page_gabarit__fourblocks__wrap__container {
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
        gap: 20px 50px;
        @include media-forHEADER {
          gap: 20px 5%;
          grid-template-columns: repeat(2, 1fr);
        }
        .page_gabarit__fourblocks__wrap__elemenet {
          &:last-of-type {
            @include media-forHEADER {
              grid-column: 1/-1;
              max-width: 50% - (5%-2%);
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .page_gabarit__fourblocks__wrap {
    display: flex;
    flex-flow: row wrap;
    @include media-tablet {
      width: 100%;
    }
    @include hblockPAGEGABARIT() {
      margin-bottom: 30px;
    }
    p {
      font: normal normal 300 18px/23px 'Mulish', sans-serif;
      letter-spacing: 0px;
      color: #28373b;
      opacity: 1;
      margin-bottom: 20px;
      @include media-tablet {
        font: normal normal normal 14px/18px 'Mulish', sans-serif;
      }
    }
    .page_gabarit__fourblocks__wrap__container {
      width: 100%;
      grid-template-rows: auto;
      .page_gabarit__fourblocks__wrap__elemenet {
        .page_gabarit__fourblocks__wrap__elemenet__img {
          img {
            object-fit: contain;
          }
        }
        .page_gabarit__fourblocks__wrap__elemenet__text {
          @include hblockPAGEGABARIT() {
            margin-bottom: 10px;
          }
          p {
            font: normal normal 300 18px/23px 'Mulish', sans-serif;
            letter-spacing: 0px;
            color: #28373b;
            opacity: 1;
            margin-bottom: 20px;
            @include media-tablet {
              font: normal normal normal 14px/18px 'Mulish', sans-serif;
            }
          }
        }
      }
    }
  }
}
