section.solutionpage__operationalathome
    .solutionpage__operationalathome__wrap.main
        h3  En service chez vous en quelques étapes
        p De la commande à l’utilisation de votre solution, on vous explique tout :
        .solutionpage__operationalathome__container 
            .solutionpage__operationalathome__block
                img(src="img/orderinstall_step1.png", alt="step")
                span 1
                h4 Configurez votre système sur mesure et passez la commande
                p Notre configurateur vous permet de trouver la solution adaptée à vos besoins et attentes.
            .solutionpage__operationalathome__block
                img(src="img/orderinstall_step2.png", alt="step")
                span 2
                h4 On expédie votre commande en moins de 24h
                p Si tout est en stock, notre équipe expédie rapidement votre commande.
            .solutionpage__operationalathome__block
                img(src="img/orderinstall_step3.png", alt="step")
                span 3
                h4 Réceptionnez et configurez votre solution
                p Grâce à l’application, dès réception de votre commande vous pouvez configurer facilement vos appareils.
            .solutionpage__operationalathome__block
                img(src="img/orderinstall_step4.png", alt="step")
                span 4
                h4 Installez vos appareils dans toutes les pièces
                p Une fois configuré, vous pouvez disposer les appareils comme vous l’avez défini dans l’application.
            .solutionpage__operationalathome__block
                img(src="img/orderinstall_step5.png", alt="step")
                span 5
                h4 C’est terminé ! Vous pouvez profiter de votre solution
                p Simple, rapide, et sans chichi.
            .solutionpage__operationalathome__block
                img(src="img/orderinstall_step6.png", alt="step")
                span 6
                h4 Vous voulez ajouter quelque chose ? Vous pouvez !
                p Il est tout à fait possible d’ajouter un nouvel appareil Nearsens à tout moment, dès que vous le souhaitez.
        .solutionpage__operationalathome__btncont
            a(href="").solutionpage__operationalathome__btn Découvrir le configurateur
            a(href="").solutionpage__operationalathome__btn Découvrir les produits