@import '../../../mixins/media';

section.signuppage__container {
  padding-bottom: 120px;
  .loginpage__container__block {
    .loginpage__container__block__manipulator {
      .error-input {
        border: 1px solid red;
      }
      .custom-select-wrapper {
        flex: none;
        width: 100%;
        margin: 15px 0;
        background: #eeeeee 0% 0% no-repeat padding-box;
        border: 1px solid #bbbbbb;
        border-radius: 6px;
        opacity: 1;
        .custom-select {
          .custom-select__trigger {
            padding: 14px 20px;
            span {
              text-transform: none;
              font: normal normal 300 18px/23px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #333333;
              opacity: 1;
            }
          }
        }
      }
      .error-message {
        color: red;
        font: italic normal bold 14px/23px 'Mulish', sans-serif;
        letter-spacing: 0px;
        opacity: 1;
      }
    }
    .signuppage__container__block__checkbox {
      padding: 0 125px;
      @include media-tablet {
        padding: 0 7%;
      }
      .error-input {
        & + .checkmark {
          border: 1px solid red;
        }
      }
      .container {
        font: normal normal 300 18px/23px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #28373b;
        opacity: 1;
        display: block;
        position: relative;
        padding-left: 45px;
        margin-bottom: 12px;
        cursor: pointer;
        user-select: none;
        @include media-tablet {
          font: normal normal 300 14px/18px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #28373b;
          opacity: 1;
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked {
            + {
              .checkmark {
                background-color: #eee;
                .fa-check {
                  display: block;
                }
              }
            }
          }
        }
        &:hover {
          input {
            ~ {
              .checkmark {
                background-color: #ccc;
              }
            }
          }
        }
        .checkmark {
          &:after {
            left: 12px;
            top: 0px;
            width: 10px;
            height: 18px;
            border: solid #005b9d;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
      }
      .checkmark {
        border: 1px solid #bbbbbb;
        border-radius: 6px;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        background-color: #eee;
        .fa-check {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #005b9d;
        }
      }
    }
    .signuppage__container__block__email {
      padding: 0 7%;
      .error-btn {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}
