section.cart__header.cart__headersticky
    .cart__header__wrap.main
        .cart__header__wrap__first
            .cart__header__wrap__first__text
                h1 Your Cart
            .cart__header__wrap__first__contmanip
                a.cart__header__wrap__first__contmanip__manip(href="")
                    i.far.fa-save
                    span Save 
                        span.desktop for later
                a.cart__header__wrap__first__contmanip__manip(href="")
                    i.fas.fa-share-alt
                    span Share 
                        span.desktop my cart
        .cart__header__wrap__second
            .cart__header__wrap__second__head
                p Total TTC
                span 
                    |1 049
                    sup €99
            .cart__header__wrap__second__containerbutton
                a.cart__header__wrap__second__containerbutton__btn(href="") 
                    span.desktop PROCEED TO 
                    spam CHECKOUT