section.solutionpage__deviceswithsolution
    .solutionpage__deviceswithsolution__wrap.main
        h2 
            |Plus de 
            b 40 appareils sécurisés 
            |qui s’associent à votre solution
        span pour couvrir tous vos besoins
    .solutionpage__deviceswithsolution__imgcontainer.main
        img(src="img/Products Banner.png", alt="")
        //- each val in [1,2,3,4,5,6,7]
        //-     img(src="img/ga"+val+".png", alt="")
    .solutionpage__deviceswithsolution__wrap.main
        h3 Une app complète pour les gouverner tous
        p L’application Nearsens rend votre solution de maison intelligente très facile à utiliser. 
        p En quelques clics, vous pouvez tout gérer ou accéder à toutes les informations que vous recherchez. 
        p Le cerise sur le gâteau? Elle est sécurisé et vos données privées restent pour vous et vous seul.
        a.solutionpage__deviceswithsolution__btn Découvrir l’application
        .solutionpage__deviceswithsolution__logos
            include ../../../common/footer/apple/index
            include ../../../common/footer/google/index