section.productpage__reviewsavaliable
    h2 No Reviews available
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    .productpage__reviewsavaliable-content
        each val in [1,2]
            .productpage__reviewsavaliable-content__element
                img(src="https://www.thewowstyle.com/wp-content/uploads/2015/02/Beautiful-Wallpapers-14.jpg", alt="alt")
                .productpage__reviewsavaliable-content__element-text
                    h3 Lorem ipsum 
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.far.fa-star
                        i.far.fa-star
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperd
        