@import 'common/global';
@import './utils/fonts';
@import 'common/header';

@import 'common/footer';

@import 'common/usecase_list/index';
@import 'common/product_list/index';
@import 'common/product_page/index';
@import 'common/usecase_details/index';
@import 'common/page_gabarit/index';
@import 'common/index/index';
@import 'common/404/index';
@import 'common/login/index';
@import 'common/signup/index';
@import 'common/contact/index';
@import 'common/cart/index';
@import 'common/checkout/index';
@import 'common/myaccount/index';
.wp-admin .wp-block {
  max-width: inherit !important;
}
b,
strong {
  font-weight: 900;
}
blockquote p,
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  display: contents;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  display: contents;
  quotes: '“' '”' '‘' '’';
}
.blue a {
  color: white;
}
* {
  font-family: 'Mulish', sans-serif;
}
h1 {
  margin: 0;
}
