@import 'common/global';
@import 'common/general/index.scss';

@import 'common/usecase_list/index';
@import 'common/usecase_details/index';

@import 'common/product_list/index';
@import 'common/product_page/index';

@import 'common/contact/index';
@import 'common/cart/index';

@import 'common/login/index';
@import 'common/signup/index';

.wp-admin .wp-block {
  max-width: inherit !important;
}
b,
strong {
  font-weight: 900;
}
blockquote p,
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  display: contents;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}
blockquote {
  display: contents;
  quotes: '“' '”' '‘' '’';
}
.blue a {
  color: white;
}
* {
  font-family: 'Mulish', sans-serif;
}
h1 {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.wp-admin {
    min-height: initial;
  }
  #wpwrap {
    min-height: initial;
    max-height: initial;
  }
}
footer {
  margin-top: auto;
}
.woocommerce .col2-set {
  &::after,
  &::before {
    content: none;
  }
}

.woocommerce-page .col2-set {
  &::after,
  &::before {
    content: none;
  }
}
html {
  scroll-behavior: smooth;
}

#hubspot-messages-iframe-container {
  z-index: 500000000 !important;
}
