<svg xmlns="http://www.w3.org/2000/svg" width="218.499" height="223.954" viewBox="0 0 218.499 223.954">
  <g id="Сгруппировать_3576" data-name="Сгруппировать 3576" transform="translate(-32.619 -41.37)">
    <g class="changecolor" id="Сгруппировать_3272" data-name="Сгруппировать 3272" transform="translate(70.478 48.093)">
      <path id="Контур_24849" data-name="Контур 24849" d="M0,18.616,79.5-3.362l78.89,21.978V125.132c-13.329,46.8-79.328,76.262-79.328,76.262S13.957,172.743,0,125.132Z" transform="translate(0 3.362)" fill="#005b9d"/>
    </g>
    <g id="noun_Alert_3408001" transform="translate(32.619 41.369)">
      <g id="Сгруппировать_2887" data-name="Сгруппировать 2887" transform="translate(0 0.001)">
        <path id="Контур_24862" data-name="Контур 24862" d="M71.8,60.022a14.2,14.2,0,0,1-3.2-9.044V43.488A21.4,21.4,0,0,0,49.967,22.295V18.549a2.649,2.649,0,1,0-5.3,0v3.837A21.332,21.332,0,0,0,26.034,43.579V51.07a14.2,14.2,0,0,1-3.2,9.044l-3.289,4.019a6.842,6.842,0,0,0-.913,7.4,6.938,6.938,0,0,0,6.3,4.019H35.169A12.061,12.061,0,0,0,47.227,86.606,12.222,12.222,0,0,0,59.376,75.461H69.608a6.938,6.938,0,0,0,6.3-4.019,6.842,6.842,0,0,0-.913-7.4ZM47.227,81.216a6.868,6.868,0,0,1-6.76-5.755h13.52A6.868,6.868,0,0,1,47.227,81.216Z" transform="translate(-17.943 -7.207)" fill="#46c5b0"/>
        <path id="Контур_24863" data-name="Контур 24863" d="M1.659.212A1.051,1.051,0,0,0,.212.389,1.051,1.051,0,0,0,.389,1.836,11.062,11.062,0,0,1,4.165,7.411a1.016,1.016,0,0,0,.988.741.777.777,0,0,0,.282-.035.985.985,0,0,0,.706-1.27A12.459,12.459,0,0,0,1.659.212Z" transform="translate(34.7 8.598) rotate(-30)" fill="#46c5b0"/>
        <path id="Контур_24864" data-name="Контур 24864" d="M2.045,7.422A10.64,10.64,0,0,1,5.821,1.846,1.019,1.019,0,0,0,6,.4,1.019,1.019,0,0,0,4.55.223,12.72,12.72,0,0,0,.034,6.857a1.037,1.037,0,0,0,.706,1.27.777.777,0,0,0,.282.035A1.058,1.058,0,0,0,2.045,7.422Z" transform="translate(18.254 5.483) rotate(30)" fill="#46c5b0"/>
        <path id="Контур_24865" data-name="Контур 24865" d="M8.362,10.938A16.966,16.966,0,0,0,1.657.21,1.024,1.024,0,0,0,.21.422,1.024,1.024,0,0,0,.422,1.869a14.833,14.833,0,0,1,5.893,9.422,1.054,1.054,0,0,0,1.023.847h.176A1.065,1.065,0,0,0,8.362,10.938Z" transform="translate(34.929 4.19) rotate(-30)" fill="#46c5b0"/>
        <path id="Контур_24866" data-name="Контур 24866" d="M7.957,1.869A1.024,1.024,0,0,0,8.169.422,1.024,1.024,0,0,0,6.722.21a16.966,16.966,0,0,0-6.7,10.728,1.037,1.037,0,0,0,.847,1.2h.176a1.054,1.054,0,0,0,1.023-.847A14.977,14.977,0,0,1,7.957,1.869Z" transform="translate(16.141 0) rotate(30)" fill="#46c5b0"/>
      </g>
    </g>
    <g id="Сгруппировать_2889" data-name="Сгруппировать 2889" transform="translate(189.319 185.696)">
      <path id="Контур_24851" data-name="Контур 24851" d="M46.457,27.953l-3.05-.817,2.161-8.044A20.648,20.648,0,0,0,32.5-6.874,20.64,20.64,0,0,0,8.2,9.07L6.042,17.119l-3.191-.861A4.255,4.255,0,0,0-2.336,19.3c-.01.034-.019.073-.029.106L-11.946,55.15a4.346,4.346,0,0,0,2.93,5.366l43.61,11.694a4.46,4.46,0,0,0,5.347-3.147l9.581-35.745A4.35,4.35,0,0,0,46.5,27.957a.141.141,0,0,1-.044-.01ZM21.033,52.221c.169,2.175-.827,3.621-2.214,3.253l-5.9-1.586c-1.4-.372-1.542-2.05-.3-3.925l3.626-5.274a4.733,4.733,0,1,1,4.3,1.155ZM36.1,25.173,13.211,19.038l2.156-8.044A13.223,13.223,0,0,1,30.532.334a13.205,13.205,0,0,1,7.793,16.814Z" transform="translate(12.116 7.291)" fill="#46c5b0"/>
    </g>
  </g>
</svg>
