.woocommerce-container
    p
      | The following addresses will be used on the checkout page by default.
    .woocommerce-addresslist.u-columns.woocommerce-Addresses.col2-set.addresses
        .woocommerce-address.u-column1.col-1.woocommerce-Address
            header.woocommerce-Address-title.title
                h3 Billing address
                a.edit(href='http://nearsens.urich.work/my-account/edit-address/billing/') Edit
            address
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Name:
                    p Urich Developer
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Company:  
                    p uRich studio
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Street:
                    p Rekordna 14
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead City:
                    p Zaporizhzhya
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Country:
                    p.woocommerce-addresselemhead Ukraine
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Postal Code:
                    p 69000, Ukraine
        .woocommerce-address.u-column2.col-2.woocommerce-Address
            header.woocommerce-Address-title.title
                h3 Shipping address
                a.edit(href='http://nearsens.urich.work/my-account/edit-address/shipping/') Edit
            address
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Name:
                    p Urich Developer
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Company:  
                    p uRich studio
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Street:
                    p Rekordna 14
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead City:
                    p Zaporizhzhya
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Country:
                    p Ukraine
                .woocommerce-addresselem
                    p.woocommerce-addresselemhead Postal Code:
                    p 69000, Ukraine
