@import '../../../mixins/media';
@import '../../../utils/variables.scss';

section.productpage__specificationblock {
  background: #005b9d 0% 0% no-repeat padding-box;
  padding: 60px 0;
  margin-bottom: 80px;
  @include media-tablet {
    padding: 0;
    margin-bottom: 40.5px;
    // margin-bottom: 50px;
  }
  .productpage__specificationblock-wrap {
    max-width: $mediaMAXWIDTH;
    // width: 100%;
    width: 94%;
    margin: 0 auto;
    @include media-tablet {
      margin: 0 auto;
      padding: 30px 0;
      width: 90%;
    }
    h2 {
      text-align: center;
      font: normal normal normal 30px/38px 'Mulish', sans-serif;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin-bottom: 25px;
      @include media-tablet {
        font: normal normal normal 22px/28px 'Mulish', sans-serif;
      }
    }

    .productpage__specificationblock-wrap__container {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      margin-bottom: 60px;
      @include media-tablet {
        margin-bottom: 40px;
      }
      .productpage__specificationblock-wrap__container-block {
        width: 100%;
        flex: 0 1 calc(19% + 40px);
        // flex: 0 1 calc(20% + 40px);
        // max-width: calc(20% + 40px);
        // flex:0 1 calc(24% + 40px);
        @include media-tablet {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: auto;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          // display: flex;
          // flex-flow: row wrap;
          // justify-content: space-between;
          flex: none;
          // max-width: inherit;
        }
        .productpage__specificationblock-wrap__container-block__element {
          display: flex;
          flex-direction: column;
          margin-bottom: 45px;
          @include media-tablet {
            margin: 0;
            // margin: 10px;
            // flex: 0 1 calc(36% + 20px);
            width: 100%;
          }
          &:nth-child(odd) {
            @include media-tablet {
              align-items: flex-start;
              h3,
              p {
                text-align: left;
              }
            }
          }
          &:nth-child(even) {
            @include media-tablet {
              align-items: flex-end;
              h3,
              p {
                text-align: right;
              }
            }
          }
          img {
            max-width: 165px;
            height: auto;
            object-fit: cover;
            @include media-tablet {
              display: none;
            }
            &[data-type='icon'] {
              display: flex;
              width: 40px;
              height: 40px;
              margin-bottom: 10px;
              @include media-tablet {
                display: flex;
              }
            }
          }
          h3 {
            font: normal normal bold 22px/28px 'Mulish', sans-serif;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
            margin-bottom: 10px;
            @include media-tablet {
              font: normal normal bold 16px/20px 'Mulish', sans-serif;
            }
          }
          p {
            word-break: break-word;
            font: normal normal 300 16px/20px 'Mulish', sans-serif;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
            margin-bottom: 15px;
            @include media-tablet {
              margin-bottom: 0px;
              font: normal normal 300 14px/18px 'Mulish', sans-serif;
            }
          }
        }
        &:last-of-type {
          .productpage__specificationblock-wrap__container-block__element {
            align-items: flex-end;
            &:nth-child(odd) {
              @include media-tablet {
                align-items: flex-start;
                h3,
                p {
                  text-align: left;
                }
              }
            }
            &:nth-child(even) {
              @include media-tablet {
                align-items: flex-end;
                h3,
                p {
                  text-align: right;
                }
              }
            }
            h3,
            p {
              text-align: right;
            }
          }
        }
      }
      .productpage__specificationblock-wrap__container-img {
        flex: 0 1 calc(37% + 10px);
        display: flex;
        margin: 0 40px;
        align-items: flex-start;
        @include media-tablet {
          flex: none;
          width: 100%;
          margin: 30px 0;
        }
        img {
          // position: sticky;
          // top: 252px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .productpage__specificationblock-wrap__container__specification {
      width: 100%;
      h2 {
        font: normal normal normal 24px/30px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        text-align: left;
        margin-bottom: 22.5px;
      }
      .accordion {
        width: auto;
        padding: 0;
        margin: 0 0 22.5px;
        background: transparent;
        font: normal normal normal 24px/30px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        @include media-forHEADER {
          width: 100%;
          border-radius: 15px;
          padding: 15px 36px 15px 18px;
          height: auto;
          margin: 10px 0;
          background: #ccc;
          color: #444;
          max-height: inherit;
          @include media-tablet {
            padding: 10px 35px 10px 15px;
            font: normal normal normal 22px/28px 'Mulish', sans-serif;
          }
        }
        &.active {
          i {
            transform: translate(0, -50%) rotate(0deg);
          }
        }
        i {
          display: none;
          @include media-forHEADER {
            display: block;
          }
          top: 50%;
          transform: translate(0, -50%) rotate(180deg);
        }
      }
      .panel {
        display: block;
        background: initial;
        grid-template-columns: initial;
        grid-row-gap: initial;
        max-height: initial;
        padding: 0;
        @include media-forHEADER {
          padding: 0 18px 0;
          max-height: 0;
        }
      }
      .productpage__specificationblock-wrap__container__specification-block {
        // display: grid;
        // grid-gap: 40px;
        // // grid-gap: 10px;
        // grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        // // display: flex;
        // // @include media-tablet {
        // //   flex-direction: column;
        // // }
        // @include media-tablet {
        //   grid-gap: inherit;
        // }

        ul {
          &.head {
            width: 90%;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            // grid-gap: 20px 40px;
            // grid-gap: 20px 140px;
            grid-gap: 20px 20%;
            @include media-forHEADER {
              width: 95%;
              grid-gap: 20px 100px;
              grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            }
            @include media-tablet {
              width: 100%;
              display: block;
            }
          }
          li {
            display: grid;
            // grid-template-columns: 1fr fit-content(55%);
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 49px;
            grid-row-gap: 0px;
            // margin-bottom: 30px;
            @include media-tablet {
              grid-template-columns: repeat(1, 1fr);
              grid-template-rows: repeat(2, 1fr);
              margin-bottom: 15px;
            }
            h3 {
              font: normal normal normal 14px/18px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #ffffff;
              text-transform: uppercase;
              opacity: 0.7;
              @include media-tablet {
                margin-bottom: 5px;
                text-align: start;
              }
            }
            span {
              font: normal normal normal 16px/20px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              @include media-tablet {
                font: normal normal normal 14px/18px 'Mulish', sans-serif;
                text-align: end;
              }
              // &:first-of-type {
              // }
              // &:last-of-type {

              // }
            }
          }
        }
        // ul {
        //   span:last-of-type {
        //     display: none;
        //   }
        //   &.head {
        //     @include media-tablet {
        //       display: flex;
        //       flex-direction: column;
        //       width: 100%;
        //       li {
        //         opacity: 1 !important;
        //         text-transform: unset !important;
        //       }
        //       li span:first-of-type {
        //         display: inline-block;
        //         padding-right: 20px;
        //         font: normal normal normal 14px/18px 'Mulish',sans-serif;
        //         letter-spacing: 0px;
        //         color: #ffffff;
        //         text-transform: uppercase;
        //         opacity: 0.7;
        //         margin-bottom: 5px;
        //       }
        //       li span:last-of-type {
        //         padding-left: 20px;
        //         text-align: right;
        //         display: block;
        //         font: normal normal normal 14px/18px 'Mulish',sans-serif;
        //         letter-spacing: 0px;
        //         text-transform: unset;
        //         color: #ffffff;
        //         opacity: 1;
        //       }
        //     }
        //   }
        //   &.text {
        //     @include media-tablet {
        //       display: none;
        //     }
        //   }
        //   li {
        //     list-style: none;
        //     margin-bottom: 32px;
        //     @include media-tablet {
        //       margin-bottom: 15px;
        //     }
        //     // &:last-of-type{
        //     //     @include media-tablet {
        //     //         margin-bottom:0;
        //     //     }
        //     // }
        //   }
        //   &:nth-child(odd) {
        //     margin-right: 50px;
        //     @include media-tablet {
        //       margin-right: 0;
        //     }
        //     li {
        //       font: normal normal normal 14px/18px 'Mulish',sans-serif;
        //       letter-spacing: 0px;
        //       color: #ffffff;
        //       text-transform: uppercase;
        //       opacity: 0.7;
        //     }
        //   }
        //   &:nth-child(even) {
        //     margin-right: 140px;
        //     @include media-tablet {
        //       margin-right: 0;
        //     }
        //     li {
        //       font: normal normal normal 16px/18px 'Mulish',sans-serif;
        //       letter-spacing: 0px;
        //       color: #ffffff;
        //       opacity: 1;
        //     }
        //   }
        // }
      }
    }
  }
}
