section.solutionpage__header
    .solutionpage__header__wrap.main
        img(src="img/Changed Gateway.png",draggable="false", alt="Our gateway")
        .solutionpage__header__txt
            h2 La solution Nearsens
            h1 Plus simple. 
            h1 Plus complète et plus sécurisée. 
            h1 Installée en moins de 10 min.
            p Le système Nearsens est la 
                b première solution 
                |vraiment adaptée à 
                b vos besoins
                |. 
            p Installée en 
                b quelques minutes 
                | sans compétences ni outils, vous pouvez 
                b sécuriser
                |, 
                b surveiller 
                | et 
                b contrôler 
                |de manière 
                b ininterrompue 
                |ce qui compte le plus pour vous, depuis 
                b n'importe où, 
                |avec une 
                b simplicité inégalée 
                |sur une solution d'alarme ou de maison connectée. 
            p Conçu pour ceux qui souhaitent redécouvrir la 
                b tranquillité d’esprit,
                | et transporter leur logement et leurs proches dans une autre dimension de manière 
                b durable.
            h3 Créer pour protéger, construit pour évoluer au fil du temps...


