section.page_garbit__blockacconts
    .page_garbit__blockacconts__text
        h3 Lorem ipsum dolor sit amet
    .page_garbit__blockacconts__blocks
        each val in [1,2]
            .page_garbit__blockacconts__blocks__element
                .page_garbit__blockacconts__blocks__element__img
                    img(src="https://gagadget.com/media/post_big/xiaomi-mi-robot-vacuum-cleaner-1s-m.jpg", alt="")
                .page_garbit__blockacconts__blocks__element__text
                    h3 
                        |Lorem ipsum dolor Lorem ipsum dolor 
                        i.fab.fa-linkedin-in
                    span CEO - Blablabla
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est tristique accumsan quis ac nisi. Pellentesque

