@import '../../../mixins/media';

section.index__reviews {
  display: flex;
  flex-direction: column;

  margin-bottom: 80px;
  @include media-tablet {
    // margin-bottom: 80px;
    margin-bottom: 80px - 55px;
  }

  .index__reviews__head {
    margin-bottom: 60.5px;
    h3 {
      text-align: center;
      font: normal normal 300 18px/23px Mulish;
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
      padding-bottom: 60.5px;
      @include media-tablet {
        font: normal normal 300 16px/20px Mulish;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        padding-bottom: 30px;
      }
    }
    hr {
      margin: 0 auto;
      width: 150px;
    }
    @include media-tablet {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .index__reviews__content {
    @include media-tablet {
      width: 90%;
      margin: 0 auto;
    }
    .index__reviews__content__element {
      // max-width: 846px;
      max-width: 65%;
      margin: 0 auto;
      @include media-tablet {
        max-width: 100%;
      }
      h2 {
        text-align: center;
        font: normal normal 800 26px/33px Mulish;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        margin-bottom: 10px;
        @include media-tablet {
          font: normal normal 800 22px/28px Mulish;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
          margin-bottom: 5px;
        }
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 33px;
        font-size: 18px;
        i {
          color: #ffb600;
        }
        @include media-tablet {
          margin-bottom: 30px;
        }
      }
      .index__reviews__content__element__text {
        p {
          position: relative;
          text-align: center;
          font: normal normal bold 20px/25px Mulish;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
          margin-bottom: 7px;
          // quotes: '\201c''\201e';
          &::before {
            content: '\201c';
            font-size: 30px;
            position: absolute;
            left: -45px;
            @include media-tablet {
              left: 0px;
              top: -10px;
            }
            // position: relative;
            // right: 30px;
            // @include media-tablet {
            //   right: 10px;
            // }
          }
          &::after {
            content: '\201e';
            font-size: 30px;
            position: absolute;
            right: -45px;
            @include media-tablet {
              right: 0px;
              bottom: -10px;
            }
            // position: relative;
            // left: 30px;
            // @include media-tablet {
            //   left: 10px;
            // }
          }
          @include media-tablet {
            font: normal normal bold 16px/20px Mulish;
            letter-spacing: 0px;
            color: #333333;
            opacity: 1;
            margin-bottom: 30px;
          }
        }
        span {
          text-align: center;
          margin: 0;
          font: normal normal 300 16px/20px Mulish;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
          @include media-tablet {
            font: normal normal 300 14px/18px Mulish;
            letter-spacing: 0px;
            color: #333333;
            opacity: 1;
          }
        }
      }
    }
  }
}
