section.index__reviews{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    .index__reviews__head{
        margin-bottom: 60.5px; 
        h3{
            text-align: center;
            font: normal normal 300 18px/23px Muli;
            letter-spacing: 0px;
            color: #333333;
            opacity: 1;
            padding-bottom: 60.5px;           
        }
        hr{
            margin:0 auto;
            width: 150px;
        }
    }
    .index__reviews__content{
        .index__reviews__content__element{
            max-width: 846px;
            margin: 0 auto;
            h3{
                text-align: center;
                font: normal normal 800 26px/33px Muli;
                letter-spacing: 0px;
                color: #333333;
                opacity: 1;
                margin-bottom: 10px;
            }
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 33px;
                font-size: 18px;
                i{
                    color: #FFB600;
                }
            }
            .index__reviews__content__element__text{
                p,q{
                    text-align: center;   
                    font: normal normal bold 20px/25px Muli;
                    letter-spacing: 0px;
                    color: #333333;
                    opacity: 1;
                    margin-bottom: 7px;
                    quotes: "\201c" "\201e";
                    &::before{
                        font-size:30px;
                        position: relative;
                        right: 30px;
                    }
                    &::after{
                        font-size:30px;
                        position: relative;
                        left: 30px;
                    }
                }
                span{
                    text-align: center;
                    margin: 0;
                    font: normal normal 300 16px/20px Muli;
                    letter-spacing: 0px;
                    color: #333333;
                    opacity: 1;
                }
            }

        }
    }
}