section.productpage__specificationblock
    .productpage__specificationblock-wrap.main
        h3 Title of this bloc
        .productpage__specificationblock-wrap__container
            .productpage__specificationblock-wrap__container-block
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h4 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h4 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                    img(src="https://www.planetware.com/wpimages/2019/10/japan-in-pictures-most-beautiful-places-arashiyama-bamboo-grove-kyoto.jpg", alt="alt")
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h4 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                    img(src="https://www.planetware.com/wpimages/2019/10/japan-in-pictures-most-beautiful-places-arashiyama-bamboo-grove-kyoto.jpg", alt="alt")
            .productpage__specificationblock-wrap__container-img
                img(src="https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="alt")
            .productpage__specificationblock-wrap__container-block 
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h4 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h4 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                    img(src="https://www.planetware.com/wpimages/2019/10/japan-in-pictures-most-beautiful-places-arashiyama-bamboo-grove-kyoto.jpg", alt="alt")
        .productpage__specificationblock-wrap__container__specification
            h3 Technical’s specifications
            .productpage__specificationblock-wrap__container__specification-block
                ul.head
                    li 
                        span Dimensions (Ø x H)
                        span Lorem ipsum dolor sit amet, consectetur
                    li
                        span Colors
                        span Lorem ipsum dolor sit amet, consectetur
                    li
                        span Radio
                        span Lorem ipsum dolor sit amet, consectetur
                    li 
                        span Waterproof
                        span Lorem ipsum dolor sit amet, consectetur
                ul.text
                    li Lorem ipsum dolor sit amet, consectetur
                    li Lorem ipsum dolor sit amet
                    li Lorem ipsum dolor sit amet, consectetur
                    li IP class: IP20
                ul.head
                    li
                        span Range
                        span Lorem ipsum dolor sit amet, consectetur
                    li 
                        span Alarm
                        span Lorem ipsum dolor sit amet, consectetur
                    li
                        span Liquid detector
                        span Lorem ipsum dolor sit amet, consectetur
                    li
                        span LOREM IPSUM DOLOR
                        span Lorem ipsum dolor sit amet, consectetur
                ul.text
                    li Lorem ipsum dolor sit amet, consectetur
                    li Lorem ipsum dolor sit amet
                    li Lorem ipsum dolor sit amet, consectetur
                    li IP class: IP20