section.productpage__specificationblock
    .productpage__specificationblock-wrap.main
        h2 Title of this bloc
        .productpage__specificationblock-wrap__container
            .productpage__specificationblock-wrap__container-block
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h3 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h3 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                    img(src="https://www.planetware.com/wpimages/2019/10/japan-in-pictures-most-beautiful-places-arashiyama-bamboo-grove-kyoto.jpg", alt="alt")
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h3 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                    img(src="https://www.planetware.com/wpimages/2019/10/japan-in-pictures-most-beautiful-places-arashiyama-bamboo-grove-kyoto.jpg", alt="alt")
            .productpage__specificationblock-wrap__container-img
                img(src="https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="alt")
            .productpage__specificationblock-wrap__container-block 
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h3 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                .productpage__specificationblock-wrap__container-block__element
                    img(data-type="icon" src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="alt")
                    h3 Text lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id
                    img(src="https://www.planetware.com/wpimages/2019/10/japan-in-pictures-most-beautiful-places-arashiyama-bamboo-grove-kyoto.jpg", alt="alt")
        .productpage__specificationblock-wrap__container__specification
            //- h2 Technical’s specifications
            button.accordion.active
                | Technical’s specifications
                i.fas.fa-angle-up
            .panel.productpage__specificationblock-wrap__container__specification-block
                ul.head
                    li
                        h3 Range
                        span Lorem ipsum dolor sit amet, consectetur
                    li 
                        h3 Alarm
                        span Lorem ipsum dolor sit amet, consectetur
                    li
                        h3 Liquid detector
                        span Lorem ipsum dolor sit amet, consectetur
                    li
                        h3 LOREM IPSUM DOLOR
                        span Lorem ipsum dolor sit amet, consectetur