.woocomerse__myaccountdetails
    .checkout_page__input.woocomerse__inputs
        input(type="text" placeholder="Fist name").two
        input(type="text" placeholder="Last name*").two
        input(type="text" placeholder="Last name*").one
    .woocomerse__text
        p This will be how your name will be displayed in the account section and in reviews
    .checkout_page__input.woocomerse__inputs
        input(type="text" placeholder="Email address*").one
    .woocomerse__text
        h3 
            |Password change 
            |(leave blank to leave unchanged)
    .checkout_page__input.woocomerse__inputs
        input(type="text" placeholder="Fist name").two
        input(type="text" placeholder="Last name*").two
        input(type="text" placeholder="Last name*").one