section.cart__productcontainer
    .cart__productcontainer__head
        span Product name
        span Price
        span Quantity
        span 
            i.far.fa-trash-alt
    .cart__productcontainer__container
        .cart__productcontainer__container__element
            .cart__productcontainer__container__element__textcont
                .cart__productcontainer__container__element__textcont__img
                    img(src="img/product10.png", alt="")
                .cart__productcontainer__container__element__textcont__text
                    h4 Product name lorem ipsum
                    p In stock
            .cart__productcontainer__container__element__manipulator
                .cart__productcontainer__container__element__manipulator__price
                    span.price.price-disqount 69
                        sup €99 
                    span.price 49
                        sup €99 
                .cart__productcontainer__container__element__manipulator__quantity
                    .cart__productcontainer__container__element__manipulator__quantity__btn
                        i.fas.fa-minus
                    span.cart__productcontainer__container__element__manipulator__quantity__ammount 0
                    .cart__productcontainer__container__element__manipulator__quantity__btn
                        i.fas.fa-plus
                .cart__productcontainer__container__element__manipulator__remove
                    i.fas.fa-times