//- section.cart__productcontainer
//-     .cart__productcontainer__head
//-         span Product name
//-         span Price
//-         span Quantity
//-         span 
//-             i.far.fa-trash-alt
//-     .cart__productcontainer__container
//-         .cart__productcontainer__container__element
//-             .cart__productcontainer__container__element__textcont
//-                 .cart__productcontainer__container__element__textcont__img
//-                     img(src="img/product10.png", alt="")
//-                 .cart__productcontainer__container__element__textcont__text
//-                     h4 Product name lorem ipsum
//-                     p In stock
//-             .cart__productcontainer__container__element__manipulator
//-                 .cart__productcontainer__container__element__manipulator__price
//-                     span.price.price-disqount 69
//-                         sup €99 
//-                     span.price 49
//-                         sup €99 
//-                 .cart__productcontainer__container__element__manipulator__quantity
//-                     .cart__productcontainer__container__element__manipulator__quantity__btn
//-                         i.fas.fa-minus
//-                     span.cart__productcontainer__container__element__manipulator__quantity__ammount 0
//-                     .cart__productcontainer__container__element__manipulator__quantity__btn
//-                         i.fas.fa-plus
//-                 .cart__productcontainer__container__element__manipulator__remove
//-                     i.fas.fa-times

section.cart__productcontainer
    .cart__productcontainer__head
        span.text.div1 Product name
        span.text.div2 Price
        span.text.div3 Quantity
        span.text.div4
            i.far.fa-trash-alt
    .cart__productcontainer__container
        each val in [1,2,3,4]
            .cart__productcontainer__container__element
                .cart__productcontainer__container__element__textcont
                    .cart__productcontainer__container__element__textcont__img
                        img(src="img/product10.png", alt="")
                    .cart__productcontainer__container__element__textcont__text
                        h4 
                            |Product name lorem ipsum
                            span.cart__productcontainer__container__element__textcont__text__disqount -50%
                        p In stock
                .cart__productcontainer__container__element__price
                    span.price.price-disqount 69
                        sup €99 
                    span.price 49
                        sup €99 
                .cart__productcontainer__container__element__quantity
                    button.cart__productcontainer__container__element__quantity__btn.minus
                        i.fas.fa-minus
                    span.cart__productcontainer__container__element__quantity__ammount 0
                    button.cart__productcontainer__container__element__quantity__btn.plus
                        i.fas.fa-plus
                .cart__productcontainer__container__element__remove
                    i.fas.fa-times
                    //- <a href="#" class="close">
                    //- img(src="img/letter-x.svg", alt="")
                    //- .cross
                    //- <svg class="cross" height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><path fill="#005b9d" d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/></svg>
        .cart__productcontainer__container__element.gateway
                .cart__productcontainer__container__element__textcont
                    .cart__productcontainer__container__element__textcont__img
                        img(src="img/product10.png", alt="")
                    .cart__productcontainer__container__element__textcont__text
                        h4 Product name lorem ipsum
                        p In stock
                .cart__productcontainer__container__element__price
                    //- span.price.price-disqount 69
                    //-     sup €99 
                    span.price 949
                        sup €99 
                .cart__productcontainer__container__element__quantity
                    button.cart__productcontainer__container__element__quantity__btn.minus
                        i.fas.fa-minus
                    span.cart__productcontainer__container__element__quantity__ammount 1
                    button.cart__productcontainer__container__element__quantity__btn.plus
                        i.fas.fa-plus
                .cart__productcontainer__container__element__remove
                    //- <svg class="cross"  height="329pt" viewBox="0 0 329.26933 329" width="329pt" xmlns="http://www.w3.org/2000/svg"><path fill="#005b9d" d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0"/></svg>
                    i.fas.fa-times 
                    //- .cross
                    //- img(src="img/letter-x.svg", alt="")