section.productlist__pageheader
    img(class="bg-block",src="img/productlist_bg_pg.png", alt="background")
    .productlist__pageheader-wrapper
        .productlist__pageheader-wrapper__text-container
            //- .productlist__pageheader-wrapper__slider-container__slider__btn
            //-     button All
            //-     button All
            .productlist__pageheader-wrapper__text-container__text
                h1 Our products
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor sagittis est nec.
            .productlist__pageheader-wrapper__text-container__picker
                h3 Filters
                .productlist__pageheader-wrapper__text-container__picker-filters
                    button.all All
                    button.active Protect
                    button Save Energy
                    button Daily Comfort
    .productlist__pageheader-wrapper__slider-container
        //- ul#customize-controls.controls(aria-label='Carousel Navigation' tabindex='0')
        button.prev.btn.slick-arrow(data-controls='prev' aria-controls='customize' tabindex='-1')
            |Prev
        button.next.btn.slick-arrow(data-controls='next' aria-controls='customize' tabindex='-1')
            |Next
        .productlist__pageheader-wrapper__slider-container__slider
            each val,index in [1,2,3,4,5,6,7,8,9,10,11,1,2,3,4,5,6,7,8,8,10]
                .productlist__pageheader-wrapper__slider-container__slider-element
                    img(title="Tooltip"+val+" text" src="img/product"+val+".png", alt="slider")
                    //- span.tooltiptext Tooltip text
            //- each val,index in [1,2,3,4]
            //-     .productlist__pageheader-wrapper__slider-container__slider-element.non-filter
            //-         img(src="img/product"+val+".png", alt="slider")