section.solutionpage__gatepromo
    .solutionpage__gatepromo__wrap.main
        .solutionpage__gatepromo__bluecontainer
            .solutionpage__gatepromo__bluehead
                h3 
                    i.fas.fa-info-circle
                    |  Quelqu’un ne possède pas l’application ? 
                h3 Vous n’avez plus de batterie ? Pas de panique !
            .solutionpage__gatepromo__bluetxt
                p Certaines fonctionnalités de la solution peuvent fonctionner sans l’application. Vous pouvez armer ou désarmer votre alarme, allumer et éteindre vos appareils, ouvrir ou fermer la porte normalement comme vous le faites habituellement.*
            img(src="img/Keypad.png", alt="")
        h4 *vous avez besoin de l’application pour installer et configurer votre solution.
        .solutionpage__gatepromo__bigtextcontaienr
            h2 Une installation simple comme bonjour.
            p Pas de câble, pas de travaux à prévoir, pas de compétences à avoir. Vous avez simplement besoin de l’application, un jeu d’enfant.