section.use_case__usecases
    h3 Uses cases
    .use_case__usecases-biglist
        a(href="").use_case__usecases-biglist__element
            .use_case__usecases-biglist__element-img
                img(src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="")
            .use_case__usecases-biglist__element-text
                h4 BIG
                p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
        a(href="").use_case__usecases-biglist__element
            .use_case__usecases-biglist__element-img
                img(src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="")
            .use_case__usecases-biglist__element-text
                h4 BIG
                p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
    .use_case__usecases-list
        //- a(href="").use_case__usecases-list__element.big-element
        //-     .use_case__usecases-list__element-img
        //-         img(src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="")
        //-     .use_case__usecases-list__element-text
        //-         h4 BIG
        //-         p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
        //- a(href="").use_case__usecases-list__element.big-element
        //-     .use_case__usecases-list__element-img
        //-         img(src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="")
        //-     .use_case__usecases-list__element-text
        //-         h4 BIG
        //-         p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit
        each val, index in [1,2,3,4,5,6,7,8,9,10,11,12]
            a(href="").use_case__usecases-list__element
                .use_case__usecases-list__element-img
                    img(src="https://cdn.guidingtech.com/imager/assets/190747/Beautiful-HD-Birds-Wallpapers-Download_4d470f76dc99e18ad75087b1b8410ea9.jpg?1524142273", alt="")
                .use_case__usecases-list__element-text
                    h4 Category of this use case
                    p Use case name lorem ipsum dolor sit amet, consectetur adipiscing elit