@import '../utils/variables.scss';
@import '../mixins/media';

footer.globalfooter {
  padding: 50px 0 86px;
  background: #003f6d 0% 0% no-repeat padding-box;
  .globalfooter__wrapper {
    max-width: $mediaMAXWIDTH;
    margin: 0 auto;
    // width: 100%;
    width: 94%;
    @include media-tablet {
      width: 100%;
    }
    // .globalfooter__wrapper__logo{
    //   margin-bottom: 20px;
    // }
    .globalfooter__wrapper__content {
      margin-bottom: 60px;
      display: flex;
      flex-flow: row wrap;
      ul {
        margin: 0 0 20px;
        flex: 1 1 calc(15% + 30px);
        &:first-of-type {
          @include media-forHEADER {
            display: none;
            @include media-tablet {
              display: inherit;
            }
          }
        }
        &.open {
          li {
            display: block;
          }
        }
        li {
          width: fit-content;
          width: intrinsic;
          cursor: pointer;
          list-style: none;
          text-align: left;
          font: normal normal normal 16px/30px Muli;
          letter-spacing: 0px;
          color: #ffffff;
          transition: all ease 0.5s;
          &.images {
            img {
              margin-top: 15px;
              margin-right: 10px;
            }
          }
          a {
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            color: #ffffff;
          }
          &.header {
            text-align: left;
            &.big {
              font: normal normal bold 16px/40px Muli;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              &:first-of-type {
                font: normal normal bold 16px/30px Muli;
                @include media-tablet {
                  font: normal normal bold 16px/40px Muli;
                }
              }
            }
            &.big-head {
              font: normal normal bold 16px/30px Muli;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
            }
            &.inside {
              font: normal normal normal 16px/30px Muli;
              letter-spacing: 0px;
              color: #ffffff;
              @include media-tablet {
                padding-left: 10px;
                border-left: 1px solid white;
              }
            }
          }
        }
        @include media-tablet {
          margin: 0;
        }
      }
      @include media-tablet {
        flex-direction: column;
      }
    }
    .globalfooter__wrapper__additional {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      padding-top: 31px;
      border-top: 1px solid #33709c;
      margin-bottom: 30px;
      .globalfooter__wrapper__additional__text {
        margin: 5px 10px 5px 0;
        ul {
          display: flex;
          flex-flow: row wrap;
          li {
            margin: 0 5px;
            font: normal normal normal 16px/20px Muli;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
            text-decoration: none;
            @include media-tablet {
              margin: 10px 5px;
            }
            &:first-of-type {
              &::before {
                content: '';
              }
            }
            &:before {
              content: '-';
              position: relative;
              left: -5px;
            }
            &.img {
              display: flex;
              flex-direction: row;
              justify-content: center;
              a {
                display: flex;
              }
              @include media-tablet {
                &::before {
                  content: '';
                }
              }
            }
            a {
              color: #ffffff;
              text-decoration: none;
              img {
                margin-right: 15px;
              }
            }
          }
          @include media-tablet {
            align-items: center;
            justify-content: center;
          }
        }
      }
      .globalfooter__wrapper__additional__logos {
        margin: 5px 0 5px 10px;
        @include media-tablet {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;
        }
        a {
          i {
            transition: all ease 0.5s;
            font-size: 25px;
            color: white;
            margin: 0 10px;
            &:hover {
              transform: translate(0, -5px);
            }
          }
        }
      }
      @include media-tablet {
        flex-direction: column-reverse;
      }
    }
    .globalfooter__wrapper__download {
      display: flex;
      justify-content: flex-end;
      a {
        display: flex;
      }
      img {
        margin-left: 26px;
      }
      @include media-tablet {
        justify-content: center;
      }
    }
  }
  @include media-tablet {
    padding: 30px 30px 60px;
  }
}
