@import "../utils/variables.scss";
@import "../mixins/media";

footer.globalfooter{
  padding: 50px 0 86px;
  background: #003F6D 0% 0% no-repeat padding-box;
  .globalfooter__wrapper{
    max-width: $mediaMAXWIDTH;
    margin: 0 auto;
    width: 100%; 
    .globalfooter__wrapper__logo{
      margin-bottom: 20px;
    }
    .globalfooter__wrapper__content{
      margin-bottom: 60px;
      display: flex;
      flex-flow: row wrap;
      ul{
        margin:20px 0;
        flex: 1 1 calc(17% + 30px);
        li{
          width: fit-content;
          cursor: pointer;
          list-style: none;
          text-align: left;
          font: normal normal normal 16px/30px Muli;
          letter-spacing: 0px;
          color: #FFFFFF;
          transition: all ease .5s;
          &:hover:not(.header):not(.images){
            transform: translate(10px,0);
          }
          a{ 
            font: normal normal normal 16px/30px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-decoration: none;
          }
          &.header{
            text-align: left;
            font: normal normal bold 16px/30px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            @include media-tablet {
              display: flex;
            }
          }
          >img{
            margin-top: 15px;
            margin-right:10px;
          }
          @include media-tablet {
            display: none;
          }
        }
        @include media-tablet {
          margin:0;
        }
      }
      @include media-tablet {
        flex-direction: column;
      }
    }
    .globalfooter__wrapper__additional{
      display: flex;
      justify-content: space-between;
      padding-top:31px;
      border-top:1px solid #33709c;
      margin-bottom: 30px;
      .globalfooter__wrapper__additional__text{
        h4{
          font: normal normal normal 16px/20px Muli;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
        }
      }
      .globalfooter__wrapper__additional__logos{
        a{
          i{
            transition: all ease 0.5s;
            font-size: 25px;
            color: white;
            margin:0 10px;
            &:hover{
              transform: translate(0,-5px);
            }
          }
        }
      }
      @include media-tablet {
        display: none;
      }
    }
    .globalfooter__wrapper__download{
      display: flex;
      justify-content: flex-end;
      img{
        margin-left:26px;
      } 
      @include media-tablet {
        display: none;
      }
    }
  }
  @include media-tablet {
    padding: 30px 30px 60px;

  }
}