@import '../utils/variables.scss';
@import '../mixins/media';

footer.globalfooter {
  padding: 50px 0 86px;
  background: #003f6d 0% 0% no-repeat padding-box;
  @include media-forHEADER {
    // padding: 30px 30px 40px;
    padding: 30px 40px 40px;
  }

  .globalfooter__wrapper {
    max-width: $mediaMAXWIDTH;
    margin: 0 auto;
    // width: 100%;
    width: 94%;
    @include media-forHEADER {
      width: 100%;
    }
    .globalfooter__wrapper__content {
      margin-bottom: 60px;
      // display: flex;
      // flex-flow: row wrap;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 16px;
      @include media-forHEADER {
        display: flex;
        grid-gap: inherit;
      }
      ul {
        margin: 0 0 20px;
        flex: 1 1 calc(15% + 30px);
        &:first-of-type {
          @include media-forHEADER {
            display: none;
            @include media-forHEADER {
              display: inherit;
            }
          }
        }
        &.open {
          li {
            display: block;
          }
        }
        li {
          width: fit-content;
          width: intrinsic;
          cursor: pointer;
          list-style: none;
          text-align: left;
          font: normal normal normal 16px/30px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #ffffff;
          transition: all ease 0.5s;
          &.images {
            img {
              margin-top: 15px;
              margin-right: 10px;
            }
          }
          &.big,
          &.inside {
            cursor: not-allowed;
            a {
              &[href=''],
              &[href='#'] {
                cursor: not-allowed;
                pointer-events: none;
              }
            }
          }
          a {
            display: flex;
            justify-content: flex-start;
            text-decoration: none;
            color: #ffffff;

            &.logo-img {
              svg {
                width: 150px;
                height: 29px;
              }
            }
          }
          &.header {
            text-align: left;
            &.big {
              font: normal normal bold 16px/40px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              &:first-of-type {
                font: normal normal bold 16px/30px 'Mulish', sans-serif;
                @include media-forHEADER {
                  font: normal normal bold 16px/40px 'Mulish', sans-serif;
                }
              }
            }
            &.big-head {
              font: normal normal bold 16px/30px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
            }
            &.inside {
              font: normal normal normal 16px/30px 'Mulish', sans-serif;
              letter-spacing: 0px;
              color: #ffffff;
              @include media-forHEADER {
                padding-left: 10px;
                border-left: 1px solid white;
              }
            }
          }
        }
        @include media-forHEADER {
          margin: 0;
        }
      }
      @include media-forHEADER {
        flex-direction: column;
      }
    }
    .globalfooter__wrapper__additional {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      padding-top: 21px !important;
      // border-top: 1px solid #33709c;
      margin-bottom: 20px;
      gap: 10px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        // left: 50%;
        // transform: translate(-50%, 0%);
        width: calc(100% - 10px);
        height: 1px;
        background: #33709c;
        @include media-forHEADER {
          left: 50%;
          transform: translate(-50%, 0%);
        }
      }
      @include media-forHEADER {
        width: 100%;
        padding-top: 20px !important;
        margin-bottom: 30px;
        flex-direction: column-reverse;
      }
      .globalfooter__wrapper__additional__text {
        ul {
          // gap: 5px;
          row-gap: 5px;
          column-gap: 10px;
          display: flex;
          flex-flow: row wrap;
          @include media-forHEADER {
            --fgp-gap-container: calc(
              var(--fgp-gap-parent, 0px) - 10px
            ) !important;
            --fgp-gap: var(--fgp-gap-container);
            margin-top: var(--fgp-gap);
            margin-right: var(--fgp-gap);
            align-items: center;
            justify-content: center;
            > * {
              --fgp-gap-parent: 10px !important;
              --fgp-gap-item: 10px !important;
              --fgp-gap: var(--fgp-gap-item) !important;
              margin-top: var(--fgp-gap);
              margin-right: var(--fgp-gap);
            }
          }
          li {
            // margin: 0 5px;
            font: normal normal normal 16px/20px 'Mulish', sans-serif;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
            text-decoration: none;
            @include media-forHEADER {
              // gap: 10px;
              // margin: 10px 5px;
            }
            &:first-of-type {
              &::before {
                content: '';
              }
            }
            &:before {
              content: '-';
              position: relative;
              left: -5px;
            }
            &.img {
              // gap: 10px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              a {
                display: flex;
              }
              @include media-forHEADER {
                &::before {
                  content: '';
                }
              }
            }
            a {
              color: #ffffff;
              text-decoration: none;
              img {
                margin-right: 15px;
              }
            }
          }
        }
      }
      .globalfooter__wrapper__additional__logos {
        // margin: 5px 0 5px 10px;
        @include media-forHEADER {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
        }
        a {
          &:last-of-type {
            i {
              margin-right: 0;
            }
          }
          i {
            transition: all ease 0.5s;
            font-size: 25px;
            color: white;
            margin: 0 10px;

            &:hover {
              transform: translate(0, -5px);
            }
          }
        }
      }
    }
    .globalfooter__wrapper__download {
      display: flex;
      @include media-forHEADER {
        justify-content: center;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-columns: 126.17px 134.64px;
        // grid-gap: 26.7px;
      }
      justify-content: flex-end;
      gap: 26.9px;

      a {
        display: flex;
        &:first-of-type {
          // svg,
          // img {
          //   width: 135px;
          // }
        }
        &:last-of-type {
          // @include media-forHEADER {
          //   max-width: 134.64px;
          //   width: 100%;
          //   justify-self: flex-start;
          //   img {
          //     width: 100%;
          //   }
          // svg,
          // img {
          //   width: 126px;
          // }
        }
        img,
        svg {
          width: 136px;
          height: 40px;
        }
      }
    }
    @include media-forHEADER {
      width: 100%;
      justify-content: center;
    }
  }
}
