@import '../../local_modules/normalize.css/normalize';
@import '../../local_modules/font-awesome/all.min';
// @import '../../local_modules/'Mulish',sans-serif/'Mulish',sans-serif';
// @import '../../local_modules/mulish/mulish';
@import '../mixins/media';
@import '../utils/variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
  // max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
.button {
  outline: none;
  &:disabled {
    color: #a9afb0;
    border: 1px solid #a9afb0;
  }
}
.btn-disabled,
.btn-disabled[disabled] {
  opacity: 0.4 !important;
  cursor: default !important;
  pointer-events: none !important;
}
nav.nav.holiday-header ~ script + main {
  @include media-tablet {
    margin-top: $marginTopResp;
  }
  .cart__headersticky,
  .loginpage__sticky,
  .productpage__pageheader_sticky,
  .productlist__scrollheader,
  .usecase_details__pageheaderafterscroll,
  .use_case__scrollheader {
    @include media-forHEADER {
      top: 111px;
      @include media-tablet {
        top: $marginTopResp;
      }
    }
  }
}
main {
  @include media-forHEADER {
    margin-top: 64px;
    @include media-tablet {
      // margin-top: 57px;
      margin-top: 55px;
    }
  }

  &.holiday-state {
    @include media-forHEADER {
      top: 75px;
      @include media-tablet {
        margin-top: $additionalNavMenuToTopRESP;
      }
    }
  }
}
main.main,
.main {
  overflow: hidden;
  max-width: $mediaMAXWIDTH;
  margin: 0 auto;
  width: 94%;
  @include media-tablet {
    // margin: 58px auto 0 ;
    width: 100%;
    // overflow: hidden;
  }
}
.filtered {
  display: none !important;
}
video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {
}

video::-webkit-media-controls-volume-slider {
}

video::-webkit-media-controls-mute-button {
}

video::-webkit-media-controls-timeline {
}

video::-webkit-media-controls-current-time-display {
}
.accordion {
  margin: 10px 0;
  border-radius: 15px;
  position: relative;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px 36px 15px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font: normal normal 300 16px/20px 'Mulish', sans-serif;
  &.active {
    i {
      transform: rotate(0deg);
    }
  }
  i {
    transition: all ease 0.5s;
    transform: rotate(180deg);
    position: absolute;
    right: 18px;
  }
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px 0;
  background-color: white;
  max-height: 0;
  // max-height: 390px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  grid-row-gap: 20px;
  transition: all ease 0.3s;
  &[data-biglist='true'] {
    overflow-y: scroll;
    // &.active {
    //   max-height: 395px !important;
    // }
  }
  &.active {
    // max-height: 395px;
    padding: 10px 18px 0;
  }
  .checkout_page__products__element {
    display: grid;
    grid-template-columns: 60px 1fr max-content;
    // grid-template-columns: 60px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    align-items: flex-start;
    .checkout_page__products__element__img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 15px;
      background: #005b9d;
      .checkout_page__products__element__img__digit {
        position: absolute;
        padding: 1px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -5px;
        right: -5px;
        background: #2ec9ad 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 50%;
        font: normal normal bold 14px/18px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }
      img {
        object-fit: cover;
      }
    }
    .checkout_page__products__element__text {
      display: flex;
      align-self: center;
      align-items: center;
      p {
        font: normal normal normal 16px/20px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #28373b;
        opacity: 1;
      }
    }
    .checkout_page__products__element__price {
      align-self: center;
      display: flex;
      align-items: center;
      span {
        font: normal normal 300 20px/25px 'Mulish', sans-serif;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        sup {
          top: -0.5em;
          font-size: 65%;
        }
      }
    }
  }
}
