@import "../../local_modules/normalize.css/normalize";
@import "../../local_modules/font-awesome/all.min";
@import "../mixins/media";
@import "../utils/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  object-fit:cover;
  max-width:100%;
  // max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
li{
  list-style: none;
}
button{
  cursor: pointer;
}
.button{
  outline: none;
  &:disabled{
    color: #A9AFB0;
    border: 1px solid #A9AFB0;
  }
}

main.main,
.main{
  max-width: $mediaMAXWIDTH;
  margin: 0 auto;
  width: 100%;
  @include media-tablet {
    // margin: 58px auto 0 ;
    overflow: hidden;
}
}