@import '../mixins/media';
@import "../utils/variables.scss";

.menu__btn__header {
  display: none;
  align-items: center;
  position: fixed;
  top: 16px;
  left: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 3;

  @include media-tablet {
    display: flex;
  }

  &>span,
  &>span::before,
  &>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all ease 0.5s;
  }

  &>span::before {
    content: '';
    top: -8px;
  }

  &>span::after {
    content: '';
    top: 8px;
  }
}

#menu__toggle__header:checked~.menu__btn__header>span {
  transform: rotate(45deg);
}

#menu__toggle__header:checked~.menu__btn__header>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle__header:checked~.menu__btn__header>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle__header:checked~.nav {
  transform: translate(0, 0%);
}

.oppen_nav {
  display: none;
}

header.header {
  background: #004c83 0% 0% no-repeat padding-box;
  //   background: #005B9D 0% 0% no-repeat padding-box;
  width: 100%;
  z-index: 2;

  @include media-tablet {
    position: fixed;
    top: 0;
    // background: #004C83 0% 0% no-repeat padding-box;
  }

  .first-menu {
    border-bottom: 1px solid #33709c;
    // border-bottom: 1px solid #FFFFFF;
    padding: 27px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: $mediaMAXWIDTH;

    margin: 0 auto;

    @include media-tablet {
      padding: 13px 0;
    }

    .first-block-in-menu {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      @include media-tablet {
        margin-left: 45px;
      }

      >a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 160px;
          height: auto;
          object-fit: contain;
        }
      }

      img {
        max-width: 160px;
        height: auto;
        object-fit: contain;
      }

      .phone-information {
        margin-left:7%;
        // margin-left: 58px;
        margin-bottom: -8px;
        display: flex;
        align-items: center;
        flex-direction: row;

        .logo-phone {
          margin-top: -6px;
          margin-right: 10px;

          img {
            width: 24px;
            height: 24px;
          }
        }

        .text-content {
          display: flex;
          flex-direction: column;

          .phone-content {
            a {
              font: normal normal bold 14px/18px Muli;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
            }
          }

          .text-content {
            overflow: hidden;

            p.first {
              transition: all ease 0.2s;
              transform: translate(0, -100%);
              font: italic normal 300 10px/13px Muli;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              @media screen and (max-width:900px){
                font: italic normal 300 9px/13px Muli;

              }
            }

            p.second {
              transition: all ease 0.2s;
              transform: translate(0, -100%);
              font: italic normal 300 10px/13px Muli;
              letter-spacing: 0px;
              color: #2ec9ad;
              opacity: 0;
              @media screen and (max-width:900px){
                font: italic normal 300 9px/13px Muli;

              }
              
            }
          }
        }

        &:hover {
          .text-content {
            .text-content {
              p.second {
                transform: translate(0, 0%);
                opacity: 1;
              }

              p.first {
                transform: translate(0, 100%);
                opacity: 0;
              }
            }
          }
        }

        @include media-tablet {
          display: none;
        }
      }
    }

    .second-block-in-menu {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      @include media-tablet {
        padding-right: 40px;
      }

      .looking-input {
        flex: 4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        // margin-right: 40px;
        margin-right: 6%;

        @include media-tablet {
          display: none;
        }

        input {
          opacity: 0;
          visibility: hidden;
          transition: all ease 0.5s;
          outline: none;
          border: 1px solid #ffffff;
          border-radius: 40px;
          font: italic normal normal 14px/18px Muli;
          letter-spacing: 0px;
          color: #ffffff;
          background: transparent;
          padding: 11px 50px 11px 20px;
          width: 100%;

          &::placeholder {
            color: white;
          }
        }

        .checker-label {
          transition: all ease 0.5s;
          transform: translate(0%, 0%);
        }

        #btnControl {
          display: none;

          &:checked~label {
            transform: translate(-50px, 0);
            margin-left: 10px;
          }

          &:checked~input {
            opacity: 1;
            visibility: visible;
          }
        }

        img {
          height: 24px;
          width: 24px;
          cursor: pointer;
        }
      }

      .cart-block {
        display: none;
        position: relative;

        @include media-tablet {
          display: block;
        }

        img {
          height: 24px;
          width: 24px;
        }

        .counter {
          position: absolute;
          top: -6px;
          right: -20px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          background: #2ec9ad 0% 0% no-repeat padding-box;
          font: normal normal bold 14px/18px Muli;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
        }
      }

      >.shoping-cart-header {}

      >.sign-in-user-profile {
        display: flex;
        align-items: center;
        flex-direction: row;

        .user-profile-avatar {
          margin-right: 10px;

          img {
            width: 24px;
            height: 24px;
            object-fit: cover;
          }
        }

        .user-profile-data {
          display: flex;
          flex-direction: column;

          @include media-tablet {
            display: none;
          }

          p {
            text-align: left;
            font: italic normal 300 10px/13px Muli;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
          }

          h3 {
            text-align: left;
            font: normal normal bold 14px/18px Muli;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
          }
        }
      }

      >.sign-in-link {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-tablet {
          display: none;
        }

        a {
          font: normal normal bold 16px/20px Muli;
          letter-spacing: 0px;
          color: #ffffff;
          padding: 10px 20px;
          border: 1px solid #ffffff;
          border-radius: 40px;
          opacity: 1;
          box-shadow: inset 0 0 0 0 #004475;
          transition: all ease 0.5s;

          &:hover {
            box-shadow: inset 100px 0 0 0 white;
            color: #005b9d;
          }
        }
      }
    }
  }
}

nav.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #004c83 0% 0% no-repeat padding-box;
  //   background: #005B9D 0% 0% no-repeat padding-box;
  width: 100%;

  @include media-tablet {
    transition: all ease 0.5s;
    transform: translate(0, -100%);
    position: fixed;
    top: 57px;
    min-height: calc(100vh - 57px);
    max-height: calc(100vh - 57px);
    overflow: auto;
    // background: #004C83 0% 0% no-repeat padding-box;
  }

  .second-menu {
    padding: 45px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: $mediaMAXWIDTH;
    width: 100%;
    margin: 0 auto;

    @include media-tablet {
      flex-direction: column;
      padding: 0;
      min-height: calc(100vh - 57px);
    }

    .search-menu {
      width: 100%;
      padding: 0 25px;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      @include media-tablet {
        display: flex;
        margin-top: 20px;
      }

      input {
        transition: all ease 0.5s;
        outline: none;
        border: 1px solid #ffffff;
        border-radius: 40px;
        font: italic normal normal 14px/18px Muli;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 0.7;
        background: transparent;
        padding: 9px 50px 9px 20px;
        width: 100%;

        &::placeholder {
          color: white;
        }
      }

      .checker-label {
        position: absolute;
        right: 40px;
      }

      img {
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
    }

    .nav-menu {
      flex: 3;

      @include media-tablet {
        width: 100%;
      }

      ul {
        display: flex;
        flex-direction: row;

        @include media-tablet {
          flex-direction: column;
        }

        li {
          margin: 0 2.5%;
          // margin: 0 25px;
          list-style-type: none;
          @media screen and (max-width:900px){
            margin: 0 1%;


          }
          @include media-tablet {
            padding: 16px 0;
            margin: 0 25px;
            border-bottom: 2px solid #33709c;
          }

          &:first-of-type {
            margin-left: 0px;

            @include media-tablet {
              margin: 0 25px;
            }
          }

          &:last-of-type {
            margin-right: 0px;

            @include media-tablet {
              margin: 0 25px;
              margin-bottom: 140px;
            }
          }

          &.dropup {
            position: relative;
            display: inline-block;

            &:hover {
              .dropbtn {
                >svg {
                  transform: rotate(180deg);

                  @include media-tablet {
                    transform: none;
                  }
                }
              }

              .dropup-content {
                display: block;
              }
            }

            .dropbtn {
              display: flex;
              align-items: center;
              text-align: left;
              font: normal normal bold 16px/20px Muli;
              letter-spacing: 0px;
              color: #ffffff;
              opacity: 1;
              background: transparent;
              border: none;
              outline: none;
              cursor: pointer;

              &.unshow {
                >svg {
                  @include media-tablet {
                    transform: rotate(180deg);
                  }
                }
              }

              @include media-tablet {
                padding: 0px 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
              }

              &.active-link {
                color: #2ec9ad;

                >svg {
                  path {
                    fill: #2ec9ad;
                  }
                }
              }


              >svg {
                margin: 0 7px;
                transition: all ease 0.5s;
                height: 15px;
                width: 12px;
              }
            }

            .droupup-block {
              width: 100%;
              height: 100%;
              overflow: hidden;
            }

            .dropup-content {
              display: none;
              position: absolute;
              right: -20px;
              top: calc(100% + 16px);
              padding: 17px 20px;
              min-width: 250px;
              max-height: 300px;
              background: #ffffff 0% 0% no-repeat padding-box;
              box-shadow: 0px 0px 10px #00000033;
              border-radius: 10px;
              opacity: 1;
              z-index: 1;
              transition: all ease 0.5s;

              &.unshow {
                @include media-tablet {
                  max-height: 0;
                  padding: 0;
                }
              }

              @include media-tablet {
                padding: 0;
                display: block;
                position: initial;
                right: initial;
                top: initial;
                background: transparent;
                box-shadow: 0 0 black;
                padding: 10px 0;
              }

              &:after {
                @include media-tablet {
                  display: none;
                }

                bottom: 100%;
                right: 25px;
                border: solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #ffffff;
                border-width: 16px;
                margin-left: -16px;
              }

              a {
                transition: all ease 0.3s;
                display: flex;
                align-items: center;
                text-align: left;
                font: normal normal bold 16px/31px Muli;
                letter-spacing: 0px;
                color: #005b9d;
                opacity: 1;
                text-decoration: none;

                @include media-tablet {
                  color: white;
                }

                &.active-link {
                  color: #2ec9ad;
                }

                &:hover {
                  transform: translate(10px, 0%);
                }

                svg {
                  height: 14px;
                  width: 9px;
                  margin-right: 9px;
                  transform: rotate(-90deg);

                  path {
                    fill: #005B9D;
                  }

                  @include media-tablet {
                    path {
                      fill: #33709c;
                    }
                  }
                }
              }
            }
          }

          a {
            text-align: left;
            font: normal normal bold 16px/20px Muli;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;

            @include media-tablet {
              display: flex;
              width: 100%;
            }

            &.active-link {
              color: #2ec9ad;
            }
          }
        }
      }
    }

    .shop-menu {
      flex: 1.5;
      justify-content: flex-end;
      // flex: 1;
      display: flex;
      align-items: center;
      flex-direction: row;

      @include media-tablet {
        flex: none;
        min-height: 230px;
        padding: 30px 0;
        flex-direction: column;
        width: 100%;
        background: #003f6d 0% 0% no-repeat padding-box;
      }

      .build-your-solution {
        @include media-tablet {
          position: relative;
          width: 70%;
          margin: 0 auto 44px;
          display: flex;
          justify-content: center;
          padding: 10px 20px;
          border: 1px solid #ffffff;
          border-radius: 40px;
        }
        a{
          width:100%;
          display: flex;
        }
        &:after {
          content: '';
          position: absolute;

          @include media-tablet {
            bottom: -25px;
            width: 60px;
            height: 2px;
            background: #33709c;
          }
        }

        a {
          span {
            text-align: left;
            font: normal normal bold 16px/20px Muli;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
          }

          img {
            width: 15px;
            height: 15px;
            margin-right: 15px;
          }
        }
      }

      .phone-number {
        display: none;

        @include media-tablet {
          display: flex;
          width: 100%;
          flex-direction: column;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70%;
          margin: 0 auto;
          padding: 14px 20px;
          background: #2ec9ad 0% 0% no-repeat padding-box;
          border: 1px solid #2ec9ad;
          border-radius: 40px;
          opacity: 1;

          span {
            text-align: center;
            font: normal normal bold 18px/23px Muli;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
          }

          img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
        }

        .text-content {
          width: 70%;
          margin: 10px auto 0;

          p {
            text-align: center;
            font: italic normal 300 12px/15px Muli;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
          }
        }
      }
      .shop-cart{
        display: flex;
        margin-left: 5%;
        &.dropup{
          display: flex;
          flex-direction: column;
          position: relative;
          @include media-tablet {
            display: none;
          }
          .droupup-block{
            position: absolute;
            top: 100%;    
            width: 100%;
            height: 20px;
          }
          .dropdown{
            visibility: hidden;
            opacity: 0;
            min-width: 325px;
            // min-width: 5rem;
            position: absolute;
            transition: all 0.5s ease;
            margin-top: 1rem;
            top: 0%;
            right: 0px;
            display: none;
            background: #ffffff 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 10px #00000033;
            border-radius: 10px;
            padding: 17px 20px;
            &:after {
              bottom: 100%;
              right: 25px;
              border: solid transparent;
              content: '';
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(136, 183, 213, 0);
              border-bottom-color: #ffffff;
              border-width: 16px;
              margin-left: -16px;
              &:hover{
                background: red;
              }
            }
            >h3 {
              text-align: left;
              font: normal normal bold 16px/20px Muli;
              letter-spacing: 0px;
              color: #384549;
              opacity: 0.5;
              border-bottom: 1px solid #707070;
              padding-bottom: 12px;
            }
            .shop-content{
              .shop-content-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0;

                &:first-of-type {
                  margin-top: 20px;
                }

                &:last-of-type {
                  margin-bottom: 20px;
                }

                img {
                  height: 50px;
                  width: 50px;
                  margin-right: 10px;
                  object-fit: cover;
                }

                p {
                  text-align: left;
                  font: normal normal 300 14px/18px Muli;
                  letter-spacing: 0px;
                  color: #384549;
                  opacity: 1;
                  margin-right: auto;
                }

                span {
                  text-align: left;
                  font: normal normal 300 18px/23px Muli;
                  letter-spacing: 0px;
                  color: #005b9d;
                  opacity: 1;
                }
              }
            }
            .shop-content-summarise {
              display: flex;
              flex-direction: column;
              align-items: center;
              border-top: 1px solid #707070;
              padding-top: 11px;

              h3 {
                text-align: left;
                font: normal normal bold 18px/28px Muli;
                letter-spacing: 0px;
                color: #9ba2a4;
                margin-bottom: 10px;

                span {
                  text-align: left;
                  font: normal normal 300 18px/23px Muli;
                  letter-spacing: 0px;
                  color: #005b9d;
                  opacity: 1;
                  margin: 0 5px;
                }
              }

              p {
                text-align: left;
                font: italic normal normal 12px/15px Muli;
                letter-spacing: 0px;
                color: #007600;
                opacity: 1;
                margin-bottom: 10px;
              }

              button {
                background: #2ec9ad 0% 0% no-repeat padding-box;
                border: 1px solid #2ec9ad;
                border-radius: 40px;
                opacity: 1;
                text-align: left;
                padding: 9px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font: normal normal bold 18px/21px Muli;
                letter-spacing: 0px;
                color: #ffffff;
                cursor: pointer;

                i {
                  width: 10px;
                  margin-left: 5px;
                }
              }
            }
          }
        }
        .shop-cart-logo{
          display: flex;
        }
        .shop-cart-logo:hover ~ .droupup-block .dropdown,
        .shop-cart-logo:focus-within ~ .droupup-block .dropdown,
        .droupup-block:hover .dropdown,
        .droupup-block:focus .dropdown,
        .dropdown:hover,
        .dropdown:focus {
            visibility: visible;
            opacity: 1;
            display: flex;
            flex-direction: column;
            @include media-tablet {
              visibility: hidden;
              opacity: 0;
              display: none;
            }
        }
        img{
          width: 24px;
          height: 24px;

        }
        .counter{
          left: 20px;
          padding: 4px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width:24px;
          height:24px;
          background: #2EC9AD 0% 0% no-repeat padding-box;
          font: normal normal bold 14px/18px Muli;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;

        }
        .ammount-items{
          margin-left: 28px;
          text-align: left;
          font: normal normal bold 16px/20px Muli;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;
        }
      }
      // .shop-cart {
      //   display: flex;
      //   margin-left: 10%;
      //   // margin-left: 50px;

      //   @include media-tablet {
      //     display: none !important;
      //   }

      //   &.dropup {
      //     width: 100%;
      //     position: relative;
      //     display: inline-block;

      //     &:hover {
      //       .dropup-content {
      //         display: block;
      //       }
      //     }

      //     .dropbtn {
      //       text-align: left;
      //       font: normal normal bold 16px/20px Muli;
      //       letter-spacing: 0px;
      //       color: #ffffff;
      //       opacity: 1;
      //       background: transparent;
      //       border: none;
      //       outline: none;
      //     }

      //     .droupup-block {
      //       width: 100%;
      //       height: 20px;
      //       // width: 100%;
      //       // height: 100%;
      //     }

      //     .dropup-content {
      //       display: none;
      //       position: absolute;
      //       right: 0px;
      //       top: 100%;
      //       // top: calc(100% + 16px);
      //       padding: 17px 20px;
      //       min-width: 325px;
      //       background: #ffffff 0% 0% no-repeat padding-box;
      //       box-shadow: 0px 0px 10px #00000033;
      //       border-radius: 10px;
      //       opacity: 1;
      //       z-index: 1;

      //       &:after {
      //         bottom: 100%;
      //         right: 25px;
      //         border: solid transparent;
      //         content: '';
      //         height: 0;
      //         width: 0;
      //         position: absolute;
      //         pointer-events: none;
      //         border-color: rgba(136, 183, 213, 0);
      //         border-bottom-color: #ffffff;
      //         border-width: 16px;
      //         margin-left: -16px;
      //       }

      //       >h3 {
      //         text-align: left;
      //         font: normal normal bold 16px/20px Muli;
      //         letter-spacing: 0px;
      //         color: #384549;
      //         opacity: 0.5;
      //         border-bottom: 1px solid #707070;
      //         padding-bottom: 12px;
      //       }

      //       >.shop-content {
      //         .shop-content-item {
      //           display: flex;
      //           align-items: center;
      //           justify-content: space-between;
      //           margin: 10px 0;

      //           &:first-of-type {
      //             margin-top: 20px;
      //           }

      //           &:last-of-type {
      //             margin-bottom: 20px;
      //           }

      //           img {
      //             height: 50px;
      //             width: 50px;
      //             margin-right: 10px;
      //             object-fit: cover;
      //           }

      //           p {
      //             text-align: left;
      //             font: normal normal 300 14px/18px Muli;
      //             letter-spacing: 0px;
      //             color: #384549;
      //             opacity: 1;
      //             margin-right: auto;
      //           }

      //           span {
      //             text-align: left;
      //             font: normal normal 300 18px/23px Muli;
      //             letter-spacing: 0px;
      //             color: #005b9d;
      //             opacity: 1;
      //           }
      //         }
      //       }

      //       >.shop-content-summarise {
      //         display: flex;
      //         flex-direction: column;
      //         align-items: center;
      //         border-top: 1px solid #707070;
      //         padding-top: 11px;

      //         h3 {
      //           text-align: left;
      //           font: normal normal bold 18px/28px Muli;
      //           letter-spacing: 0px;
      //           color: #9ba2a4;
      //           margin-bottom: 10px;

      //           span {
      //             text-align: left;
      //             font: normal normal 300 18px/23px Muli;
      //             letter-spacing: 0px;
      //             color: #005b9d;
      //             opacity: 1;
      //           }
      //         }

      //         p {
      //           text-align: left;
      //           font: italic normal normal 12px/15px Muli;
      //           letter-spacing: 0px;
      //           color: #007600;
      //           opacity: 1;
      //           margin-bottom: 10px;
      //         }

      //         button {
      //           background: #2ec9ad 0% 0% no-repeat padding-box;
      //           border: 1px solid #2ec9ad;
      //           border-radius: 40px;
      //           opacity: 1;
      //           text-align: left;
      //           padding: 9px 20px;
      //           display: flex;
      //           align-items: center;
      //           justify-content: center;
      //           font: normal normal bold 18px/21px Muli;
      //           letter-spacing: 0px;
      //           color: #ffffff;
      //           cursor: pointer;

      //           img {
      //             width: 10px;
      //             margin-left: 5px;
      //           }
      //         }
      //       }
      //     }
      //   }

      //   .shop-cart-logo {
      //     position: relative;
      //     margin-bottom: -20px;

      //     .ammount-items {
      //       margin-left: 30px;
      //       text-align: left;
      //       font: normal normal bold 16px/20px Muli;
      //       letter-spacing: 0px;
      //       color: #ffffff;
      //     }

      //     img {
      //       width: 24px;
      //       height: 24px;
      //     }

      //     .counter {
      //       position: absolute;
      //       top: -5px;
      //       left: 20px;
      //       display: flex;
      //       align-items: center;
      //       justify-content: center;
      //       width: 24px;
      //       height: 24px;
      //       background: #2ec9ad 0% 0% no-repeat padding-box;
      //       border-radius: 50%;
      //       font: normal normal bold 14px/18px Muli;
      //       letter-spacing: 0px;
      //       color: #ffffff;
      //       opacity: 1;
      //     }
      //   }
      // }
    }
  }
}
