@import "../mixins/media";

header.header {
  background: #005B9D 0% 0% no-repeat padding-box;
  width: 100%;

  .first-menu {
    border-bottom: 1px solid #FFFFFF;
    padding: 33px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;

    .first-block-in-menu {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      img {
        max-width: 160px;
        height: auto;
        object-fit: contain;
      }

      .phone-information {
        margin-left: 58px;
        display: flex;
        align-items: center;
        flex-direction: row;

        .text-content {
          display: flex;
          flex-direction: column;

          .phone-content {
            a {
              font: normal normal bold 14px/18px Muli;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;

            }
          }

          .text-content {
            overflow: hidden;

            p.first {
              transition: all ease 0.2s;
              transform: translate(0, -100%);
              font: italic normal 300 10px/13px Muli;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
            }

            p.second {
              transition: all ease 0.2s;
              transform: translate(0, -100%);
              font: italic normal 300 10px/13px Muli;
              letter-spacing: 0px;
              color: #2EC9AD;
              opacity: 0;
            }
          }
        }

        &:hover {
          .text-content {
            .text-content {
              p.second {
                transform: translate(0, 0%);
                opacity: 1;
              }

              p.first {
                transform: translate(0, 100%);
                opacity: 0;
              }
            }
          }
        }
      }
    }

    .second-block-in-menu {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .looking-input {
        flex: 4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        input {
          opacity: 0;
          visibility: hidden;
          transition: all ease 0.5s;
          outline: none;
          border: 1px solid #FFFFFF;
          border-radius: 40px;
          font: italic normal normal 14px/18px Muli;
          letter-spacing: 0px;
          color: #FFFFFF;
          background: transparent;
          padding: 11px 50px 11px 20px;
          width: 100%;

          &::placeholder {
            color: white;
          }
        }

        .checker-label {
          transition: all ease 0.5s;
          transform: translate(0%, 0%);
        }

        #btnControl {
          display: none;

          &:checked~label {
            transform: translate(-50px, 0);
            margin-left: 10px;
          }

          &:checked~input {
            opacity: 1;
            visibility: visible;
          }
        }

        img {
          cursor: pointer;
        }
      }

      .sign-in-link {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          font: normal normal bold 16px/20px Muli;
          letter-spacing: 0px;
          color: #FFFFFF;
          padding: 10px 20px;
          border: 1px solid #FFFFFF;
          border-radius: 40px;
          opacity: 1;
          box-shadow: inset 0 0 0 0 #004475;
          transition: all ease 0.5s;

          &:hover {
            box-shadow: inset 100px 0 0 0 white;
            color: #005B9D;
          }
        }
      }
    }
  }
}

nav.nav {
  position: sticky;
  top: 0;
  background: #005B9D 0% 0% no-repeat padding-box;
  width: 100%;

  .second-menu {
    padding: 45px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .nav-menu {
      flex: 3;

      ul {
        display: flex;
        flex-direction: row;

        li {
          margin: 0 25px;
          list-style-type: none;

          &:first-of-type {
            margin-left: 0px;
          }

          &:last-of-type {
            margin-right: 0px;
          }

          &.dropup {
            position: relative;
            display: inline-block;

            &:hover {
              .dropbtn {
                color: #2ec9ad;

                svg {
                  transform: rotate(180deg);

                  text {
                    fill: #2ec9ad;
                  }
                }
              }

              .dropup-content {
                display: block;
              }
            }

            .dropbtn {
              display: flex;
              align-items: center;
              text-align: left;
              font: normal normal bold 16px/20px Muli;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
              background: transparent;
              border: none;
              outline: none;

              svg {
                transition: all ease 0.5s;
                height: 15px;
              }
            }

            .droupup-block {
              width: 100%;
              height: 100%;

            }

            .dropup-content {
              display: none;
              position: absolute;
              right: -20px;
              top: calc(100% + 16px);
              padding: 17px 20px;
              min-width: 250px;
              background: #FFFFFF 0% 0% no-repeat padding-box;
              box-shadow: 0px 0px 10px #00000033;
              border-radius: 10px;
              opacity: 1;
              z-index: 1;

              &:after {
                bottom: 100%;
                right: 25px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #FFFFFF;
                border-width: 16px;
                margin-left: -16px;
              }

              a {
                transition: all ease 0.3s;
                display: flex;
                align-items: center;
                text-align: left;
                font: normal normal bold 16px/31px Muli;
                letter-spacing: 0px;
                color: #005B9D;
                opacity: 1;
                text-decoration: none;

                &:hover {
                  transform: translate(10px, 0%);
                }

                img {
                  height: 21px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 9px;
                }

              }
            }
          }

          a {
            text-align: left;
            font: normal normal bold 16px/20px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;

            &.active-link {
              color: #2EC9AD;
            }
          }
        }
      }
    }

    .shop-menu {
      flex: 1;
      display: flex;
      flex-direction: row;

      .build-your-solution {
        p {
          text-align: left;
          font: normal normal bold 16px/20px Muli;
          letter-spacing: 0px;
          color: #FFFFFF;
          opacity: 1;

          svg {
            height: 15px;
          }
        }
      }

      .shop-cart {
        display: flex;
        margin-left: 50px;

        .shop-cart-logo {
          position: relative;

          img {
            width: 24px;
            height: 24px;
          }

          .counter {
            position: absolute;
            top: -5px;
            right: -20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background: #2EC9AD 0% 0% no-repeat padding-box;
            border-radius: 50%;
            font: normal normal bold 14px/18px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
          }

          &.dropup {
            position: relative;
            display: inline-block;

            &:hover {
              .dropup-content {
                display: block;
              }
            }

            .dropbtn {
              text-align: left;
              font: normal normal bold 16px/20px Muli;
              letter-spacing: 0px;
              color: #FFFFFF;
              opacity: 1;
              background: transparent;
              border: none;
              outline: none;
            }

            .droupup-block {
              width: 100%;
              height: 100%;

            }

            .dropup-content {
              display: none;
              position: absolute;
              right: -30px;
              top: calc(100% + 16px);
              padding: 17px 20px;
              min-width: 325px;
              background: #FFFFFF 0% 0% no-repeat padding-box;
              box-shadow: 0px 0px 10px #00000033;
              border-radius: 10px;
              opacity: 1;
              z-index: 1;

              &:after {
                bottom: 100%;
                right: 25px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #FFFFFF;
                border-width: 16px;
                margin-left: -16px;
              }

              >h3 {
                text-align: left;
                font: normal normal bold 16px/20px Muli;
                letter-spacing: 0px;
                color: #384549;
                opacity: 0.5;
                border-bottom: 1px solid #707070;
                padding-bottom: 12px;
              }

              >.shop-content {
                .shop-content-item {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin: 10px 0;

                  &:first-of-type {
                    margin-top: 20px;
                  }

                  &:last-of-type {
                    margin-bottom: 20px;
                  }

                  img {
                    height: 50px;
                    width: 50px;
                    margin-right: 10px;
                    object-fit: cover;
                  }

                  p {
                    text-align: left;
                    font: normal normal 300 14px/18px Muli;
                    letter-spacing: 0px;
                    color: #384549;
                    opacity: 1;
                    margin-right: auto;
                  }

                  span {
                    text-align: left;
                    font: normal normal 300 18px/23px Muli;
                    letter-spacing: 0px;
                    color: #005B9D;
                    opacity: 1;
                  }
                }
              }

              >.shop-content-summarise {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-top: 1px solid #707070;
                padding-top: 11px;

                h3 {
                  text-align: left;
                  font: normal normal bold 18px/28px Muli;
                  letter-spacing: 0px;
                  color: #9BA2A4;
                  margin-bottom: 10px;

                  span {
                    text-align: left;
                    font: normal normal 300 18px/23px Muli;
                    letter-spacing: 0px;
                    color: #005B9D;
                    opacity: 1;
                  }
                }

                p {
                  text-align: left;
                  font: italic normal normal 12px/15px Muli;
                  letter-spacing: 0px;
                  color: #007600;
                  opacity: 1;
                  margin-bottom: 10px;

                }

                button {
                  background: #2EC9AD 0% 0% no-repeat padding-box;
                  border: 1px solid #2EC9AD;
                  border-radius: 40px;
                  opacity: 1;
                  text-align: left;
                  padding: 9px 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font: normal normal bold 18px/21px Muli;
                  letter-spacing: 0px;
                  color: #FFFFFF;
                  cursor: pointer;

                  img {
                    width: 10px;
                    margin-left: 5px;
                  }
                }
              }

            }

          }

        }

        .shop-cart-text {
          span {
            margin-left: 30px;
            text-align: left;
            font: normal normal bold 16px/20px Muli;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
          }
        }
      }

    }
  }
}
