<svg class="fire" xmlns="http://www.w3.org/2000/svg" width="14.371" height="20.631" viewBox="0 0 14.371 20.631">
    <g transform="translate(0)">
        <path d="M1.592,6.672C-4.137,3.913-5.034-.987-.2-7.2A5.929,5.929,0,0,0,.971-3.059c-.276-1.441-1.45-6.553,4.9-10.9C3.937-4.92,17.663-2.367,6.836,6.535,9.734.673,4.834.877,4.7-4.575a6.042,6.042,0,0,0-1.587,6.9A4.705,4.705,0,0,1,.762-.089a8.308,8.308,0,0,0,.829,6.762" transform="translate(3.33 13.959)" fill="#46c5b0"/>
    </g>
</svg>