extends common/layout

block content
  script
      |var typePage = "404_page";
  main.page404
    img.page404__img(src="img/404fone.png", alt="")
    section.main
      include includes/404/container/index
