extends common/layout

block content
  script
      |var typePage = "cart_page";
  main
    include includes/cart/cart_header/index
    include includes/cart/cart_headersticky/index
    section.main
        include includes/cart/productcontainer/index
        include includes/cart/havegateway/index
        include includes/cart/vaucher/index
        include includes/cart/disqount/index

