extends common/layout

block content
  script
      |var typePage = "cart_page";
  main
    include includes/cart/cart_header/index
    section.main
        include includes/cart/productcontainer/index
    //-     include includes/contact/accordion/index
    //- include includes/contact/findanswer/index

