extends common/layoutWITHOUTHEADER

block content
  main.checkout_page
    h1 gfdgfdg
    //- include includes/index/parallax/index
    //- .index-page-container
    //-   section.main
    //-     include includes/index/morewithless/index
    //-   include includes/index/createsolution/index
    //-   section.main
    //-     include includes/index/youtubeframe/index
    //-     include includes/index/reviews/index
