extends common/layoutWITHOUTHEADER

block content  
  script
    |var typePage = "checkout_page";
  main.checkout_page
    .checkout_page__container.main
      include includes/checkout/content/index
      include includes/checkout/stickycont/index
