extends common/layout

block content
  script
      |var typePage = "contact_page";
  main
    include includes/contact/sticky/index
    section.main
        include includes/contact/contactus/index
        include includes/contact/accordion/index
    include includes/contact/findanswer/index

