extends common/layout

block content
  script(src="https://www.youtube.com/iframe_api",defer)
  script
      |var typePage = "home_page";
      |var videoId = "kZZ9cMZKDO8";
  main
    //- include includes/page_gabarit/pageheader/index
    include includes/index/parallax/index
    .index-page-container
      section.main
        include includes/index/morewithless/index
      include includes/index/createsolution/index
      section.main
        include includes/index/youtubeframe/index
        include includes/index/reviews/index
