extends common/layout

block content
  script
      |var typePage = "my_account";
  main
    include includes/myaccount/sticky/index
    .woocommerce-myaccountpage.main
        include includes/myaccount/navigationpanel/index
        .woocommerce-container 
            .woocommerce-container__text
                p
                    | Hello 
                    strong admin
                    |  (not 
                    strong admin
                    | ? 
                    a(href='http://nearsens.urich.work/my-account/customer-logout/?_wpnonce=486ce8a82f') Log out
                    | )
                p
                    | From your account dashboard you can view your 
                    a(href='http://nearsens.urich.work/my-account/orders/') recent orders
                    | , manage your 
                    a(href='http://nearsens.urich.work/my-account/edit-address/') shipping and billing addresses
                    | , and 
                    a(href='http://nearsens.urich.work/my-account/edit-account/') edit your password and account details
                    | .
            .woocommerce-container__dashboard
                h3 Quickmenu
                ul.woocommerce-container__dashelement
                    li
                        a(href="")
                            i.fas.fa-shopping-basket
                            span Orders
                    li
                        a(href="")
                            i.fas.fa-home
                            span Addresses
                    li
                        a(href="")
                            i.fas.fa-credit-card
                            span Account details
                button.woocommerce-container__button LOGOUT

