extends common/layout

block content
    script
        |var typePage = "page_gabarit";
    main
        include includes/page_gabarit/pageheader/index
        section.main
             include includes/product_page/specificationblock/index
    //- include includes/product_page/pageheader/index
    //- include includes/product_page/pageheader_sticky/index
    //- main
    //-     section.main
    //-         include includes/product_page/textblockheader/index
    //-         include includes/product_page/textblockimgheader/index
    //-     include includes/product_page/specificationblock/index
    //-     section.main
    //-         include includes/product_page/textblockvariations/index
    //-         include includes/product_page/posibletodowithdevice/index
    //-     include includes/product_page/inourapp/index
    //-     section.main
    //-         include includes/product_page/reviewsavaliable/index
    //-     include includes/product_page/productslinked/index
    //-     include includes/product_page/tipscard/index


