extends common/layout

block content
    script
        |var typePage = "page_gabarit";
    main
        include includes/page_gabarit/pageheader/index
        //- section.main
        include includes/page_gabarit/oneblockwithimg/index
        include includes/page_gabarit/textblockwithlogo/index
        include includes/page_gabarit/textblockwithplus/index
        include includes/page_gabarit/blockacconts/index
        //- Remove
        include includes/page_gabarit/bluelinkcards/index
        include includes/page_gabarit/differentcolorblock/index
        //- Block with different color
        include includes/page_gabarit/blockwithimg/index
        include includes/page_gabarit/blockwithbigimg/index
        include includes/page_gabarit/twobigblockperline/index
        include includes/page_gabarit/fourblocks/index
        //- Big blue block
        include includes/page_gabarit/bigblueblock/index


