extends common/layout

block content
    script
        |var typePage = "page_gabarit";
    main.custom-page
        include includes/page_gabarit/headermoreover/index
        include includes/page_gabarit/gradientblock/index
        include includes/page_gabarit/pageheader/index
        include includes/page_gabarit/bigimgcenter/index
        include includes/page_gabarit/buyblock/index
        include includes/page_gabarit/recomendationblock/index
        //- section.main
        include includes/page_gabarit/oneblockwithimg/index
        include includes/page_gabarit/textblockwithlogo/index
        include includes/page_gabarit/textblockwithplus/index
        include includes/page_gabarit/blockacconts/index
        //- Remove
        include includes/page_gabarit/bluelinkcards/index
        include includes/page_gabarit/differentcolorblock/index
        //- Block with different color
        include includes/page_gabarit/blockwithimg/index
        include includes/page_gabarit/blockwithbigimg/index
        include includes/page_gabarit/twobigblockperline/index
        include includes/page_gabarit/fourblocks/index
        include includes/page_gabarit/helpsection/index
        //- Big blue block
        //- include includes/page_gabarit/bigblueblock/index


