extends common/layout

block content
    script
        |var typePage = "page_gabarit";
    main
        include includes/page_gabarit/pageheader/index
        section.main
            include includes/page_gabarit/textblockwithlogo/index
            include includes/page_gabarit/textblockwithplus/index
            include includes/page_gabarit/blockacconts/index
        include includes/page_gabarit/bluelinkcards/index


