extends common/layout

block content
    include includes/product_page/pageheader/index
    include includes/product_page/pageheader_sticky/index
    main
        section.main
            include includes/product_page/textblockheader/index
            include includes/product_page/textblockimgheader/index
        include includes/product_page/specificationblock/index
        section.main
            include includes/product_page/textblockvariations/index
            include includes/product_page/posibletodowithdevice/index
            include includes/product_page/inourapp/index
            include includes/product_page/reviewsavaliable/index
            include includes/product_page/productslinked/index
            include includes/product_page/tipscard/index


