extends common/layout

block content
  script
      |var typePage = "signup_page";
  main.graybg
    include includes/signup/sticky/index
    section.main
      include includes/signup/container/index
