extends common/layout

block content
    script
        |var typePage = "solution_page";
    main
        include includes/solution/pageheader/index
        include includes/solution/deviceswithsolution/index
        include includes/solution/appblock/index
        include includes/solution/gatepromo/index
        include includes/solution/smartsolution/index

