extends common/layout

block content
  include includes/usecase_list/pageheader/index
  include includes/usecase_list/header_afterscroll/index
  main
    include includes/usecase_list/filter_by_category/index
    section.main
      include includes/usecase_list/usecases/index
      include includes/usecase_list/lastusecases/index
      include includes/usecase_list/subscribe_to_new_cases/index
      include includes/usecase_list/additional_tips/index
