section.page_garbit__bluelinkcards.blue
    .page_garbit__bluelinkcards__wrap.main
        .page_garbit__bluelinkcards__wrap__textcontainer
            h2 Lorem ipsum dolor
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dictum justo aliquam urna laoreet, ac sagittis magna ultricies. Vestibulum tempus sem vitae tortor commodo, eu porta massa sodales.
        .page_garbit__bluelinkcards__wrap__blockcontainer
            each val in ["img/noun_easy snap_2614125 (1).svg","img/noun_complementary_2055181.svg","img/noun_balance_3014442.svg"]
                .page_garbit__bluelinkcards__wrap__blockcontainer__element
                    .page_garbit__bluelinkcards__wrap__blockcontainer__element__img
                        img(src=val, alt="")
                    .page_garbit__bluelinkcards__wrap__blockcontainer__element__text
                        h3 Lorem ipsum dolor
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id dictum mollis. Nam eu pretium tortor. In vitae orci at urna ornare aliquet. Morbi bibendum neque eu fringilla molestie….
        .page_garbit__bluelinkcards__wrap__manipulatorcontainer
            button.page_garbit__bluelinkcards__wrap__manipulatorcontainer__btn Lorem ipsum dolor