section.page_garbit__textblockwithplus
    .page_garbit__textblockwithplus__text
        h2 Lorem ipsum dolor sit amet…
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec, convallis nulla. Nulla non rhoncus dolor, euismod imperdiet quam. Quisque sed massa ac est.
    .page_garbit__textblockwithplus__content
        each val in [1,2,3,4,5,6,7,8]
            .page_garbit__textblockwithplus__content__element
                .page_garbit__textblockwithplus__content__element__img
                    //- img(src="", alt="")
                    i.fas.fa-plus
                .page_garbit__textblockwithplus__content__element__text
                    h3 Lorem ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id dictum mollis. Nam eu pretium tortor. In vitae orci at urna ornare aliquet. Morbi bibendum neque eu fringilla molestie….
