// Mobile first
$mediaWidthMobile: 420px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$mediaMAXWIDTH: 1300px;

// $additionalNavMenuToTop: 113px;
$additionalNavMenuToTop: 63px;
$additionalNavMenuToTopBIGMENU: 64px;
// $additionalNavMenuToTopRESP: 57px;
$additionalNavMenuToTopRESP: 55px;
$marginTopResp: 101px;
