// Mobile first
$mediaWidthMobile: 420px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$mediaMAXWIDTH: 1300px;

$additionalNavMenuToTop: 113px;
$additionalNavMenuToTopRESP: 58px;
