.checkout_page__stickycont__block
    .checkout_page__stickycont__block__vaucher.head
        h3 Do you have a promo code or a voucher?
        .checkout_page__stickycont__block__vaucher__btncont
            input(type="text" placeholder="Enter the code here")
            button APPLY
    .checkout_page__stickycont__block__delay.head
        label.checkout_page__stickycont__block__delay__chekedboxAccept
            p.text I agree to  
                a  Nearsens' Terms and Conditions of Sale
            input(type='checkbox')
            span.checkmark
    .checkout_page__stickycont__block__delay.head
        h3 Delai de livraison
    .checkout_page__stickycont__block__finalprice
        .checkout_page__stickycont__block__finalprice__price
            .checkout_page__stickycont__block__finalprice__price__text
                span Discount
            .checkout_page__stickycont__block__finalprice__price__ammount
                span -79
                    span €
                    sup 99
        .checkout_page__stickycont__block__finalprice__price
            .checkout_page__stickycont__block__finalprice__price__text
                span Shipping
            .checkout_page__stickycont__block__finalprice__price__ammount
                span Free
        .checkout_page__stickycont__block__finalprice__price
            .checkout_page__stickycont__block__finalprice__price__text
                span Total
            .checkout_page__stickycont__block__finalprice__price__ammount
                span 1 049
                    span €
                    sup 99