@import '../../../mixins/media';
@import '../../../utils/variables.scss';

section.usecase_details__pageheaderafterscroll {
  position: fixed;
  z-index: 1;
  top: $additionalNavMenuToTop;
  width: 100%;
  padding: 28px 0 32px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  transition: visibility 0.2s, opacity 0.5s linear, top ease 0.5s;
  visibility: hidden;
  opacity: 0;
  &.out-viewport {
    visibility: visible;
    opacity: 1;
  }
  &.scroll-to-bottom {
    top: -15px;
  }
  @include media-forHEADER {
    top: $additionalNavMenuToTopBIGMENU;
    @include media-tablet {
      top: $additionalNavMenuToTopRESP;
      padding: 13px 0 15px;
    }
  }

  .usecase_details__pageheaderafterscroll-wrap {
    // width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include media-tablet {
      width: 90%;
    }
    .usecase_details__pageheaderafterscroll-wrap__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      // flex: 1;
      @include media-tablet {
        justify-content: flex-start;
        max-width: 75%;
      }
      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        display: block;
        font: normal normal normal 32px/40px Muli;
        letter-spacing: 0px;
        color: #28373b;
        opacity: 1;
        margin-bottom: 4px;
        @include media-tablet {
          max-width: 100%;
          font: normal normal normal 20px/25px Muli;
        }
      }
      p {
        font: italic normal normal 16px/20px Muli;
        letter-spacing: 0px;
        color: #6d7476;
        opacity: 1;
        @include media-tablet {
          display: none;
        }
      }
    }
    .usecase_details__pageheaderafterscroll-wrap__logos {
      display: flex;
      flex-flow: row wrap;
      flex: 1;
      justify-content: flex-end;
      .usecase_details__pageheaderafterscroll-wrap__logos__elem {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0;
        // flex:0 1 30%;
        padding-left: 40px;
        opacity: 0.65;
        @include media-tablet {
          padding-left: 0;
        }
        // &.not-active {
        //   opacity: 0.65;
        // }
        &.active {
          opacity: 1;
          img,
          svg {
            path {
              fill: #005b9d;
            }
          }
        }
        img,
        svg {
          margin-right: 10px;
          width: 20px;
          object-fit: cover;
          path {
            fill: #28373b;
          }
          @include media-tablet {
            width: 11px;
          }
        }
        p {
          font: normal normal normal 18px/23px Muli;
          letter-spacing: 0px;
          color: #28373b;
          opacity: 1;
          @include media-tablet {
            display: none;
          }
        }
      }
    }
  }
}
