section.cart__disqount
    ul.cart__disqount__main-list
        li.title Discount
        li.price
            |-79€
            sup 99
        li.title Total cash
        li.price.total
            |1 049€
            sup 99
        li.title Total
        li.price.total
            |3 049€
            sup 99
    button.cart__disqount__btn PROCEED TO CHECKOUT