section.cart__disqount
    ul.cart__disqount__main-list
        li.titel-container
            span.title Discount
            span.title Total
        li.price-container
            span.price
                    |-79
                    sup €99
            span.price
                    |1 049
                    sup €99
    button.cart__disqount__btn PROCEED TO CHECKOUT