section.page_gabarit__recomendbl.main
    .page_gabarit__recomendbl__wrap
        .page_gabarit__recomendbl__scroll
            h3 Or find out directly about the devices we recommend to secure your home
            i.fas.fa-angle-down
        .page_gabarit__recomendbl__container
            h4 Ready to get equipped?
            .page_gabarit__recomendbl__links
                a(href="").page_gabarit__recomendbl__link CHECK ALL PRODUCTS
                a(href="").page_gabarit__recomendbl__link CONFIGURE MY SOLUTION