@import '../../../mixins/media';
@import '../../../utils/variables.scss';

section.productlist__pageheader {
  width: 100%;
  background: #005b9d;
  position: relative;
  z-index: 1;
  padding: 85px 0 70px;
  margin-bottom: 80px;
  @include media-tablet {
    margin: 0 auto 40px;
    padding: 30px 0 74px;
  }
  img.bg-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .productlist__pageheader-wrapper__slider-container {
    position: relative;
    width: 95%;
    max-width: 1300px;
    // padding: 0 25px;
    overflow: hidden;
    margin: 0 auto;
    @include media-tablet {
      width: 90%;
    }
    &.active-slider {
      max-width: inherit;
      padding: 0 25px;
      .btn {
        display: block;
      }
      .productlist__pageheader-wrapper__slider-container__slider {
        justify-content: center;
        @include media-tablet {
          width: 80%;
        }
        .productlist__pageheader-wrapper__slider-container__slider-element {
          margin: 0 10px;
          @include media-tablet {
            margin: 0 7px;
          }
        }
      }
    }
    .btn {
      display: none;
      outline: none;
      // position: absolute;
      // top: 50%;
      z-index: 1;
      // transform: translate(0%, -50%);
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      &::before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: 0.75;
        color: white;
        -webkit-font-smoothing: antialiased;
      }
      &.prev {
        left: 0;
        &::before {
          content: '←';
        }
      }
      &.next {
        right: 0;
        &::before {
          content: '→';
        }
      }
    }

    // .slick-track {
    //   display: flex;
    //   align-items: center;
    //   // justify-content: center;
    //   // align-items: flex-end;
    // }
    .productlist__pageheader-wrapper__slider-container__slider {
      user-select: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // @include media-tablet {
      //   width: 80%;
      // }
      .productlist__pageheader-wrapper__slider-container__slider-element {
        display: flex;
        user-select: none;
        align-items: center;
        justify-content: center;
        outline: none;
        // margin: 0 10px;
        // @include media-tablet {
        //   margin: 0 7px;
        // }

        &.non-filter {
          opacity: 0.4;
          img {
            cursor: auto;
          }
        }
        img {
          cursor: pointer;
          object-fit: cover;
        }
      }
    }
  }
  .productlist__pageheader-wrapper {
    z-index: 1;
    position: relative;
    max-width: $mediaMAXWIDTH;
    margin: 0 auto;
    width: 94%;
    @include media-tablet {
      // width: 90%;
      width: 84%;
    }
    .productlist__pageheader-wrapper__text-container {
      // display: flex;
      // align-items: center;
      // gap: 5px;
      // flex-flow: row wrap;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      grid-template-rows: auto;
      grid-column-gap: 0px;
      grid-row-gap: 40px;
      margin-bottom: 81px;
      @include media-tablet {
        grid-template-columns: 1fr;
        // margin-bottom: 28px;
        margin-bottom: 40px;
      }
      .productlist__pageheader-wrapper__text-container__text {
        // flex: 1 0 calc(45% + 30px);
        // margin: 10px 0;
        h1 {
          text-align: left;
          font: normal normal normal 32px/40px 'Mulish',sans-serif;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 20.5px;
          margin-top: 0;
          @include media-tablet {
            font: normal normal normal 22px/28px 'Mulish',sans-serif;
            margin-bottom: 22px;
          }
        }
        p {
          font: normal normal normal 18px/23px 'Mulish',sans-serif;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          @include media-tablet {
            font: normal normal normal 14px/18px 'Mulish',sans-serif;
          }
        }
      }
      .productlist__pageheader-wrapper__text-container__picker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // flex: 1 0 calc(45% + 30px);
        // margin: 10px 0;
        h3 {
          text-align: right;
          font: italic normal normal 22px/28px 'Mulish',sans-serif;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin: 0 0 10.5px;
          // margin: 0 10px 11px;
          @include media-tablet {
            text-align: left;
            margin-bottom: 5px;
            font: italic normal normal 20px/25px 'Mulish',sans-serif;
          }
        }
        .productlist__pageheader-wrapper__text-container__picker-filters {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
          @media screen and (min-width: 769px) {
            // gap: 20px;
            --fgp-gap-container: calc(
              var(--fgp-gap-parent, 0px) - 20px
            ) !important;
            --fgp-gap: var(--fgp-gap-container);
            margin-top: var(--fgp-gap);
            margin-right: var(--fgp-gap);
            > * {
              --fgp-gap-parent: 20px !important;
              --fgp-gap-item: 20px !important;
              --fgp-gap: var(--fgp-gap-item) !important;
              margin-top: var(--fgp-gap);
              margin-right: var(--fgp-gap);
            }
          }
          @include media-tablet {
            display: flex;
            gap: 15px;
            justify-content: flex-start;
          }
          // display: grid;
          // grid-gap: 20px 10px;
          // // grid-template-columns: repeat(4, minmax(auto, auto));
          // // grid-template-columns: repeat(4, fit-content(100%));
          // justify-content: end;
          // grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
          button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            border: 1px solid #ffffff;
            background: transparent;
            border-radius: 10px;
            opacity: 1;
            font: normal normal bold 16px/20px 'Mulish',sans-serif;
            // font: normal normal bold 16px/20px 'Mulish',sans-serif;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 1;
            text-transform: uppercase;
            // margin: 10px;
            outline: none;
            // transition: text-shadow 0.3s;
            &:hover {
              text-shadow: 0 0 1.65px #ffffff, 0 0 1.65px #ffffff;
            }
            &.active {
              color: #005b9d;
              background: #ffffff 0% 0% no-repeat padding-box;
              &:hover {
                text-shadow: 0 0 0.65px #005b9d, 0 0 0.65px #005b9d;
              }
            }
            @include media-tablet {
              padding: 8px 15px;
              font: normal normal bold 14px/18px 'Mulish',sans-serif;
            }
          }
        }
      }
    }
  }
}
