@import './stickycont/index';
@import './content/index';
.checkout_page {
  position: relative;
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16.971%;
    grid-row-gap: 0px;
  }
  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 36%;
    // width: 50%;
    height: 100%;
    background: #f2f2f2 0% 0% no-repeat padding-box;
  }
}
