section.use_case__subscribe
    .use_case__subscribe-block-text
        h2 Subscribe to receive the latest news
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec. Etiam dapibus diam condimentum, sagittis est nec.
    .use_case__subscribe-block-email
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem et risus cursus imperdiet. Etiam dapibus diam condimentum, sagittis est nec.
        .use_case__subscribe-block-email__email
            h4 Email Address
            .use_case__subscribe-block-email__email-block
                input(type="email", name="" placeholder="superman@google.com")
                button.subscribe-button SUBSCRIBE