section.solutionpage__imggrid
    .solutionpage__imggrid__wrap.main
        h2 La solution Nearsens s’adapte à tous les environnements.
        p La seule limite est celle de votre imagination.
        .solutionpage__imggrid__grid
            .solutionpage__imggrid__grid__column
                .solutionpage__imggrid__grid__img(data-txt="Text 1")  
                    img(src="img/enviro_1.jpg", alt="")
                .solutionpage__imggrid__grid__img(data-txt="Text 1") 
                    img(src="img/enviro_5.jpg", alt="")
            .solutionpage__imggrid__grid__column 
                .solutionpage__imggrid__grid__img(data-txt="Text 1")   
                    img(src="img/Enviro_2.jpg", alt="")
                .solutionpage__imggrid__grid__img.active(data-txt="Text 1") 
                    img(src="img/enviro_5.jpg", alt="")
            .solutionpage__imggrid__grid__column
                .solutionpage__imggrid__grid__img.active(data-txt="Dans les bureaux de votre société")   
                    img(src="img/enviro_6.jpg", alt="")
                .solutionpage__imggrid__grid__img(data-txt="Text 1")   
                    img(src="img/Enviro_4.jpg", alt="")
            .solutionpage__imggrid__grid__column
                .solutionpage__imggrid__grid__img.active(data-txt="Text 1")   
                    img(src="img/enviro_-1.jpg", alt="")
                .solutionpage__imggrid__grid__img(data-txt="Text 1")   
                    img(src="img/enviro_3.jpg", alt="")