<svg class="spec"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48.254" height="49.83" viewBox="0 0 48.254 49.83">
  <defs>
    <clipPath id="clip-path">
      <path id="Контур_24848" data-name="Контур 24848" d="M0,15.549H48.254v-49.83H0Z" transform="translate(0 34.281)" fill="none"/>
    </clipPath>
  </defs>
  <g id="Сгруппировать_2877" data-name="Сгруппировать 2877" clip-path="url(#clip-path)">
    <g id="Сгруппировать_2872" data-name="Сгруппировать 2872" transform="translate(9.921 4.152)">
      <path class="color" id="Контур_24843" data-name="Контур 24843" d="M4.355,13.834A5.209,5.209,0,0,1-.733,9.7H-1.8A1.727,1.727,0,0,1-3.519,7.97V3.464A1.726,1.726,0,0,1-1.8,1.74h.661a11.8,11.8,0,0,0-.939-3.545A11.848,11.848,0,0,0-4.948-5.772,14.243,14.243,0,0,1-9.6-16.328,13.994,13.994,0,0,1,4.007-30.5h.451a14.21,14.21,0,0,1,13.81,14.6A14.214,14.214,0,0,1,13.615-5.772a11.728,11.728,0,0,0-3.8,7.516h.413a1.725,1.725,0,0,1,1.724,1.724V7.975A1.727,1.727,0,0,1,10.224,9.7H9.442a5.216,5.216,0,0,1-5.087,4.132M.314,9.7A4.179,4.179,0,0,0,8.4,9.7ZM-1.8,2.759a.71.71,0,0,0-.708.708V7.973a.71.71,0,0,0,.708.708H10.223a.71.71,0,0,0,.708-.708V6.229H6.193V5.211h4.737V3.467a.71.71,0,0,0-.708-.708Zm-4.82-20.032v1.714A9.729,9.729,0,0,0,3.1-5.843H3.83V1.746H4.847V-6h.427a7.849,7.849,0,0,0,7.839-7.838V-15.3H11.641a7.81,7.81,0,0,0-7.255,4.88A9.676,9.676,0,0,0-4.9-17.273Zm11.059-6.9h0l-.843.843a5.739,5.739,0,0,0,0,8.1l.843.843.846-.843a5.739,5.739,0,0,0,0-8.1Zm.375,30.4H2.465V5.21H4.818ZM3.23-6.855H3.1A8.614,8.614,0,0,1-2.067-8.58h3.55L3.227-6.865Zm2.3-.17h0l6.554-6.7a6.813,6.813,0,0,1-6.553,6.7Zm-1.736-.7h0l-8.659-8.531A8.709,8.709,0,0,1,3.794-7.737Zm1.051-.049v-.214a6.846,6.846,0,0,1,6.342-6.281L4.845-7.785ZM.452-9.59H-3.211a8.721,8.721,0,0,1-1.34-1.831h3.143L.446-9.6Zm-2.891-2.852H-5.011a8.667,8.667,0,0,1-.581-3.114l3.154,3.108Zm6.883-3.377h0l-.121-.124a4.716,4.716,0,0,1,0-6.668l.124-.126.126.126a4.722,4.722,0,0,1,0,6.668l-.124.124Z" transform="translate(9.601 30.5)" fill="#fff"/>
    </g>
    <g id="Сгруппировать_2873" data-name="Сгруппировать 2873" transform="translate(35.542 20.774)">
      <path class="color" id="Контур_24844" data-name="Контур 24844" d="M.691,0C.309.951-1.524,2.471-1.524,4.026A2.18,2.18,0,0,0,.611,6.25h.08A2.18,2.18,0,0,0,2.907,4.1V4.026C2.907,2.471,1.074.951.691,0M.377,5.669A1.513,1.513,0,0,1-1.011,4.156,1.754,1.754,0,0,1-.794,3.3,2.236,2.236,0,0,0,.856,5.576a1.006,1.006,0,0,1-.478.093" transform="translate(1.524)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2874" data-name="Сгруппировать 2874" transform="translate(35.541 31.902)">
      <path id="Контур_24845" data-name="Контур 24845" d="M1.983,0C.887,2.728-4.372,7.072-4.372,11.553a6.252,6.252,0,0,0,6.125,6.374c.076,0,.153,0,.23,0a6.251,6.251,0,0,0,6.355-6.144c0-.076,0-.153,0-.23C8.338,7.072,3.079,2.728,1.983,0m-.9,16.245A4.341,4.341,0,0,1-2.9,11.9a5.025,5.025,0,0,1,.622-2.471,6.417,6.417,0,0,0,4.733,6.541,2.907,2.907,0,0,1-1.374.27" transform="translate(4.373)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2875" data-name="Сгруппировать 2875" transform="translate(3.71 -0.001)">
      <path id="Контур_24846" data-name="Контур 24846" d="M2.683.037a.363.363,0,0,1,.461-.064.4.4,0,0,1,.145.483L.818,7.078,5.35,8.453a.365.365,0,0,1,.243.266c.035.145-.01.3-.222.7l-8.464,8.5c0-.17-.157-.134-.291-.183a.41.41,0,0,1-.067-.033.4.4,0,0,1-.145-.483L-1.13,10.6-5.66,9.221A.362.362,0,0,1-5.9,8.953a.453.453,0,0,1,.116-.414Z" transform="translate(5.916 0.082)" fill="#46c5b0"/>
    </g>
    <g id="Сгруппировать_2876" data-name="Сгруппировать 2876" transform="translate(0 19.056)">
      <path id="Контур_24847" data-name="Контур 24847" d="M1.108.006A.121.121,0,0,1,1.254.02.136.136,0,0,1,1.26.189L-.086,2.158l1.374.821a.122.122,0,0,1,.057.106c0,.051-.025.1-.131.211L-2.253,5.391c.015-.057-.039-.057-.08-.084l-.019-.016a.132.132,0,0,1-.006-.169l1.35-1.971-1.372-.82a.121.121,0,0,1-.063-.106.146.146,0,0,1,.077-.131Z" transform="translate(2.442 0.013)" fill="#46c5b0"/>
    </g>
  </g>
</svg>
