section.index__parallax
	#scene.main
		.last-mount(data-depth="0.1")
			img(src="img/mount_last_layer.png", alt="")
		.text-container
			h3 Security system, reinvented.
			p Designed in Denmark with Scandinavian Simplicity
		.shadow.shadow-5(data-depth="1")
			img(src="img/shadow.png", alt="")
		.middle-mount-layer(data-depth="0.5")
			img(src="img/mount_middle_layer.png", alt="")
		.gadget(data-depth="0.5")
			img(src="img/gadget.png", alt="")
		.first-mount-layer(data-depth="0.8")
			img(src="img/mount_first_layer.png", alt="")
		.shadow.shadow-1(data-depth="1")
			img(src="img/shadow.png", alt="")
		.shadow.shadow-3(data-depth="1")
			img(src="img/shadow.png", alt="")
		.shadow.shadow-4(data-depth="1")
			img(src="img/shadow.png", alt="")

//- section.index__parallax
//-     div#scene
//-         div.last-mount(data-depth="0.1")
//-             img(src="img/mount_last_layer.png", alt="")
//-         div.gadget(data-depth="0.2")
//-             img(src="img/mount_prelast_layer.png", alt="")
//-         div.gadget(data-depth="0.4")
//-             img(src="img/mount_middle_layer.png", alt="")
//-         div.gadget(data-depth="0.5")
//-             img(src="img/gadget.png", alt="")
//- 		div.gadget(data-depth="0.8")
//-             img(src="img/mount_first_layer.png", alt="")
//-         div.gadget(data-depth="1")
//-             img(src="img/shadow.png", alt="")
