section.index__parallax
	#scene
		//- .last-mount1(data-depth="0.1")
		//- 	img(src="img/Grouped.png", alt="")
		.last-mount(data-depth="0.1")
			img(src="img/mount_last_layer.png", alt="")
		.text-container
			h3 Security system, reinvented.
			p Designed in Denmark with Scandinavian Simplicity
		.shadow.shadow-5(data-depth="1")
			img(src="img/shadow.png", alt="")
		.middle-mount-layer(data-depth="0.5")
			img(src="img/mount_middle_layer.png", alt="")
		.gadget(data-depth="0.5")
			img(src="img/gadget.png", alt="")
		.first-mount-layer(data-depth="0.8")
			img(src="img/mount_first_layer.png", alt="")
		.shadow.shadow-1(data-depth="1")
			img(src="img/shadow.png", alt="")
		.shadow.shadow-3(data-depth="1")
			img(src="img/shadow.png", alt="")
		.shadow.shadow-4(data-depth="1")
			img(src="img/shadow.png", alt="")
	.index__parallax__text
		p Easy to Install - Easy to use - Easy to evolve.
		h3 Because it’s so much easier.
		hr