//- section.index__parallax
//-     div#scene
//-         div(data-depth="0.1")
//-             img(src="img/горы последний слой.png", alt="")
//-         div(data-depth="0.2")
//-             img(src="img/горы предпоследний слой.png", alt="")
//-         div(data-depth="0.3")
//-             img(src="img/горы предпоследний слой.png", alt="")
//-         div(data-depth="0.4")
//-             img(src="img/горы средний слой.png", alt="")
//-         div(data-depth="0.5")
//-             img(src="img/прибор.png", alt="")
//-         div(data-depth="0.6")
//-             img(src="img/дымка на глвном фоне.png", alt="")
section.section-1.mt-5(style="overflow: hidden;border: 2px solid cadetblue;")
	#scene.scene
		div(data-depth="0.20")
			img(src="http://milkywaydoor.ru/image/exp/fon1.jpg" style="transform: scale(1.7);")
		div(data-depth="0.30")
			img(src="http://milkywaydoor.ru/image/exp/с1.png")
		div(data-depth="0.40")
			img(src="http://milkywaydoor.ru/image/exp/normany.png" style="position: relative;width: 700px;top: 100px;left: 200px;")
		div(data-depth="0.60")
			img(src="http://milkywaydoor.ru/image/exp/с2.png")
		div(data-depth="1.80")
			img(src="http://milkywaydoor.ru/image/exp/с3.png" style=" position: relative;top: 300px;transform: scale(1.2);")
//- http://milkywaydoor.ru/znania/web-stat/biblioteka-animate-css-primer/
//- https://atuin.ru/blog/parallaks-effekty-s-bibliotekoj-parallax-js/