section.use_case__filter
    .use_case__filter-wrapper.main
        .use_case__filter__container
            .use_case__filter__container__text
                h3  
                    i(class="fas fa-sliders-h") 
                    |Filter by
            .use_case__filter__container__manipulator
                .custom-select-wrapper(data-type="category")
                    .custom-select
                        .custom-select__trigger
                            span CATEGORY
                            span.arrow 
                                i.fas.fa-angle-up
                        .custom-options
                            span.custom-option(data-value="tesla") 
                                |Tesla
                                i.fas.fa-times
                            span.custom-option(data-value="volvo") 
                                |Volvo
                                i.fas.fa-times
                            span.custom-option(data-value="nisan") 
                                |Nisan
                                i.fas.fa-times
                            span.custom-option(data-value="mitsubisi")
                                |Mitsubisi
                                i.fas.fa-times
                            span.custom-option(data-value="opel")
                                |Opel
                                i.fas.fa-times
                            span.custom-option(data-value="mercedes") 
                                |Mercedes Benz L Class
                                i.fas.fa-
                .custom-select-wrapper(data-type="products")
                    .custom-select
                        .custom-select__trigger
                            span PRODUCTS
                            span.arrow 
                                i.fas.fa-angle-up
                        .custom-options
                                span.custom-option.selected(data-value="tesla1") 
                                    |Tesla
                                    i.fas.fa-times
                                span.custom-option(data-value="volvo1") 
                                    |Volvo
                                    i.fas.fa-times
                                span.custom-option(data-value="nisan1") 
                                    |Nisan
                                    i.fas.fa-times
                                span.custom-option(data-value="mitsubisi1")
                                    |Mitsubisi
                                    i.fas.fa-times
                                span.custom-option(data-value="opel1")
                                    |Opel
                                    i.fas.fa-times
                                span.custom-option(data-value="mercedes1") 
                                    |Mercedes Benz L Class
                                    i.fas.fa-times
        .use_case__filter__selectedoptions
            .use_case__filter__selectedoptions__element
                span
                    = "Filter name sdfgfsd gsfd gs" + val
                    i.fas.fa-times
            each val in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
                .use_case__filter__selectedoptions__element
                    span
                        = "Filter name " + val
                        i.fas.fa-times
        .use_case__filter__filtermanipul
            button Remove all filters


    //- .use_case__filter-list
    //-     .use_case__filter-list__filter.checked-filter
    //-         span Filter by 1
    //-         .checker 
    //-             i.fas.fa-check
    //-     each val, index in [1,2,3,4,5,6,7,8,9,10,11,12]
    //-         .use_case__filter-list__filter
    //-             span Filter by 1
    //-             .checker 
    //-                 i.fas.fa-check
    //- .use_case__filter-remove
    //-     button(disabled) Remove filters
    //-     button Remove filters