@import '../../../mixins/media';
@import '../../../mixins/text';
section.page_garbarit__differentcolorblock {
  padding: 75px 0;
  // margin-bottom: 74px;
  // margin-top: 48px;
  @include media-tablet {
    padding: 50px 0 50px;
    // margin-bottom: 40px;
  }
  &.add-padding {
    padding: 120px 0 123px;
    @include media-tablet {
      padding: 90px 0 90px;
    }
  }
  &.blue {
    background: #005b9d 0% 0% no-repeat padding-box;
    .page_garbarit__differentcolorblock-wrap {
      @include hblock('h3', 45px, 300, 56px) {
        color: #ffffff;
        @include media-tablet {
          font: normal normal normal 22px/28px Mulish;
        }
      }
      p {
        color: #ffffff;
      }
    }
  }
  &.gray {
    .page_garbarit__differentcolorblock-wrap {
      @include hblock('h3', 45px, 300, 56px) {
        color: #333333;
        @include media-tablet {
          font: normal normal normal 22px/28px Mulish;
        }
      }
      p {
        color: #333333;
      }
    }
  }
  .page_garbarit__differentcolorblock-wrap {
    @include media-tablet {
      width: 90%;
      margin: 0 auto;
    }
    @include hblock('h3', 45px, 300, 56px) {
      color: #333333;
      margin-bottom: 10px;
      @include media-tablet {
        font: normal normal normal 22px/28px Mulish;
      }
    }

    p {
      font: normal normal 300 18px/23px Mulish;
      letter-spacing: 0px;
      opacity: 1;
      @include media-tablet {
        font: normal normal normal 14px/18px Mulish;
      }
    }
  }
}
