// для синего цвета добавить класс blue в page_gabarit__blockwithimg
section.page_gabarit__blockwithimg
    .page_gabarit__blockwithimg__wrap.main
        h3 Devices that can work with this feature
        .page_gabarit__blockwithimg__wrap__container
            each val in [1,2,3]
                .page_gabarit__blockwithimg__wrap__element.left
                    .page_gabarit__blockwithimg__wrap__element__img
                        img(src="https://gagadget.com/media/post_big/xiaomi-mi-robot-vacuum-cleaner-1s-m.jpg", alt="") 
                    .page_gabarit__blockwithimg__wrap__element__text
                        h3 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices.
    .page_gabarit__blockwithimg__wrap.main
        h3 Devices that can work with this feature
        .page_gabarit__blockwithimg__wrap__container
            each val in [1,2,3]
                .page_gabarit__blockwithimg__wrap__element.center
                    .page_gabarit__blockwithimg__wrap__element__img
                        img(src="https://gagadget.com/media/post_big/xiaomi-mi-robot-vacuum-cleaner-1s-m.jpg", alt="") 
                    .page_gabarit__blockwithimg__wrap__element__text
                        h3 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices.