section.use_case__scrollheader
    .use_case__scrollheader-content
        h2 Title use cases list page
    .use_case__scrollheader-content-container__picker
        h3 1 Filters
        i(class="fas fa-sliders-h")