section.productpage__pageheader_sticky
    .productpage__pageheader_sticky-wrap.main
        .productpage__pageheader_sticky-wrap-containter
            .productpage__pageheader_sticky-wrap-headblock
                img(src="img/detector.png", alt="alt")
                h1 Water Leak Detector
                span.productpage__pageheader_sticky-headblock-disqount -50%
            .productpage__pageheader_sticky-wrap-manipulator 
                span.counter-price.old  69
                    sup €99
                span.counter-price 49
                    sup €99
        .productpage__pageheader_sticky-wrap-manipulator-container.main-btn
            .productpage__pageheader_sticky-wrap-manipulator-withprice
                button BUY
        .productpage__pageheader_sticky-wrap-manipulator-container.overlay
            .productpage__pageheader_sticky-wrap-manipulator-data
                    button( class="minus"): i(class="fas fa-minus")
                    span.text 2
                    button.plus: i(class="fas fa-plus")
            .productpage__pageheader_sticky-wrap-manipulator-withprice
                button.buy-button 
                    i(class="fas fa-shopping-basket")
                    span ADD TO CART
            .productpage__pageheader_sticky-wrap-manipulator-successbuying
               p 
                i(class="fas fa-check") 
                span 2 new added to cart

        //- .productpage__pageheader_sticky-wrap-manipulator-container
        //-     .productpage__pageheader_sticky-wrap-manipulator-data
        //-             button(disabled="disabled" class="minus"): i(class="fas fa-minus")
        //-             span.text 0
        //-             button.plus: i(class="fas fa-plus")
        //-     .productpage__pageheader_sticky-wrap-manipulator-withprice
        //-         button 
        //-             i(class="fas fa-shopping-basket")
        //-             span ADD TO CART
                


