section.productpage__pageheader_sticky
    //- .product-out
    .productpage__pageheader_sticky-wrap.main.animation-container
        .productpage__pageheader_sticky-wrap-containter
            .productpage__pageheader_sticky-wrap-headblock
                img.img-draggable(src="img/detector.png", alt="alt")
                h2 Water Leak Detector
                span.productpage__pageheader_sticky-headblock-disqount -50%
            .productpage__pageheader_sticky-wrap-manipulator 
                span.counter-price.old  69
                    sup €99
                span.counter-price 49
                    sup €99
        //- p.outstock En rupture de stock
        .productpage__pageheader_sticky-wrap-manipulator-container.main-btn
            .productpage__pageheader_sticky-wrap-manipulator-withprice
                button BUY
        .productpage__pageheader_sticky-wrap-manipulator-container.manipulator-container.overlay
            .productpage__pageheader_sticky-wrap-manipulator-data
                    button( class="minus"): i(class="fas fa-minus")
                    span.text.price-container 2
                    button.plus: i(class="fas fa-plus")
            .productpage__pageheader_sticky-wrap-manipulator-withprice
                button.buy-button 
                    i(class="fas fa-shopping-basket")
                    span ADD TO CART
            .productpage__pageheader_sticky-wrap-manipulator-successbuying
                p 
                    i(class="fas fa-check") 
                    span.desktop 2 new added to cart
                .template(style='display: none') 1 ; new added to cart


