section.index__morewithless
    //- .index__morewithless__head
    //-     p Easy to Install - Easy to use - Easy to evolve.
    //-     h3 Because it’s so much easier.
    //-     hr
    .index__morewithless__wrap
        .index__morewithless__blockwithbutton
            hr
            h3 Do much more, with less.
            p All-in one solution
            button.index__morewithless__blockwithbutton__btn Discover how it works
            button.index__morewithless__blockwithbutton__btn Discover use cases
        .index__morewithless__blockwithhover
            a(href="").index__morewithless__blockwithhover__element
                .index__morewithless__blockwithhover__element__img
                    include shield/index
                    include fire/index
                .index__morewithless__blockwithhover__element__text
                    h3 Secure your properties
                    p Se protéger contre les intrusions non souhaités
                .index__morewithless__blockwithhover__element__arrow
                    i.fas.fa-chevron-right
            a(href="").index__morewithless__blockwithhover__element
                .index__morewithless__blockwithhover__element__img
                    include ring/index
                    include lock/index
                .index__morewithless__blockwithhover__element__text
                    h3 Receive notifications
                    p Be alerted in case of any event such as water leakage or fire
                .index__morewithless__blockwithhover__element__arrow
                    i.fas.fa-chevron-right
            a(href="").index__morewithless__blockwithhover__element
                .index__morewithless__blockwithhover__element__img
                    include hands/index
                .index__morewithless__blockwithhover__element__text
                    h3 Protect your loved ones
                    p Detect fires and smoke, preserve your health...
                .index__morewithless__blockwithhover__element__arrow
                    i.fas.fa-chevron-right
            a(href="").index__morewithless__blockwithhover__element
                .index__morewithless__blockwithhover__element__img
                    include elder/index
                .index__morewithless__blockwithhover__element__text
                    h3 Make your elders safe
                    p Detect fires and smoke, preserve your health...
                .index__morewithless__blockwithhover__element__arrow
                    i.fas.fa-chevron-right
            a(href="").index__morewithless__blockwithhover__element
                .index__morewithless__blockwithhover__element__img
                    include energy/index
                .index__morewithless__blockwithhover__element__text
                    h3 Save energy
                    p Understand and reduce your daily energy consumption
                .index__morewithless__blockwithhover__element__arrow
                    i.fas.fa-chevron-right
            a(href="").index__morewithless__blockwithhover__element
                .index__morewithless__blockwithhover__element__img
                    include sofa/index
                .index__morewithless__blockwithhover__element__text
                    h3 Improve your daily comfort
                    p Create scenarios and automate according to your needs
                .index__morewithless__blockwithhover__element__arrow
                    i.fas.fa-chevron-right
        .index__morewithless__buttons
            button.index__morewithless__blockwithbutton__btn Discover how it works
            button.index__morewithless__blockwithbutton__btn Discover use cases