@import '../../../mixins/media';
@import '../../../mixins/text';

section.page_gabarit__twobigblockperline {
  &.blue {
    background: #005b9d 0% 0% no-repeat padding-box;
    @include hblock('h2', 40px, normal, 50px) {
      color: white;
      opacity: 1;
      margin-bottom: 30px;
    }
    .page_gabarit__twobigblockperline__wrap {
      * {
        color: white !important;
      }
      .page_gabarit__twobigblockperline__wrap__element {
        .page_gabarit__twobigblockperline__wrap__element__text {
          @include hblock('h3', 40px, normal, 50px) {
            color: white;
          }
          p {
            color: white;
          }
        }
      }
    }
  }
  padding-bottom: 43px;
  @include media-tablet {
    padding-bottom: 15px;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
  @include hblock('h2', 40px, normal, 50px) {
    color: #28373b;
    opacity: 1;
    margin-bottom: 30px;
    @include media-tablet {
      font: normal normal normal 22px/28px 'Mulish', sans-serif;
    }
  }

  .page_gabarit__twobigblockperline__wrap {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    // grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 41px;
    grid-row-gap: 41px;
    @include media-tablet {
      grid-template-columns: 1fr;
    }
    .page_gabarit__twobigblockperline__wrap__element {
      display: flex;
      flex-flow: column wrap;
      // margin: 20px auto;
      // flex: 0 1 48%;
      @include media-tablet {
        // flex: none;
        width: 100%;
        margin: 0;
      }
      // &:nth-child(even) {
      //   margin-right: 0;
      // }
      // &:nth-child(odd) {
      //   margin-left: 0;
      // }
      .page_gabarit__twobigblockperline__wrap__element__img {
        margin-bottom: 31px;
        img {
          border-radius: 10px;
          // @include media-tablet {
          //   border-radius: 15px;
          // }
        }
      }
      .page_gabarit__twobigblockperline__wrap__element__text {
        @include hblock('h3', 40px, normal, 50px) {
          color: #28373b;
          opacity: 1;
          margin-bottom: 30px;
          @include media-tablet {
            font: normal normal normal 18px/25px 'Mulish', sans-serif;
          }
        }
        :last-child {
          margin: 0;
        }
        // h3 {
        //   font: normal normal normal 40px/50px 'Mulish',sans-serif;
        //   letter-spacing: 0px;
        //   color: #28373b;
        //   opacity: 1;
        //   margin-bottom: 30px;
        //   @include media-tablet {
        //     font: normal normal normal 20px/25px 'Mulish',sans-serif;
        //   }
        // }
        p {
          font: normal normal 300 18px/23px 'Mulish', sans-serif;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
          margin-bottom: 20px;
          @include media-tablet {
            font: normal normal 300 14px/18px 'Mulish', sans-serif;
          }
        }
      }
    }
  }
}
