@import '../../../mixins/media';

section.index__parallax {
  position: relative;
  top: -70px;
  user-select: none;
  @include media-tablet {
    top: inherit;
  }
  * {
    pointer-events: none;
    user-select: none;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16%;
    background: transparent linear-gradient(180deg, #ffffff 32%, #ffffff00 100%)
      0% 0% no-repeat padding-box;
    z-index: 1;
    @include media-tablet {
      display: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42%;
    background: transparent linear-gradient(0deg, #ffffff 42%, #ffffff00 100%)
      0% 0% no-repeat padding-box;
    // background: red;
    z-index: 1;
  }
  @include media-tablet {
    margin-top: 60px;
  }
  #scene {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;
    // background: red;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 20%;
      height: 100%;
      background: transparent
        linear-gradient(90deg, #ffffff 30%, #ffffff00 100%) 0% 0% no-repeat
        padding-box;
      z-index: 1;
      @include media-tablet {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      width: 20%;
      height: 100%;
      transform: scale(-1);
      background: transparent
        linear-gradient(90deg, #ffffff 30%, #ffffff00 100%) 0% 0% no-repeat
        padding-box;
      z-index: 1;
      @include media-tablet {
        display: none;
      }
    }
    .last-mount {
      // max-height: calc(100vh - 97px - 114px);
      transition: transform 1s ease;
      img {
        width: 100%;
        // min-height: 700px;
        // height: calc(100vh - 97px - 114px);
        // max-height: calc(100vh - 97px - 114px);
        // max-height: 869px;
        // height: 100%;
        @include media-tablet {
          // height: 100%;
          height: 711px;
          max-height: 711px;
        }
      }
    }
    .container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .first-mount-layer {
      transform: scale(1.1) translate(40px, 0px);
      // transform: scale(1.11);
      transition: transform 1.3s ease;
      position: absolute;
      bottom: 0;
      @include media-tablet {
        // bottom: 14%;
        // bottom: -17%;
        // bottom: -14%;
        bottom: -16%;
        transform: scale(2.5);
        // transform: scale(3);
      }
      @media screen and (max-width: 700px) {
        bottom: -15%;
        transform: scale(3);
      }
      @media screen and (max-width: 670px) {
        bottom: -5%;
        transform: scale(2.5);
      }
      @media screen and (max-width: 550px) {
        bottom: 3%;
        transform: scale(3);
      }
      @media screen and (max-width: 470px) {
        bottom: 2%;
      }
      @media screen and (max-width: 425px) {
        bottom: 5%;
      }
      @media screen and (max-width: 400px) {
        // bottom: 16%;
        bottom: 5%;
      }
      @media screen and (max-width: 360px) {
        // bottom: 21%;
        bottom: 13%;
      }
    }
    .middle-mount-layer {
      transition: transform 1s ease;
      position: absolute;
      top: 22%;
      img {
        @include media-tablet {
          // height: 100%;
          height: 1332px;
        }
      }
    }
    .text-container {
      position: absolute;
      transition: top 1s ease;
      top: 60%;
      left: 15%;
      // z-index: 2;
      @include media-tablet {
        padding-left: 40px;
        top: 5%;
        left: 0%;
      }
      h3 {
        margin-bottom: 5px;
        font: normal normal 800 32px/40px Muli;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        @include media-tablet {
          font: normal normal 800 22px/28px Muli;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
        }

        @media screen and (max-width: 1100px) {
          font: normal normal 800 25px/28px Muli;
        }
      }
      p {
        font: normal normal normal 26px/33px Muli;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        @include media-tablet {
          font: normal normal normal 18px/23px Muli;
          letter-spacing: 0px;
          color: #333333;
          opacity: 1;
        }

        @media screen and (max-width: 1100px) {
          font: normal normal normal 17px/23px Muli;
        }
      }
    }
    .gadget {
      position: absolute;
      transition: bottom 1s ease;
      bottom: -20%;
      //   right: 15%;
      // right: 22%;
      right: 27%;
      // width: 27%;
      width: 23%;
      //   width: 25%;
      @include media-tablet {
        // width: 35%;
        // width: 49%;
        // right: 15%;
        // // bottom: 31%;
        // // bottom: 18%;
        // bottom: 22%;
        width: 39%;
        right: 15%;
        bottom: 15%;
      }
      @media screen and (max-width: 700px) {
        right: 17%;
        bottom: 17%;
      }
      @media screen and (max-width: 670px) {
        // bottom: 24%;
        // width: 50%;
        bottom: 20%;
        width: 40%;
      }
      // @media screen and (max-width: 605px) {
      //   bottom: 24%;
      // }
      @media screen and (max-width: 550px) {
        bottom: 26%;
      }
      @media screen and (max-width: 470px) {
        bottom: 25%;
        width: 50%;
      }
      @media screen and (max-width: 425px) {
        // bottom: 35%;
        // width: 58%;
        bottom: 24%;
        width: 53%;
        right: 10%;
      }
      @media screen and (max-width: 400px) {
        bottom: 20%;
        // bottom: 33%;
        // width: 55%;
      }
      @media screen and (max-width: 360px) {
        // bottom: 37%;
        bottom: 25%;
        right: 5%;
        width: 65%;
      }
    }
    .shadow {
      position: absolute;
      transition: bottom 1s ease;
      &.shadow-1 {
        bottom: 10%;
        left: 0;
      }
      &.shadow-2 {
        bottom: 10%;
        left: 20%;
      }
      &.shadow-2 {
        bottom: 10%;
        left: 40%;
      }
      &.shadow-3 {
        bottom: 10%;
        left: 60%;
      }
      &.shadow-4 {
        bottom: 10%;
        left: 90%;
      }
      &.shadow-5 {
        bottom: 10%;
        left: 20%;
      }
    }
  }
  .index__parallax__text {
    opacity: 0;
    z-index: 1;
    transition: all 1s ease;
    // position: relative;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    // margin-bottom: 70px;
    // margin-bottom: 140px;
    &.transform-block {
      opacity: 1;
      // transform:translate(0,-150px);
      transform: translate(-50%, -5%);
      @media screen and (max-width: 1100px) {
        transform: translate(-50%, -5%);
      }
      @media screen and (max-width: 1000px) {
        transform: translate(0, -5%);
      }
    }
    @media screen and (max-width: 1000px) {
      // bottom: 0%;
      position: relative;
      top: -70px;
      left: inherit;
      transform: translate(0%, 100%);
    }
    @include media-tablet {
      opacity: 1;
      margin-bottom: 30px;
      transform: translate(0%, -5%);
    }
    @media screen and (max-width: 425px) {
      top: -60px;
      transform: translate(0%, -5%);
    }
    p {
      text-align: center;
      font: normal normal normal 18px/23px Muli;
      letter-spacing: 0px;
      color: #333333;
      text-transform: uppercase;
      opacity: 1;
      margin-bottom: 9px;
      @include media-tablet {
        font: normal normal normal 16px/20px Muli;
        letter-spacing: 0px;
        color: #333333;
        text-transform: uppercase;
        opacity: 1;
      }
    }
    h3 {
      text-align: center;
      font: normal normal 800 30px/38px Muli;
      letter-spacing: 0px;
      color: #333333;
      opacity: 1;
      @include media-tablet {
        font: normal normal 800 22px/28px Muli;
        letter-spacing: 0px;
        color: #333333;
        opacity: 1;
        margin-bottom: 30px;
      }
    }
    hr {
      display: none;
      @include media-tablet {
        display: block;
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}
