section.cart__vaucher
    h3 Do you have a promo code or a voucher?
    .cart__vaucher__manipulator
        input.cart__vaucher__manipulator__input(type="text" placeholder="Enter the code here")
        button.cart__vaucher__manipulator__btn APPLY