section.productpage__inourapp
    .productpage__inourapp-wrap.main
        h2 In Nearsens app
        .productpage__inourapp-content
            .productpage__inourapp-content__img
                img(src="https://lostfilm.info/images/photo/5/108518_47462.jpg", alt="alt")
            .productpage__inourapp-content__blocks
                each val in [1,2,3,4]
                    .productpage__inourapp-content__blocks-element
                        img(data-type="logo" src="https://www.thewowstyle.com/wp-content/uploads/2015/02/Beautiful-Wallpapers-14.jpg", alt="alt")
                        h3 Text lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices diam id

