section.cart__havegateway
    .cart__havegateway__information
        .cart__havegateway__information__img
            img(src="img/product1.png", alt="")
        .cart__havegateway__information__text
            h3 Do you already have a gateway for the localisation your want to equip ?
            p 
                |Theses devices won’t work without a main gateway. 
                a(href="") See how it works > 
    .cart__havegateway__manipulator
        button.cart__havegateway__information__btn.gotone 
            i.fas.fa-thumbs-up
            |I GOT ONE
        button.cart__havegateway__information__btn.addtocart ADD TO MY CART
    .cart__havegateway__checked.unshow
        span.got_one_text
            i.fas.fa-check
            |I GOT ONE
        button.change_answer Change my answer