@import './blocks/contacts.scss';
@import './component/input.scss';

section.checkout_page__content {
  padding: 82px 0 155px;
  height: 5000px;
  background: red;
  > svg {
    margin-bottom: 75.3px;
  }
}
