section.productpage__pageheader.product-out
    .productpage__pageheader__container
        <picture>
            <source media="(max-width:450px)" srcset="img/SmalmgProductPage.png">
            source(media="(max-width:1023px)", srcset="img/siren_banner_325x650.png")
            //- <source media="(max-width:768px)" srcset="img/SmalmgProductPage.png">
            <img src="img/product_photo.png" alt="Flowers">
        </picture>
        //- img(src="img/product_photo.png", alt="alt")
        .productpage__pageheader-wrapimgoverlay
            .productpage__pageheader-wrap.main
                .productpage__pageheader-wrap-container
                    .productpage__pageheader-wrap-headblock
                        img(src="img/detector.png", alt="alt")
                        h1 Water Leak Detector
                        span.productpage__pageheader-wrap-headblock-disqount -50%
                    .productpage__pageheader-wrap-textblock
                        h2 The Water Leak Detector includes a temperature sensor providing early warnings to help avoid or reduce potential damage from leaks.
                        span Does not work without the 
                            a(href="") Nearsens' Gateway
                    .productpage__pageheader-wrap-manipulator
                        .productpage__pageheader-wrap-manipulator-containerprice
                            span.counter-price.old  69
                                sup €99
                            span.counter-price 49
                                sup €99
                            span.productpage__pageheader-wrap-headblock-disqount -50%
                        p.outstock En rupture de stock
                        //- .productpage__pageheader-wrap-manipulator-container
                        //-     .productpage__pageheader-wrap-manipulator-data
                        //-             button( class="minus"): i(class="fas fa-minus")
                        //-             span.text 1
                        //-             button.plus: i(class="fas fa-plus")
                        //-     .productpage__pageheader-wrap-manipulator-withprice
                        //-         button.buy-button 
                        //-             i(class="fas fa-shopping-basket")
                        //-             |ADD TO CART
                        //-     .productpage__pageheader-wrap-manipulator-successbuying
                        //-         p 
                        //-             i(class="fas fa-check") 
                        //-             span 2 new added to cart
                        //-         .template(style='display: none') 1 ; new added to cart


