@import 'navigation/index';
@import 'dashboard/index';
@import 'sticky/index';
@import 'order/index';
@import 'myaccountdetails/index';
@import 'myaccountaddress/index';

@import '../../mixins/media';
@import '../../utils/variables';
.graybg {
  background: #f2f2f2 0% 0% no-repeat padding-box;
}
.woocommerce-myaccountpage {
  padding: 80px 0;
  min-height: calc(100vh - 85px - 64px);
  display: grid;
  grid-template-columns: fit-content(100%) 1fr;
  grid-template-rows: auto;
  grid-gap: 40px;
  @include media-forHEADER {
    @include media-tablet {
      grid-template-columns: 1fr;
      width: 94%;
      grid-gap: 40px - 25px;
      overflow: inherit;
      min-height: inherit;
    }
  }
}
