section.productpage__posibletodowithdevice{
    margin-bottom:81px;
    .productpage__posibletodowithdevice__header{
        display:flex;
        justify-content:space-between;
        margin-bottom:20px;
        h3{
            font: normal normal normal 32px/40px Muli;
            letter-spacing: 0px;
            color: #28373B;
            opacity: 1;
        }
        .productpage__posibletodowithdevice__header-btn{
            margin-left:30px;
            display:flex;
            border: 1px solid #2EC9AD;
            border-radius: 40px;
            opacity: 1;
            padding:9px 20px;
            font: normal normal bold 18px/23px Muli;
            letter-spacing: 0px;
            color: #2EC9AD;
            opacity: 1;
            cursor:pointer;
            background:transparent;
            &:hover{
                color:white;
                background:#2EC9AD;
            }
        }
    }
    .productpage__posibletodowithdevice__content{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;
        .productpage__posibletodowithdevice__content-element{
            flex:0 1 30%;
            max-width:393px;
            box-shadow: 0px 0px 10px #0000001A;
            border-radius: 10px;
            overflow:auto;
            img{
                width:100%;
                max-height:250px;
                object-fit:cover;
            }
            .productpage__posibletodowithdevice__content-element-text{
                padding:30px;
                h3{
                    font: italic normal normal 16px/20px Muli;
                    letter-spacing: 0px;
                    color: #6D7476;
                    opacity: 1;
                    margin-bottom:5px;
                }
                p{
                    font: normal normal normal 26px/33px Muli;
                    letter-spacing: 0px;
                    color: #28373B;
                    opacity: 1;
                }
            }
        }
    }
}