@import 'pageheader/index';
@import 'textblockwithlogo/index';
@import 'textblockwithplus/index';
@import 'blockacconts/index';
@import 'bluelinkcards/index';
@import 'differentcolorblock/index';
@import 'blockwithimg/index';
@import 'blockwithbigimg/index';
@import 'twobigblockperline/index';
@import 'fourblocks/index';
@import 'bigblueblock/index';
@import 'blockaccordion/index';
@import 'oneblockwithimg/index';
@import 'gradientblock/index';
@import '../../mixins/text';
@import '../../utils/variables.scss';

.custom-block {
  @include hblockPAGEGABARIT() {
  }
  a {
    text-decoration: none;
    color: #005b9d;
    font-weight: bold;
    background-color: transparent;
  }
}
