<svg class="invert-collor" xmlns="http://www.w3.org/2000/svg" width="35.776" height="46.25" viewBox="0 0 35.776 46.25">
    <path d="M0,1.6,17.957-3.362,35.776,1.6v24.06C32.766,36.233,17.858,42.888,17.858,42.888S3.153,36.416,0,25.662Z" transform="translate(0 3.362)" fill="#fff"/>
</svg>