section.page_gabarit__headermoreover
    .page_gabarit__headermoreover__wrap.main
        .page_gabarit__headermoreover__elem.selected
            .page_gabarit__headermoreover__img
                include shield/index
            h2 Secure your properties
        .page_gabarit__headermoreover__elem
            .page_gabarit__headermoreover__img
                include hands/index
            h2 Protect your loved ones
        .page_gabarit__headermoreover__elem
            .page_gabarit__headermoreover__img
                include elder/index
            h2 Support your elders
        .page_gabarit__headermoreover__elem
            .page_gabarit__headermoreover__img
                include energy/index
            h2 Save energy
        .page_gabarit__headermoreover__elem
            .page_gabarit__headermoreover__img
                include sofa/index
            h2 Improve your comfort
        .page_gabarit__headermoreover__elem
            .page_gabarit__headermoreover__img
                include ring/index
            h2 Receive alerts
       
        