section.productlist__additionaltips
   .productlist__posibilities-wrap
    each val, index in [1,2,3,4]
        .productlist__additionaltips-list-element
            img(src="https://images.unsplash.com/photo-1445277547562-477f4b504b7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80", alt="")
            .productlist__additionaltips-list-element-text
                h3 Free shipping
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
