
section.checkout_page__content__contact
    .checkout_page__content__contact__head
        h3 Contact information
    .checkout_page__content__contact__manip
        .checkout_page__content__contact__manip__check
            label.checkout_page__checkbox
                | A new customer
                input(type='checkbox')
                span.checkmark
                span.border
            label.checkout_page__checkbox
                | I have an account
                input(type='checkbox')
                span.checkmark
                span.border
        .checkout_page__content__contact__manip__input
            .checkout_page__input
                input(type="email" placeholder="Email")
            .checkout_page__input
                input(type="password" placeholder="Password")
            //- .checkout_page__input
            //-     include ../../../components/dropdown
        .checkout_page__content__contact__manip__btncont
            a.checkout_page__content__contact__manip__btn SIGN IN