section.page_gabarit__buyblock.animation-container
    .page_gabarit__buyblock__wrap.main
        .page_gabarit__buyblock__container
            h2 Nearsens devices recommended to protect your home and belongings
            .product-list
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .vertical-line(style='grid-row-end:5;')
            h2 Nearsens devices recommended to protect your home and belongings
            .product-list
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        button.button.minus(disabled): i(class="fas fa-minus")
                        span.price-product 1
                        button.button.plus: i(class="fas fa-plus")
                .product
                    .product__img 
                        img(src="http://nearsens.urich.work/wp-content/uploads/2021/01/Gateway_Icon_Image.png", alt="")
                    .product__txt
                        h3 Opening detector
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .product__manip
                        p.outstock Out of stock
                        //- button.button.minus(disabled): i(class="fas fa-minus")
                        //- span.price-product 1
                        //- button.button.plus: i(class="fas fa-plus")
                .vertical-line(style='grid-row-end:5;')
        .page_gabarit__buyblock__manipulator.manipulator-container
            span.price-container 25
            .page_gabarit__buyblock__btn
                button.buy-button 
                    //- i.fad.fa-spinner.rotating
                    i(class="fas fa-shopping-basket")
                    span ADD TO CART
            .page_gabarit__buyblock__btn__successbuying
                p 
                    span.mobile +1
                    i(class="fas fa-check")
                    span.desktop 25 new added to cart
                .template.one(style='display: none')  1 new added to cart
                .template.many(style='display: none') 1 ; many added to cart
